Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

feat(node/test): remove flaky sync tests
  tests/node/common/sync_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/sequencer): try to force tx inclusion
  crates/node/service/src/actors/sequencer/actor.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/e2e-test): make transaction inclusion test parallel
  tests/node/common/tx_inclusion_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/sequencer): try to fix sequencer for kurtosis
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/service/src/actors/sequencer/actor.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/test): sequencer restart test
  tests/node/restart/sequencer_restart_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): rewrite connection drop and sync tests
  tests/go.mod
  tests/go.sum
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): run all e2e tests in sysgo
  tests/node/common/p2p_test.go
  tests/node/kurtosis/engine_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): connection drop test
  tests/node/common/conn_drop_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fixing kurtosis ws rpc string name
  tests/node/kurtosis/engine_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/e2e-tests): add restart tests (#2747)
  tests/node/common/conn_drop_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fixing kona nodes connectivity test
  tests/node/common/cpu_monitor_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): add tx inclusion test
  tests/node/common/conn_drop_test.go
  tests/node/common/restart_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/test): fix sync test
  tests/node/common/sync_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(node/e2e-test): move transfer tests to common folder
  tests/node/common/cpu_monitor_test.go
  tests/node/common/sync_test.go
  tests/node/common/tx_inclusion_test.go
  tests/node/kurtosis/engine_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/e2e-tests): add restart tests
  tests/node/common/conn_drop_test.go
  tests/node/common/restart_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): fix tx inclusion test
  tests/node/common/tx_inclusion_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): run all e2e tests in sysgo
  tests/node/common/cpu_monitor_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fixing kona nodes connectivity test
  tests/node/common/p2p_test.go
  tests/node/kurtosis/cpu_monitor_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/test): fix sync test
  tests/node/common/sync_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): add websocket endpoint to sysgo tests
  tests/node/common/engine_test.go
  tests/node/common/sync_ws_test.go
  tests/node/common/tx_inclusion_test.go
  tests/node/common/ws.go
  tests/node/kurtosis/engine_test.go
  tests/node/kurtosis/mod.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node): fix endpoint parsing for kurtosis
  crates/node/rpc/src/ws.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/test): remove flaky sync tests
  tests/node/common/sync_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): remove kurtosis tests folder
  .github/workflows/node_e2e_kurtosis_tests.yaml
  tests/node/common/cpu_monitor_test.go
  tests/node/kurtosis/init_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

review fixes
  crates/supervisor/core/src/syncnode/resetter.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix CLI
  bin/supervisor/README.md
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(bin): refactor cli for rollup binary
  Cargo.lock
  bin/host/src/bin/host.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/metrics.rs
  bin/rollup/Cargo.toml
  bin/rollup/README.md
  bin/rollup/build.rs
  bin/rollup/src/cli.rs
  bin/rollup/src/main.rs
  bin/rollup/src/version.rs
  bin/supervisor/src/cli.rs
  bin/supervisor/src/flags/metrics.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/flags/globals.rs
  crates/utilities/cli/src/flags/log.rs
  crates/utilities/cli/src/flags/metrics.rs
  crates/utilities/cli/src/flags/mod.rs
  crates/utilities/cli/src/flags/overrides.rs
  crates/utilities/cli/src/lib.rs
  crates/utilities/cli/src/log.rs
  crates/utilities/cli/src/logs.rs
  crates/utilities/cli/src/tracing.rs
  examples/discovery/src/main.rs
  examples/execution-fixture/src/main.rs
  examples/gossip/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

remove metrics
  bin/supervisor/src/flags/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

unify casing to "OP Stack"
  bin/supervisor/README.md
  crates/node/peers/src/nodes.rs
  crates/proof/executor/README.md
  crates/supervisor/core/src/logindexer/util.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

docs: fix incorrect crates.io link path
  docs/docs/pages/sdk/protocol/protocol/frames.mdx
Owners: @clabby, @refcell, @emhane, @theochap

fix(preimage): add length check before writing to channel
  crates/proof/preimage/src/oracle.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix: remove redundant log message
  crates/proof/preimage/src/oracle.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update Monorepo Revision
  .config/monorepo
Owners: @clabby, @refcell, @emhane, @theochap

Update channel.rs
  crates/proof/std-fpvm/src/channel.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update justfile
  docker/apps/justfile
Owners: @clabby, @refcell, @emhane, @theochap

Update intro.mdx
  docs/docs/pages/sdk/protocol/derive/intro.mdx
Owners: @clabby, @refcell, @emhane, @theochap

fix: correct SHA short length in rollup build script
  bin/rollup/build.rs
Owners: @clabby, @refcell, @emhane, @theochap

docs: fix typos and inaccuracies
  crates/batcher/comp/src/ratio.rs
  tests/README.md
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

create PreState tests to cover transition, active_l2_chain_id
  crates/proof/proof-interop/src/pre_state.rs
Owners: @clabby, @refcell, @emhane, @theochap

refactor: make create_test_transition_state dynamic
  crates/proof/proof-interop/src/pre_state.rs
Owners: @clabby, @refcell, @emhane, @theochap

add tests to reach 98% coverage
  crates/proof/proof-interop/src/pre_state.rs
Owners: @clabby, @refcell, @emhane, @theochap

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
