Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap

feat!(bin/node): Remove `--l2.provider` flag
  bin/node/README.md
  bin/node/src/commands/node.rs
  crates/node/engine/src/client.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/service/standard/builder.rs
  docker/recipes/kona-node/docker-compose.yaml
  docs/docs/pages/node/configuration.mdx
  docs/docs/pages/node/design/sequencer.mdx
  docs/docs/pages/node/run/binary.mdx
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

case fixed
  crates/supervisor/core/src/safety_checker/cross.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(workspace): Add `theochap` as author
  Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix doctests
  crates/node/engine/README.md
  crates/node/engine/src/client.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/service/standard/builder.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update conductor_test.go
  tests/node/conductor_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update blobs.rs
  crates/providers/providers-alloy/src/blobs.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update actor.rs
  crates/node/service/src/actors/sequencer/actor.rs
Owners: @clabby, @refcell, @emhane, @theochap

patch(node): fix macos builds
  crates/node/sources/src/signer/remote/cert.rs
  crates/node/sources/src/signer/remote/handler.rs
Owners: @clabby, @refcell, @emhane, @theochap

pr feedback
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/core/src/supervisor.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

handling reorg concurrently for each chain
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/core/src/reorg/mod.rs
  crates/supervisor/core/src/reorg/task.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

patch(node/conductor): fix sync start rpc
  .github/workflows/e2e_tests.yaml
  crates/node/engine/src/query.rs
  crates/node/engine/src/state/core.rs
  tests/devnets/first-kona-conductor.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/service): Allow for sequencer catchup
  crates/node/engine/src/query.rs
  crates/node/service/src/actors/sequencer/actor.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/service): Allow for sequencer catchup (#2602)
  crates/node/engine/src/query.rs
  crates/node/service/src/actors/sequencer/actor.rs
Owners: @clabby, @refcell, @emhane, @theochap

patch(node/conductor): reverting the sync state changes
  crates/node/engine/src/query.rs
  crates/node/engine/src/state/core.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/service): Expose standalone `healthz` endpoint
  crates/node/service/src/actors/rpc.rs
Owners: @clabby, @refcell, @emhane, @theochap

add supervisor:: to target in logs
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/core/src/reorg/task.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update wrapper.rs
  crates/protocol/protocol/src/batch/tx_data/wrapper.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update error.rs
  crates/supervisor/core/src/error.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

add progress log, code pattern change
  crates/supervisor/core/src/reorg/task.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

renamed util
  crates/supervisor/core/src/safety_checker/cross.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

initial commit
  Cargo.lock
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/chain_processor/actor.rs
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/error.rs
  crates/supervisor/core/src/chain_processor/handlers/cross_chain.rs
  crates/supervisor/core/src/chain_processor/handlers/finalized.rs
  crates/supervisor/core/src/chain_processor/handlers/invalidation.rs
  crates/supervisor/core/src/chain_processor/handlers/origin.rs
  crates/supervisor/core/src/chain_processor/handlers/safe_block.rs
  crates/supervisor/core/src/chain_processor/mod.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/actor.rs
  crates/supervisor/core/src/syncnode/client.rs
  crates/supervisor/core/src/syncnode/command.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/core/src/syncnode/traits.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

release(kona-node): 0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/peers/Cargo.toml
  crates/node/rpc/Cargo.toml
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/protocol/comp/Cargo.toml
  crates/protocol/derive/Cargo.toml
  crates/protocol/genesis/Cargo.toml
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/interop/Cargo.toml
  crates/protocol/protocol/Cargo.toml
  crates/protocol/registry/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/macros/Cargo.toml
  crates/utilities/serde/Cargo.toml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

added l1 exhaust event handling
  crates/supervisor/core/src/syncnode/actor.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/resetter.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(bin): remove unused discovery binary
  bin/node/src/commands/discover.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(providers-alloy): Claude vs Copilot
  Cargo.lock
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
  crates/providers/providers-alloy/src/beacon_client.rs
  crates/providers/providers-alloy/src/blobs.rs
  crates/providers/providers-alloy/src/chain_provider.rs
  crates/providers/providers-alloy/src/l2_chain_provider.rs
  crates/providers/providers-alloy/src/lib.rs
  crates/providers/providers-alloy/src/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

init metrics
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/flags/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

remove duplication
  crates/providers/providers-alloy/src/blobs.rs
Owners: @clabby, @refcell, @emhane, @theochap

Apply suggestion from @Copilot
  crates/providers/providers-alloy/src/l2_chain_provider.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix feat prop
  crates/node/sources/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(kurtosis): update upstream to match optimism package
  tests/justfile
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

update: grafana dash
  docker/recipes/kona-node/grafana/dashboards/overview.json
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

release(kona-node): 1.0.0-rc.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  crates/node/service/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

feat: Add observability to rewind progress #2593
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat: Add observability to rewind progress #2593
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat: updates
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update Monorepo Revision
  .config/monorepo
Owners: @clabby, @refcell, @emhane, @theochap

reset managed node after rewinding db
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/core/src/reorg/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/resetter.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

swap resetter with managed node controller
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/core/src/reorg/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/node.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

revert resetter visibility
  crates/supervisor/core/src/syncnode/resetter.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap
