Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

chore(node/p2p): fix udeps
  Cargo.lock
  crates/node/service/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update backtrace.rs
  crates/utilities/cli/src/backtrace.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update globals.rs
  bin/node/src/flags/globals.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/p2p): nit
  crates/node/service/tests/actors/utils.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(ga): only run claude once per pull request
  .github/workflows/claude-code-review.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(node/services): remove files from the interop actor
  crates/node/rpc/src/interop/api.rs
  crates/node/rpc/src/interop/error.rs
  crates/node/rpc/src/interop/mod.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node): remove reference of interop module from higher up module
  crates/node/rpc/src/lib.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/runtime): remove remaining runtime references in kona
  Cargo.lock
  bin/node/src/commands/net.rs
  bin/node/src/flags/p2p.rs
  crates/node/sources/Cargo.toml
  crates/node/sources/src/lib.rs
  crates/node/sources/src/runtime/config.rs
  crates/node/sources/src/runtime/error.rs
  crates/node/sources/src/runtime/loader.rs
  crates/node/sources/src/runtime/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/p2p): extend network actor tests
  Cargo.lock
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/network/builder.rs
  crates/node/service/tests/actors/generator/block_builder.rs
  crates/node/service/tests/actors/generator/mod.rs
  crates/node/service/tests/actors/generator/seed.rs
  crates/node/service/tests/actors/mod.rs
  crates/node/service/tests/actors/network/mocks.rs
  crates/node/service/tests/actors/network/mocks/allocator.rs
  crates/node/service/tests/actors/network/mocks/builder.rs
  crates/node/service/tests/actors/network/mocks/mod.rs
  crates/node/service/tests/actors/network/mod.rs
  crates/node/service/tests/actors/network/p2p.rs
  crates/node/service/tests/actors/network/sequencer.rs
  crates/node/service/tests/actors/utils.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/p2p): simplify p2p channels to reduce test flakiness
  Cargo.lock
  bin/node/src/flags/p2p.rs
  crates/node/gossip/src/driver.rs
  crates/node/service/src/actors/network/builder.rs
  crates/node/service/src/actors/network/config.rs
  crates/node/service/src/actors/network/driver.rs
  crates/node/service/tests/actors/network/mocks/allocator.rs
  crates/node/service/tests/actors/network/mocks/builder.rs
  crates/node/service/tests/actors/network/mocks/mod.rs
  crates/node/service/tests/actors/network/sequencer.rs
  examples/gossip/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(node/service): remove unused dep
  Cargo.lock
  crates/node/rpc/Cargo.toml
  crates/node/service/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(node): updating cargo lock
  Cargo.lock
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: update P2P component references in README
  README.md
Owners: @clabby, @refcell, @emhane, @theochap

fix: typo in code comment
  crates/proof/std-fpvm/src/types.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix: typo in comment
  crates/proof/std-fpvm/src/channel.rs
Owners: @clabby, @refcell, @emhane, @theochap

trigger reorg handler on startup
  Cargo.lock
  crates/supervisor/core/src/reorg/task.rs
  crates/supervisor/service/Cargo.toml
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

using trace for logging, fail service on error
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

remove code duplication
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: complete incomplete comment in ChannelOut config field
  crates/protocol/comp/src/channel_out.rs
Owners: @clabby, @refcell, @emhane, @theochap

created wrapper methods
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

reuse handler
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Fix exclude superchain-registry in hyperlink check
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Exclude kona-registry from hyperlink check
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Exclude .gitmodules
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Exclude foo.bar
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(docs): p2p scoring example
  docs/docs/pages/sdk/examples/p2p-peer-scoring.mdx
  docs/sidebar.ts
Owners: @clabby, @refcell, @emhane, @theochap

feat(docs): custom derivation pipeline example
  docs/docs/pages/sdk/examples/custom-derivation-pipeline.mdx
  docs/docs/pages/sdk/examples/intro.mdx
  docs/sidebar.ts
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/bootstrap): fix kona node bootstrap in kurtosis
  crates/node/disc/src/builder.rs
  crates/node/disc/src/driver.rs
  crates/node/disc/src/error.rs
  crates/node/peers/src/store.rs
  tests/justfile
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

fixes
  docs/docs/pages/sdk/examples/custom-derivation-pipeline.mdx
  docs/sidebar.ts
Owners: @clabby, @refcell, @emhane, @theochap

feat(docs): kurtosis sequencing test
  docs/docs/pages/sdk/examples/kurtosis-sequencing-test.mdx
  docs/sidebar.ts
Owners: @clabby, @refcell, @emhane, @theochap

Update crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(sources): remove unused metrics
  Cargo.lock
  bin/node/Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/node/sources/src/lib.rs
  crates/node/sources/src/metrics.rs
  crates/node/sources/src/sync/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update command.rs
  crates/supervisor/core/src/syncnode/command.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update traits.rs
  crates/supervisor/core/src/syncnode/traits.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(docker): Add back cannon reproducible build
  bin/client/justfile
  crates/proof/std-fpvm/src/tracing.rs
  docker/cannon/mips64-unknown-none.json
  docker/fpvm-prestates/cannon-repro.dockerfile
Owners: @clabby, @refcell, @emhane, @theochap

changed log level
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(supervisor): e2e ci
  .github/workflows/e2e_tests_supervisor.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

pr feedback
  crates/supervisor/core/src/l1_watcher/watcher.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
