Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap

Fix parse config
  .github/workflows/rust_ci.yaml
  lychee.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Add back localhost to exclude list
  lychee.toml
Owners: @clabby, @refcell, @emhane, @theochap

Fix broken links in custom-backend doc
  docs/docs/pages/sdk/proof/custom-backend.mdx
  docs/docs/pages/sdk/proof/fpvm-backend.mdx
  docs/docs/pages/sdk/protocol/derive/providers.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Fix exclude path
  lychee.toml
Owners: @clabby, @refcell, @emhane, @theochap

Fix links in kona-derive intro doc
  docs/docs/pages/sdk/protocol/derive/intro.mdx
  docs/docs/pages/sdk/protocol/derive/providers.mdx
  docs/docs/pages/sdk/protocol/derive/signaling.mdx
  docs/docs/pages/sdk/protocol/derive/stages.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Fix more broken links
  docs/docs/pages/node/design/p2p.mdx
  docs/docs/pages/sdk/examples/batch-to-frames.mdx
  docs/docs/pages/sdk/protocol/derive/providers.mdx
  docs/docs/pages/sdk/protocol/derive/signaling.mdx
  docs/docs/pages/sdk/protocol/derive/stages.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Exclude all change logs
  .github/workflows/rust_ci.yaml
  lychee.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fixup! Exclude all change logs
  lychee.toml
Owners: @clabby, @refcell, @emhane, @theochap

Fix link
  docs/docs/pages/sdk/proof/custom-backend.mdx
Owners: @clabby, @refcell, @emhane, @theochap

fixup! fixup! Exclude all change logs
  lychee.toml
Owners: @clabby, @refcell, @emhane, @theochap

added l2 reorg acceptance tests
  tests/go.mod
  tests/go.sum
  tests/supervisor/reorgs/init_exec_msg_test.go
  tests/supervisor/reorgs/init_test.go
  tests/supervisor/reorgs/invalid_exec_msgs_test.go
  tests/supervisor/reorgs/unsafe_head_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

added test link
  tests/supervisor/reorgs/init_exec_msg_test.go
  tests/supervisor/reorgs/invalid_exec_msgs_test.go
  tests/supervisor/reorgs/unsafe_head_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

included reorgs test on action
  .github/workflows/e2e_tests_supervisor.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

add reorg metrics to grafana
  docker/apps/kona_app_generic.dockerfile
  docker/recipes/kona-node/docker-compose.yaml
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

rollback unnecessary changes
  docker/apps/kona_app_generic.dockerfile
  docker/recipes/kona-node/docker-compose.yaml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

add remaining metrics from reorg
  crates/supervisor/service/src/service.rs
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

renamed to l2reorg
  .github/workflows/e2e_tests_supervisor.yaml
  tests/supervisor/l2reorg/init_exec_msg_test.go
  tests/supervisor/l2reorg/init_test.go
  tests/supervisor/l2reorg/invalid_exec_msgs_test.go
  tests/supervisor/l2reorg/unsafe_head_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Try exclude change log via args
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(ci): Update zepter configuration
  .config/zepter.yaml
  Cargo.lock
  crates/protocol/genesis/Cargo.toml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

add abs value panel
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fixup! Try exclude change log via args
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fixup! Try exclude change log via args
  .github/workflows/rust_ci.yaml
  lychee.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Try fix check mdx files again
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Read only markup and html files
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Read mdx files
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Add code comment
  lychee.toml
Owners: @clabby, @refcell, @emhane, @theochap

chore: fix typo 'Providers' -> 'Provides'
  crates/proof/mpt/src/noop.rs
Owners: @clabby, @refcell, @emhane, @theochap

add 0x to adress
  crates/protocol/protocol/src/predeploys.rs
Owners: @clabby, @refcell, @emhane, @theochap

add usage metrics to prometheus and grafana
  Cargo.lock
  Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/prometheus.rs
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore: bump alloy deps
  Cargo.lock
  Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): update optimism fork path
  tests/go.mod
  tests/go.sum
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fixing kona nodes connectivity test
  tests/node/common/p2p_test.go
  tests/node/kurtosis/cpu_monitor_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): adding op-deployer-artifacts-var
  tests/justfile
  tests/node/kurtosis/init_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): adding init file for kurtosis tests
  .github/workflows/node_e2e_sysgo_tests.yaml
  tests/node/kurtosis/init_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fix gh actions
  .github/workflows/node_e2e_sysgo_tests.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fixing cpu monitor test
  tests/node/kurtosis/cpu_monitor_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Fix file extension
  .github/workflows/lychee.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat: enabled tracing ini derivation_provider tests
  Cargo.lock
  crates/supervisor/storage/Cargo.toml
  crates/supervisor/storage/src/providers/derivation_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

reporting changed to 60s
  crates/utilities/cli/src/prometheus.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(test/sysgo): fixing kurtosis ws rpc string name
  tests/node/kurtosis/engine_test.go
  tests/node/kurtosis/mod.go
  tests/node/kurtosis/sync_ws_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap
