Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap

avoid unnecessary HashMap collection
  crates/supervisor/core/src/l1_watcher/watcher.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

add test for SuperchainConsolidator::craft_replacement_transaction
  crates/proof/proof-interop/src/consolidation.rs
Owners: @clabby, @refcell, @emhane, @theochap

add kona-std-fpvm to proof-interop workspace for consolidation test
  Cargo.lock
  crates/proof/proof-interop/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update service.rs
  crates/supervisor/service/src/service.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update oracle.rs
  crates/proof/preimage/src/oracle.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update Monorepo Revision
  .config/monorepo
Owners: @clabby, @refcell, @emhane, @theochap

add tests to reach 100% coverage in proof-interop/hint.rs
  crates/proof/proof-interop/src/hint.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore: fix problematic comment
  tests/node/utils/mod.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: key unpacking & IP address handling
  examples/gossip/src/main.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix main
  Cargo.lock
  bin/rollup/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix ci
  .github/workflows/node_e2e_sysgo_tests.yaml
  tests/supervisor/pre_interop/init_test.go
  tests/supervisor/presets/interop_minimal.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node): use canonical --l2-engine-jwt-secret in CLI example
  bin/node/src/commands/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

deps updated
  Cargo.lock
  Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(ci): fix supervisor sysgo test path
  .github/workflows/supervisor_e2e_sysgo.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

docs: fix broken link to struct rollup configs
  docs/docs/pages/sdk/protocol/registry.mdx
Owners: @clabby, @refcell, @emhane, @theochap

chore(supervisor): fix dashboard path as per optimism package
  docker/recipes/kona-supervisor/grafana/dashboards/dashboard.yml
  docker/recipes/kona-supervisor/grafana/dashboards/kona-supervisor.json
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

grafana dashboard added
  tests/devnets/preinterop-supervisor.yaml
  tests/devnets/simple-supervisor.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/proof): publish proof artifacts
  .github/workflows/publish_artifacts.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

reorg log refactored
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/reorg/handler.rs
  crates/supervisor/core/src/reorg/task.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Decrease codecov lower bound from 90 to 80
  .github/codecov.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(proof): prestate artifacts job works
  .github/workflows/publish_artifacts.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: udeps
  Cargo.lock
  crates/providers/providers-local/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(node/deps): update rocksdb version
  Cargo.lock
  Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/l1-reorg): add l1 reorg tests
  .gitignore
  crates/protocol/protocol/src/batch/span.rs
  tests/node/reorgs/init_test.go
  tests/node/reorgs/l2_reorg_after_l1_reorgs_test.go
  tests/node/reorgs/l2_reorg_test.go
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

fix(node/derivation): fixes the derivation pipeline to get the reorg tests to pass
  crates/node/service/src/actors/engine/actor.rs
  crates/protocol/derive/src/stages/batch/batch_stream.rs
  crates/protocol/protocol/src/batch/span.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/ci): fix sysgo ci
  .github/workflows/node_e2e_sysgo_tests.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: remove extra blank line to pass fmt check
  bin/client/src/fpvm_evm/precompiles/utils.rs
Owners: @clabby, @refcell, @emhane, @theochap

set lychee config
  lychee.toml
Owners: @clabby, @refcell, @emhane, @theochap

fix blur CLI
  bin/node/src/flags/rpc.rs
  docs/docs/pages/node/configuration.mdx
Owners: @clabby, @refcell, @emhane, @theochap

update executor customization for alloy-evm
  docs/docs/pages/sdk/proof/exec-ext.mdx
Owners: @clabby, @refcell, @emhane, @theochap

farther cleanup of anyhow in CLI and rollup
  Cargo.lock
  bin/rollup/Cargo.toml
  bin/rollup/src/cli.rs
  bin/rollup/src/error.rs
  bin/rollup/src/main.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/error.rs
  crates/utilities/cli/src/flags/globals.rs
  crates/utilities/cli/src/flags/metrics.rs
  crates/utilities/cli/src/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

chore(supervisor): interactive flow
  bin/supervisor/interactive_flow.html
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

show full system on load
  bin/supervisor/interactive_flow.html
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/ci): report coverage information from the sysgo tests
  .github/codecov.yml
  .github/workflows/node_e2e_sysgo_tests.yaml
  tests/justfile
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/sequencer): attempt to unblock engine when building on a sequencer payload
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/mod.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/error.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/mod.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/lib.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(ci/codedov): fix codecov
  .github/codecov.yml
  .github/workflows/node_e2e_sysgo_tests.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

- Revert to `unimplemented!()` in rollup CLI - Remove unnecessary rollup error types - Simplify CLI error variants to tuple structs - Use specific BuildError for metrics errors
  Cargo.lock
  bin/rollup/Cargo.toml
  bin/rollup/src/cli.rs
  bin/rollup/src/error.rs
  bin/rollup/src/main.rs
  crates/utilities/cli/src/error.rs
  crates/utilities/cli/src/flags/globals.rs
  crates/utilities/cli/src/flags/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix lint
  bin/rollup/src/cli.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/tests): update go commit
  tests/go.mod
  tests/go.sum
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(ci): add codecov flags
  .github/codecov.yml
  .github/workflows/node_e2e_sysgo_tests.yaml
  .github/workflows/proof.yaml
  .github/workflows/rust_ci.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap
