Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap

fix: unnecessary ]
  bin/host/src/backend/offline.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix: misleading comment in read_rollup_config function
  bin/host/src/single/cfg.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix: standardize TODO comment formatting
  crates/supervisor/rpc/src/jsonrpsee.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: standardize TODO comment formatting
  crates/supervisor/types/src/types.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

test: add comments to explain tests; cargo fmt
  crates/proof/proof-interop/src/pre_state.rs
Owners: @clabby, @refcell, @emhane, @theochap

lint fix
  crates/proof/proof-interop/src/pre_state.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update monitoring.mdx
  docs/docs/pages/node/monitoring.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update batch-to-frames.mdx
  docs/docs/pages/sdk/examples/batch-to-frames.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update frames-to-batch.mdx
  docs/docs/pages/sdk/examples/frames-to-batch.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update targets.mdx
  docs/docs/pages/sdk/fpp-dev/targets.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update custom-backend.mdx
  docs/docs/pages/sdk/proof/custom-backend.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update version.rs
  bin/rollup/src/version.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update common.rs
  crates/supervisor/storage/src/models/common.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update overview.mdx
  docs/docs/pages/intro/overview.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update why.mdx
  docs/docs/pages/intro/why.mdx
Owners: @clabby, @refcell, @emhane, @theochap

Update derivation.mdx
  docs/docs/pages/node/design/derivation.mdx
Owners: @clabby, @refcell, @emhane, @theochap

fix: ChannelOut last-frame flag set after read
  crates/batcher/comp/src/channel_out.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(bin/node): allow advertised ports to be automatically chosen by the client
  bin/node/src/commands/node.rs
  bin/node/src/flags/p2p.rs
Owners: @clabby, @refcell, @emhane, @theochap

remove `default_value`
  bin/node/src/flags/p2p.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/test): fix op-deployer config
  tests/.config/optimism_package.json
  tests/justfile
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

revert
  docs/docs/pages/sdk/examples/frames-to-batch.mdx
Owners: @clabby, @refcell, @emhane, @theochap

docs: fix typos
  crates/batcher/comp/src/ratio.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/test): update to latest version of monorepo
  tests/go.mod
  tests/go.sum
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/test): update kurtosis. fix unused deps
  Cargo.lock
  bin/rollup/Cargo.toml
  mise.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/bin): update tracing subscriber. fix cargo hack deps
  Cargo.lock
  Cargo.toml
  crates/utilities/cli/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/test): fix connection drop tests
  tests/node/restart/conn_drop_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): try to fix restart tests
  tests/node/restart/restart_test.go
  tests/node/restart/sequencer_restart_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/test): improve connection drop tests
  tests/node/common/engine_test.go
  tests/node/common/sync_ws_test.go
  tests/node/common/ws.go
  tests/node/restart/conn_drop_test.go
  tests/node/restart/restart_test.go
  tests/node/utils/ws.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/tests): fix test files and config
  mise.toml
  tests/devnets/first-kona-conductor.yaml
  tests/devnets/large-kona-sequencer.yaml
  tests/devnets/large-kona.yaml
  tests/devnets/preinterop-supervisor.yaml
  tests/devnets/simple-kona-conductor.yaml
  tests/devnets/simple-kona-geth.yaml
  tests/devnets/simple-kona-sequencer.yaml
  tests/devnets/simple-kona.yaml
  tests/devnets/simple-supervisor.yaml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

fix(node/tests): fix kurtosis ci
  mise.toml
  tests/devnets/first-kona-conductor.yaml
  tests/devnets/large-kona-sequencer.yaml
  tests/devnets/large-kona.yaml
  tests/devnets/preinterop-supervisor.yaml
  tests/devnets/simple-kona-conductor.yaml
  tests/devnets/simple-kona-geth.yaml
  tests/devnets/simple-kona-sequencer.yaml
  tests/devnets/simple-kona.yaml
  tests/devnets/simple-supervisor.yaml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

fix(node/test): fix websocket
  crates/node/rpc/src/ws.rs
  tests/node/restart/conn_drop_test.go
  tests/node/utils/ws.go
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

fix(docs): correct return type documentation for header_by_hash
  crates/proof/executor/src/db/traits.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/test): fix restart tests
  tests/node/restart/conn_drop_test.go
  tests/node/restart/restart_test.go
  tests/node/restart/sequencer_restart_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

refactor
  bin/client/src/fpvm_evm/precompiles/utils.rs
Owners: @clabby, @refcell, @emhane, @theochap

sync reth version
  Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Use CL bootnodes
  crates/node/peers/src/nodes.rs
Owners: @clabby, @refcell, @emhane, @theochap

import msm_required_gas directly instead of re-exporting
  bin/client/src/fpvm_evm/precompiles/bls12_g1_msm.rs
  bin/client/src/fpvm_evm/precompiles/bls12_g2_msm.rs
  bin/client/src/fpvm_evm/precompiles/utils.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update mod.rs
  bin/client/src/interop/mod.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update transition.rs
  bin/client/src/interop/transition.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update offline.rs
  bin/host/src/backend/offline.rs
Owners: @clabby, @refcell, @emhane, @theochap
