Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

Fix lint
  crates/node/rpc/src/jsonrpsee.rs
Owners: @clabby, @refcell, @emhane, @theochap

Fix lint
  crates/node/rpc/src/jsonrpsee.rs
Owners: @clabby, @refcell, @emhane, @theochap

docs(docker): Add default ports to `kona-node` recipe README
  docker/recipes/kona-node/README.md
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(supervisor/core): added invalidated block on managed node
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/syncnode/client.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/core/src/syncnode/traits.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/service): Sequencer state metrics
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/metrics/mod.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/rpc): PR comments
  bin/node/src/commands/bootstore.rs
  bin/node/src/commands/info.rs
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  bin/node/src/flags/p2p.rs
  tests/README.md
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

feat(docker): add env var to specify cluster name
  docker/recipes/kona-node/cfg.env
  docker/recipes/kona-node/docker-compose.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/service): Sequencer attributes builder duration metrics
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/metrics/mod.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(docker): add env var to specify docker images
  docker/recipes/kona-node/cfg.env
  docker/recipes/kona-node/docker-compose.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(docker): add env var to specify grafana port
  docker/recipes/kona-node/cfg.env
  docker/recipes/kona-node/docker-compose.yaml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Apply suggestion from @Copilot
  crates/node/engine/src/task_queue/tasks/task.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/service): Sequencer block building job duration
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/metrics/mod.rs
Owners: @clabby, @refcell, @emhane, @theochap

fixes
  bin/node/src/commands/node.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/service): Conductor commitment time metric
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/metrics/mod.rs
Owners: @clabby, @refcell, @emhane, @theochap

test case fixed
  crates/supervisor/core/src/config/core_config.rs
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/error.rs
  crates/supervisor/core/src/safety_checker/mod.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/core/src/supervisor.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

added reorg integration to chain processor
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/rewinder/chain.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/error.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(docker): Sequencer visualizations in `kona-node` dashboard
  docker/recipes/kona-node/grafana/dashboards/overview.json
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

test fixed
  crates/supervisor/core/src/config/core_config.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

added missing metrics
  crates/supervisor/core/src/syncnode/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Define EntryNotFoundError
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/lib.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Fix lint tests
  crates/supervisor/core/src/error.rs
  crates/supervisor/core/src/rpc/server.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fixup! Fix lint tests
  crates/supervisor/core/src/rpc/server.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fixup! Fix lint tests
  crates/supervisor/core/src/rpc/server.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix: apply suggestions
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/origin_selector.rs
Owners: @clabby, @refcell, @emhane, @theochap

fixes: remove help flag
  bin/node/src/cli.rs
  bin/node/src/flags/globals.rs
  jwt.hex
Owners: @clabby, @refcell, @emhane, @theochap

fix: remove jwt
  jwt.hex
Owners: @clabby, @refcell, @emhane, @theochap

chore: add jwt hex to the gitignore
  .gitignore
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/engine): add metrics to record task success + failure
  crates/node/engine/src/task_queue/tasks/task.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/engine): Do not use FCU V1
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/versions.rs
Owners: @clabby, @refcell, @emhane, @theochap

fixes
  crates/proof/driver/src/core.rs
  crates/proof/driver/src/cursor.rs
  crates/proof/driver/src/executor.rs
  crates/proof/proof/src/boot.rs
  crates/proof/proof/src/errors.rs
  crates/protocol/derive/src/errors/pipeline.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(bin/node): add unit tests
  bin/node/src/commands/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

Update crates/supervisor/core/src/config/core_config.rs
  crates/supervisor/core/src/config/core_config.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

Update crates/supervisor/core/src/config/core_config.rs
  crates/supervisor/core/src/config/core_config.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

error modified
  crates/supervisor/core/src/config/core_config.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

fix(node/test): increase timeout for e2e test
  tests/node/p2p_test.go
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/engine): spike a dev api to get inner's engine state
  bin/node/src/flags/rpc.rs
  crates/node/engine/src/query.rs
  crates/node/engine/src/state/core.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/dev.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/rpc.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/rpc): rebase fixes
  crates/node/rpc/src/jsonrpsee.rs
Owners: @clabby, @refcell, @emhane, @theochap

release: kona-node 0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/peers/Cargo.toml
  crates/node/rpc/Cargo.toml
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/protocol/comp/Cargo.toml
  crates/protocol/derive/Cargo.toml
  crates/protocol/genesis/Cargo.toml
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/interop/Cargo.toml
  crates/protocol/protocol/Cargo.toml
  crates/protocol/registry/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
  crates/supervisor/rpc/Cargo.toml
  crates/supervisor/types/Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/macros/Cargo.toml
  crates/utilities/serde/Cargo.toml
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

initial commit
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/event/chain.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/types/src/types.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @clabby, @refcell, @emhane, @theochap

feat(node/engine): audit engine for bugs. rename forkchoice task -> synchronize task. move block building logic to build task
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/mod.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/error.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/finalize/error.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/error.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/synchronize/error.rs
  crates/node/engine/src/task_queue/tasks/synchronize/mod.rs
  crates/node/engine/src/task_queue/tasks/synchronize/task.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  docs/docs/pages/node/design/engine.mdx
Owners: @clabby, @refcell, @emhane, @theochap

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.toml @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
Cargo.lock @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
tests/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
docker/recipes/ @dhyaniarun1993 @itschaindev @sadiq1971 @clabby @refcell @emhane @theochap
