Repository op-rs/kona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

chore(node/engine): refactor process method
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/mod.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/service): L1 origin selector
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/actors/sequencer/origin_selector.rs
  crates/node/service/src/lib.rs
  crates/protocol/protocol/src/block.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/engine): Build task modifications for sequencing
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/service): Sequencer actor
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore: fix some minor issues in the comments
  crates/node/engine/src/client.rs
  crates/node/p2p/src/gossip/error.rs
  crates/node/service/src/service/standard/error.rs
  crates/node/sources/src/runtime/error.rs
  crates/supervisor/core/src/chain_processor/error.rs
  crates/supervisor/core/src/syncnode/error.rs
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

chore(node/service): cleanup services.
  bin/node/src/commands/node.rs
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/launcher.rs
  crates/node/rpc/src/lib.rs
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/finalizer.rs
  crates/node/service/src/actors/engine/mod.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/actors/runtime.rs
  crates/node/service/src/actors/supervisor/actor.rs
  crates/node/service/src/actors/traits.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/service): rebase on main
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/sequencer): refactor the sequencer module using the builder pattern
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/service): Have `EngineActor` produce reset request channel
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/service/core.rs
Owners: @clabby, @refcell, @emhane, @theochap

chore(node/rpc): unify RPC actor with the other actors
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/rpc.rs
  crates/node/p2p/README.md
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/launcher.rs
  crates/node/rpc/src/lib.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/mod.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/error.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/standard/node.rs
  examples/gossip/src/main.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(book): kona-node docs
  book/src/SUMMARY.md
  book/src/node/cli.md
  book/src/node/design/derivation.md
  book/src/node/design/engine.md
  book/src/node/design/intro.md
  book/src/node/design/p2p.md
  book/src/node/docker.md
  book/src/node/intro.md
  book/src/node/metrics.md
  book/src/node/run-a-node.md
  book/src/node/subcommands.md
Owners: @clabby, @refcell, @emhane, @theochap

fix(node/service): invert the channel arrows in the rollup node service
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/mod.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/actors/runtime.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/actors/supervisor/actor.rs
  crates/node/service/src/actors/supervisor/mod.rs
  crates/node/service/src/actors/traits.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
Owners: @clabby, @refcell, @emhane, @theochap

feat(book): node monitoring
  book/src/SUMMARY.md
  book/src/node/intro.md
  book/src/node/metrics.md
  book/src/node/monitoring.md
Owners: @clabby, @refcell, @emhane, @theochap

feat(book): add missing files
  book/src/node/design/runtime.md
  book/src/node/design/sequencer.md
  book/src/node/design/supervisor.md
Owners: @clabby, @refcell, @emhane, @theochap

feat(book): stash docker guide
  book/src/node/docker.md
  book/src/node/run-a-node.md
Owners: @clabby, @refcell, @emhane, @theochap

feat(node/service): Handle resets in `SequencerActor`
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/service/core.rs
Owners: @clabby, @refcell, @emhane, @theochap

removed --l2-engine-kind from kona
  bin/node/src/commands/node.rs
Owners: @clabby, @refcell, @emhane, @theochap

propagates errors raised during NodeActor::start
  bin/node/src/commands/node.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/util.rs
Owners: @clabby, @refcell, @emhane, @theochap

fix: use all reset conditions
  crates/protocol/interop/src/event.rs
  crates/supervisor/core/src/syncnode/node.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @refcell, @emhane, @theochap, @clabby

feat(bin/node): L2 Chain ID Abstraction
  Cargo.lock
  bin/supervisor/src/flags/supervisor.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/block_validity.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/tests/common/mod.rs
  crates/proof/executor/src/builder/env.rs
  crates/protocol/genesis/Cargo.toml
  crates/protocol/genesis/src/chain/config.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/protocol/src/batch/core.rs
  crates/protocol/registry/src/test_utils/base_mainnet.rs
  crates/protocol/registry/src/test_utils/base_sepolia.rs
  crates/protocol/registry/src/test_utils/op_mainnet.rs
  crates/protocol/registry/src/test_utils/op_sepolia.rs
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

fix: udeps
  bin/host/src/interop/cfg.rs
  bin/node/src/commands/node.rs
  crates/node/p2p/Cargo.toml
Owners: @clabby, @refcell, @emhane, @theochap

Update Monorepo Revision
  .config/monorepo
Owners: @clabby, @refcell, @emhane, @theochap

chore(supervisor): grafana dashboard
  docker/recipes/kona-supervisor/grafana/dashboard/dashboard.yml
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Owners: @clabby, @refcell, @emhane, @theochap

Update docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Owners: @clabby, @refcell, @emhane, @theochap

added promoter to promote cross safe head
  Cargo.lock
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/event/chain.rs
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/mod.rs
  crates/supervisor/core/src/safety_checker/promoter.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/core/src/safety_checker/traits.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/traits.rs
  tests/supervisor/sync_test.go
Owners: @clabby, @refcell, @emhane, @theochap, @dhyaniarun1993, @itschaindev, @sadiq1971

added more test case
  crates/supervisor/core/src/safety_checker/task.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @refcell, @emhane, @theochap, @clabby

removed comment
  tests/supervisor/sync_test.go
Owners: @clabby, @refcell, @emhane, @theochap

.github/CODEOWNERS:

* @clabby @refcell @emhane @theochap
.github/ @dhyaniarun1993 @itschaindev @sadiq1971 @refcell @emhane @theochap @clabby
bin/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @refcell @emhane @theochap @clabby
crates/supervisor @dhyaniarun1993 @itschaindev @sadiq1971 @refcell @emhane @theochap @clabby
crates/protocol/interop/ @dhyaniarun1993 @itschaindev @sadiq1971 @refcell @emhane @theochap @clabby
