Repository op-rs/kona, pull requests merged in 2024-11, with the labels that each got.

#773 chore(ci): Use `PAT_TOKEN` for automated monorepo pin update
  .github/workflows/monorepo_pin_update.yaml
Labels: K-chore, A-ci

#774 chore(ci): Bump `asterisc` version
  .github/workflows/client_host.yaml
Labels: K-chore, A-ci

#775 chore(ci): Update monorepo pin to include Holocene action tests
  .monorepo
Labels: K-chore, A-ci

#778 fix(client): Trace extension support
  .monorepo
  Cargo.lock
  bin/client/Cargo.toml
  bin/client/src/errors.rs
  bin/client/src/kona.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l2/chain_provider.rs
  bin/client/src/lib.rs
  crates/derive-alloy/Cargo.toml
  crates/derive-alloy/src/alloy_providers.rs
  crates/derive-alloy/src/errors.rs
  crates/derive-alloy/src/lib.rs
  crates/derive/src/attributes/stateful.rs
  crates/derive/src/errors/pipeline.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/test_utils/chain_providers.rs
  crates/derive/src/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/providers.rs
Labels: A-derive, K-fix, A-client, H-holocene, A-derive-alloy

#768 feat(docs): Derivation Docs
  book/src/SUMMARY.md
  book/src/sdk/pipeline/intro.md
  book/src/sdk/pipeline/providers.md
  book/src/sdk/pipeline/signaling.md
  book/src/sdk/pipeline/stages.md
Labels: A-book, K-documentation

#779 feat(client): Remove `anyhow`
  Cargo.lock
  bin/client/Cargo.toml
  bin/client/src/boot.rs
  bin/client/src/errors.rs
  bin/client/src/fault/handler/bn128_pair.rs
  bin/client/src/fault/handler/ecrecover.rs
  bin/client/src/fault/handler/kzg_point_eval.rs
  bin/client/src/hint.rs
  bin/client/src/kona.rs
  bin/client/src/l1/blob_provider.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  crates/common-proc/src/lib.rs
  crates/derive/src/traits/data_sources.rs
Labels: K-feature, A-client

#780 feat(derive): `From<BlobProviderError> for PipelineErrorKind`
  bin/client/src/l1/driver.rs
  crates/derive-alloy/src/blob_provider.rs
  crates/derive/src/errors/sources.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/test_utils/blob_provider.rs
  crates/derive/src/traits/data_sources.rs
Labels: K-feature, A-derive, A-derive-alloy

#781 feat(derive): Hoist Types from Traits
  bin/client/src/l1/driver.rs
  crates/derive/src/attributes/stateful.rs
  crates/derive/src/errors/mod.rs
  crates/derive/src/errors/pipeline.rs
  crates/derive/src/lib.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch/batch_provider.rs
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/batch/batch_stream.rs
  crates/derive/src/stages/batch/batch_validator.rs
  crates/derive/src/stages/batch/mod.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/channel_bank.rs
  crates/derive/src/stages/channel/channel_provider.rs
  crates/derive/src/stages/channel/channel_reader.rs
  crates/derive/src/stages/channel/mod.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/test_utils/attributes_queue.rs
  crates/derive/src/test_utils/batch_provider.rs
  crates/derive/src/test_utils/batch_stream.rs
  crates/derive/src/test_utils/channel_provider.rs
  crates/derive/src/test_utils/channel_reader.rs
  crates/derive/src/test_utils/data_availability_provider.rs
  crates/derive/src/test_utils/frame_queue.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/pipeline.rs
  crates/derive/src/traits/stages.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/results.rs
  crates/derive/src/types/signals.rs
Labels: K-feature, A-derive

#782 fix(derive): Data Availability Provider Abstraction
  bin/client/src/l1/driver.rs
  book/src/sdk/pipeline/providers.md
  crates/derive-alloy/README.md
  crates/derive-alloy/src/pipeline.rs
  crates/derive/src/sources/blob_data.rs
  crates/derive/src/sources/blob_hash.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/mod.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/test_utils/data_availability_provider.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/mod.rs
Labels: A-derive, M-traits, K-fix

#783 chore: Clean up Codecov
  .github/codecov.yml
Labels: K-chore, A-workspace

#784 chore(derive): Error Test Coverage
  crates/derive/src/errors/pipeline.rs
  crates/derive/src/errors/sources.rs
Labels: K-chore, A-derive

#785 chore(derive-alloy): Test Coverage
  .github/codecov.yml
  crates/derive-alloy/src/errors.rs
Labels: K-chore, A-derive-alloy

#788 chore: Bump Alloy Deps
  Cargo.lock
  Cargo.toml
  bin/client/src/l1/blob_provider.rs
  bin/host/Cargo.toml
  bin/host/src/fetcher/mod.rs
  crates/derive-alloy/src/alloy_providers.rs
  crates/derive-alloy/src/beacon_client.rs
  crates/derive-alloy/src/blob_provider.rs
  crates/derive-alloy/src/test_utils.rs
  crates/derive/Cargo.toml
  crates/derive/src/sources/blob_hash.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/mod.rs
  crates/derive/src/test_utils/blob_provider.rs
  crates/derive/src/traits/data_sources.rs
  crates/mpt/src/test_util.rs
Labels: K-chore, A-workspace, F-deps

#787 feat(TrieProvider): Abstract TrieNode retrieval
  Cargo.lock
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l2/chain_provider.rs
  crates/executor/benches/execution.rs
  crates/executor/src/executor/mod.rs
  crates/mpt/Cargo.toml
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/noop.rs
  crates/mpt/src/test_util.rs
  crates/mpt/src/traits.rs
Labels: K-feature, A-mpt

#794 feat(driver): Refactor Driver out of Client
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/src/boot.rs
  bin/client/src/errors.rs
  bin/client/src/executor.rs
  bin/client/src/kona.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l1/mod.rs
  bin/client/src/l1/pipeline.rs
  bin/client/src/lib.rs
  crates/driver/Cargo.toml
  crates/driver/README.md
  crates/driver/src/core.rs
  crates/driver/src/cursor.rs
  crates/driver/src/errors.rs
  crates/driver/src/executor.rs
  crates/driver/src/lib.rs
  crates/driver/src/pipeline.rs
Labels: K-feature, A-client

#796 feat(driver): Abstract, Default Pipeline
  bin/client/src/l1/pipeline.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/traits/pipeline.rs
  crates/driver/src/core.rs
  crates/driver/src/lib.rs
  crates/driver/src/pipeline.rs
Labels: K-feature, A-derive, A-client

#797 fix(client): SyncStart Refactor
  Cargo.lock
  bin/client/src/kona.rs
  bin/client/src/l1/pipeline.rs
  bin/client/src/lib.rs
  bin/client/src/sync.rs
  crates/driver/src/cursor.rs
Labels: K-fix, A-client

#798 feat(driver,client): Pipeline Cursor Refactor
  bin/client/src/kona.rs
  bin/client/src/l1/pipeline.rs
  bin/client/src/sync.rs
  crates/driver/src/core.rs
  crates/driver/src/cursor.rs
  crates/driver/src/lib.rs
  crates/driver/src/tip.rs
Labels: K-feature, A-client

#805 chore(ci): Bump `monorepo` commit
  .monorepo
Labels: K-chore, A-ci

#811 chore(workspace): Migrate back to `thiserror` v2
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/src/errors.rs
  crates/common/Cargo.toml
  crates/common/src/errors.rs
  crates/derive/Cargo.toml
  crates/derive/src/errors/attributes.rs
  crates/derive/src/errors/pipeline.rs
  crates/derive/src/errors/sources.rs
  crates/derive/src/errors/stages.rs
  crates/derive/src/test_utils/attributes_queue.rs
  crates/derive/src/test_utils/chain_providers.rs
  crates/derive/src/test_utils/sys_config_fetcher.rs
  crates/driver/Cargo.toml
  crates/driver/src/errors.rs
  crates/executor/Cargo.toml
  crates/executor/src/errors.rs
  crates/mpt/Cargo.toml
  crates/mpt/src/errors.rs
  crates/mpt/src/node.rs
  crates/preimage/Cargo.toml
  crates/preimage/src/errors.rs
  crates/preimage/src/key.rs
Labels: K-chore, A-workspace, F-deps

#812 chore(common): Rename IO modules
  crates/common/src/io.rs
  crates/common/src/lib.rs
  crates/common/src/malloc.rs
  crates/common/src/mips32/io.rs
  crates/common/src/mips32/mod.rs
  crates/common/src/mips32/syscall.rs
  crates/common/src/riscv64/io.rs
  crates/common/src/riscv64/mod.rs
  crates/common/src/riscv64/syscall.rs
  crates/common/src/traits/basic.rs
  crates/common/src/traits/mod.rs
Labels: A-common, K-chore

#813 feat(mpt): Extend `TrieProvider` in `kona-executor`
  bin/client/src/executor.rs
  bin/client/src/fault/handler/mod.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l2/chain_provider.rs
  bin/client/src/sync.rs
  crates/executor/benches/execution.rs
  crates/executor/src/db/mod.rs
  crates/executor/src/db/traits.rs
  crates/executor/src/executor/builder.rs
  crates/executor/src/executor/env.rs
  crates/executor/src/executor/mod.rs
  crates/executor/src/lib.rs
  crates/executor/src/syscalls/canyon.rs
  crates/executor/src/syscalls/eip4788.rs
  crates/mpt/Cargo.toml
  crates/mpt/README.md
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/noop.rs
  crates/mpt/src/test_util.rs
  crates/mpt/src/traits.rs
Labels: K-feature, A-mpt, A-executor

#816 chore(workspace): Reorganize SDK
  Cargo.toml
  README.md
  crates/proof-sdk/common-proc/CHANGELOG.md
  crates/proof-sdk/common-proc/Cargo.toml
  crates/proof-sdk/common-proc/src/lib.rs
  crates/proof-sdk/common/CHANGELOG.md
  crates/proof-sdk/common/Cargo.toml
  crates/proof-sdk/common/README.md
  crates/proof-sdk/common/src/errors.rs
  crates/proof-sdk/common/src/executor.rs
  crates/proof-sdk/common/src/io.rs
  crates/proof-sdk/common/src/lib.rs
  crates/proof-sdk/common/src/linux.rs
  crates/proof-sdk/common/src/malloc.rs
  crates/proof-sdk/common/src/mips32/io.rs
  crates/proof-sdk/common/src/mips32/mod.rs
  crates/proof-sdk/common/src/mips32/syscall.rs
  crates/proof-sdk/common/src/riscv64/io.rs
  crates/proof-sdk/common/src/riscv64/mod.rs
  crates/proof-sdk/common/src/riscv64/syscall.rs
  crates/proof-sdk/common/src/traits/basic.rs
  crates/proof-sdk/common/src/traits/mod.rs
  crates/proof-sdk/common/src/types.rs
  crates/proof-sdk/common/src/zkvm/io.rs
  crates/proof-sdk/common/src/zkvm/mod.rs
  crates/proof-sdk/preimage/CHANGELOG.md
  crates/proof-sdk/preimage/Cargo.toml
  crates/proof-sdk/preimage/README.md
  crates/proof-sdk/preimage/src/errors.rs
  crates/proof-sdk/preimage/src/hint.rs
  crates/proof-sdk/preimage/src/key.rs
  crates/proof-sdk/preimage/src/lib.rs
  crates/proof-sdk/preimage/src/oracle.rs
  crates/proof-sdk/preimage/src/pipe.rs
  crates/proof-sdk/preimage/src/test_utils.rs
  crates/proof-sdk/preimage/src/traits.rs
Labels: K-chore, A-workspace

#817 feat(preimage): Decouple from `kona-common`
  Cargo.lock
  bin/client/src/fault/mod.rs
  bin/client/src/lib.rs
  bin/client/src/pipe.rs
  bin/host/src/lib.rs
  crates/proof-sdk/preimage/Cargo.toml
  crates/proof-sdk/preimage/src/errors.rs
  crates/proof-sdk/preimage/src/hint.rs
  crates/proof-sdk/preimage/src/lib.rs
  crates/proof-sdk/preimage/src/native_channel.rs
  crates/proof-sdk/preimage/src/oracle.rs
  crates/proof-sdk/preimage/src/test_utils.rs
  crates/proof-sdk/preimage/src/traits.rs
Labels: K-feature, A-preimage

#804 chore: v0.6.6 op-alloy
  Cargo.lock
  Cargo.toml
  bin/host/src/fetcher/mod.rs
  bin/host/src/providers/blob.rs
  crates/derive/src/attributes/stateful.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/stages/batch/batch_provider.rs
  crates/mpt/src/test_util.rs
Labels: F-deps

#822 chore(driver): Macro use tracing
  Cargo.lock
  crates/driver/src/core.rs
  crates/driver/src/lib.rs
  crates/driver/src/pipeline.rs
Labels: K-chore

#823 chore(workspace): macro use tracing
  crates/derive/src/lib.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/batch/batch_stream.rs
  crates/derive/src/stages/batch/batch_validator.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/channel_bank.rs
  crates/derive/src/stages/channel/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/driver/src/core.rs
  crates/driver/src/cursor.rs
  crates/driver/src/executor.rs
  crates/executor/src/db/mod.rs
  crates/executor/src/executor/mod.rs
  crates/executor/src/lib.rs
  crates/proof-sdk/preimage/src/hint.rs
  crates/proof-sdk/preimage/src/lib.rs
  crates/proof-sdk/preimage/src/oracle.rs
  crates/proof-sdk/proof/src/boot.rs
  crates/proof-sdk/proof/src/lib.rs
Labels: K-chore, A-workspace

#820 [BOT] Update Monorepo
  .monorepo
Labels: A-ci, C-bot

#829 fix: imports
  Cargo.lock
  Cargo.toml
  crates/driver/src/pipeline.rs
  crates/proof-sdk/proof/src/l1/pipeline.rs
Labels: A-workspace, F-deps

#826 chore(derive): Removes Batch Reader
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/channel/channel_reader.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/utils.rs
Labels: A-derive, F-deps

#833 chore: Minor Release
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/driver/Cargo.toml
  crates/executor/Cargo.toml
  crates/mpt/Cargo.toml
  crates/proof-sdk/common-proc/Cargo.toml
  crates/proof-sdk/common/Cargo.toml
  crates/proof-sdk/preimage/Cargo.toml
  crates/proof-sdk/proof/Cargo.toml
Labels: K-chore, A-workspace

#834 chore(driver): Visibility
  crates/driver/src/core.rs
Labels: K-chore, A-derive

#836 feat(host): Run client program natively in process
  .github/workflows/client_host.yaml
  .monorepo
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/justfile
  bin/client/src/handler/mod.rs
  bin/client/src/kona.rs
  bin/client/src/lib.rs
  bin/client/src/precompiles/bn128_pair.rs
  bin/client/src/precompiles/ecrecover.rs
  bin/client/src/precompiles/kzg_point_eval.rs
  bin/client/src/precompiles/mod.rs
  bin/host/Cargo.toml
  bin/host/README.md
  bin/host/src/cli/mod.rs
  bin/host/src/lib.rs
  bin/host/src/server.rs
  bin/host/src/util.rs
  crates/derive/src/attributes/stateful.rs
  crates/proof-sdk/preimage/Cargo.toml
  crates/proof-sdk/preimage/src/hint.rs
  crates/proof-sdk/preimage/src/native_channel.rs
  crates/proof-sdk/preimage/src/oracle.rs
  crates/proof-sdk/proof/Cargo.toml
  crates/proof-sdk/proof/src/blocking_runtime.rs
  crates/proof-sdk/proof/src/executor.rs
  crates/proof-sdk/std-fpvm/Cargo.toml
  crates/proof-sdk/std-fpvm/src/channel.rs
  crates/proof-sdk/std-fpvm/src/io.rs
  crates/proof-sdk/std-fpvm/src/lib.rs
  crates/proof-sdk/std-fpvm/src/tracing.rs
  crates/proof-sdk/std-fpvm/src/types.rs
  justfile
Labels: K-feature, A-host, A-client

#821 feat(workspace): Isolate FPVM-specific platform code
  .github/workflows/client_host.yaml
  .monorepo
  Cargo.lock
  Cargo.toml
  README.md
  bin/client/Cargo.toml
  bin/client/justfile
  bin/client/src/handler/mod.rs
  bin/client/src/kona.rs
  bin/client/src/lib.rs
  bin/client/src/precompiles/bn128_pair.rs
  bin/client/src/precompiles/ecrecover.rs
  bin/client/src/precompiles/kzg_point_eval.rs
  bin/client/src/precompiles/mod.rs
  bin/host/Cargo.toml
  bin/host/README.md
  bin/host/src/cli/mod.rs
  bin/host/src/lib.rs
  bin/host/src/server.rs
  bin/host/src/util.rs
  crates/derive/src/attributes/stateful.rs
  crates/proof-sdk/common-proc/CHANGELOG.md
  crates/proof-sdk/common/CHANGELOG.md
  crates/proof-sdk/common/Cargo.toml
  crates/proof-sdk/common/README.md
  crates/proof-sdk/common/src/executor.rs
  crates/proof-sdk/common/src/io.rs
  crates/proof-sdk/common/src/zkvm/io.rs
  crates/proof-sdk/common/src/zkvm/mod.rs
  crates/proof-sdk/preimage/Cargo.toml
  crates/proof-sdk/preimage/src/hint.rs
  crates/proof-sdk/preimage/src/native_channel.rs
  crates/proof-sdk/preimage/src/oracle.rs
  crates/proof-sdk/proof/Cargo.toml
  crates/proof-sdk/proof/src/blocking_runtime.rs
  crates/proof-sdk/proof/src/errors.rs
  crates/proof-sdk/proof/src/executor.rs
  crates/proof-sdk/std-fpvm-proc/CHANGELOG.md
  crates/proof-sdk/std-fpvm-proc/Cargo.toml
  crates/proof-sdk/std-fpvm-proc/src/lib.rs
  crates/proof-sdk/std-fpvm/CHANGELOG.md
  crates/proof-sdk/std-fpvm/Cargo.toml
  crates/proof-sdk/std-fpvm/README.md
  crates/proof-sdk/std-fpvm/src/channel.rs
  crates/proof-sdk/std-fpvm/src/errors.rs
  crates/proof-sdk/std-fpvm/src/io.rs
  crates/proof-sdk/std-fpvm/src/lib.rs
  crates/proof-sdk/std-fpvm/src/linux.rs
  crates/proof-sdk/std-fpvm/src/malloc.rs
  crates/proof-sdk/std-fpvm/src/mips32/io.rs
  crates/proof-sdk/std-fpvm/src/mips32/mod.rs
  crates/proof-sdk/std-fpvm/src/mips32/syscall.rs
  crates/proof-sdk/std-fpvm/src/riscv64/io.rs
  crates/proof-sdk/std-fpvm/src/riscv64/mod.rs
  crates/proof-sdk/std-fpvm/src/riscv64/syscall.rs
  crates/proof-sdk/std-fpvm/src/tracing.rs
  crates/proof-sdk/std-fpvm/src/traits/basic.rs
  crates/proof-sdk/std-fpvm/src/traits/mod.rs
  crates/proof-sdk/std-fpvm/src/types.rs
  justfile
Labels: K-feature, A-workspace

#840 feat(book): Update book for FPVM crate changes
  book/src/sdk/fpvm-backend.md
Labels: A-book, K-feature

#847 chore(derive): Remove IndexedBlobHash
  Cargo.lock
  bin/host/src/fetcher/mod.rs
  bin/host/src/providers/beacon.rs
  bin/host/src/providers/blob.rs
  crates/derive/Cargo.toml
  crates/derive/src/sources/blob_hash.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/mod.rs
  crates/derive/src/test_utils/blob_provider.rs
  crates/derive/src/traits/data_sources.rs
  crates/proof-sdk/proof/src/l1/blob_provider.rs
Labels: K-chore, A-derive

#848 chore(driver): Advance without target
  bin/client/src/lib.rs
  crates/driver/src/core.rs
Labels: K-feature

#842 feat(host): Remove unused blob providers
  Cargo.lock
  bin/host/src/blobs.rs
  bin/host/src/cli/mod.rs
  bin/host/src/fetcher/mod.rs
  bin/host/src/lib.rs
  bin/host/src/providers/beacon.rs
  bin/host/src/providers/blob.rs
  bin/host/src/providers/mod.rs
Labels: K-feature, A-host

#844 chore(host): Hint Parsing Cleanup
  bin/host/src/cli/mod.rs
  bin/host/src/fetcher/mod.rs
  bin/host/src/lib.rs
  bin/host/src/util.rs
  book/src/sdk/pipeline/intro.md
  crates/proof-sdk/proof/src/hint.rs
  crates/proof-sdk/proof/src/lib.rs
Labels: K-chore, A-host

#850 feat(driver): Executor Interface
  bin/client/src/lib.rs
  crates/driver/src/core.rs
  crates/driver/src/executor.rs
  crates/driver/src/lib.rs
  crates/executor/src/errors.rs
  crates/proof-sdk/proof/src/executor.rs
Labels: K-feature, A-driver

#852 feat(client): Invalidate impossibly old claims
  bin/client/src/lib.rs
  crates/proof-sdk/proof/src/sync.rs
Labels: K-feature, A-client

#851 chore(driver): Wait for Engine
  crates/driver/src/core.rs
  crates/driver/src/executor.rs
  crates/proof-sdk/proof/src/executor.rs
Labels: K-feature, A-driver
