Repository op-rs/kona, pull requests merged in 2024-07, with the labels that each got.

#357 feat(docker): Reproducible `asterisc` prestate
  build/asterisc/asterisc-repro.dockerfile
  justfile
Labels: K-feature, A-workspace

#354 chore(preimage): Remove dynamic dispatch
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/main.rs
  bin/host/src/preimage.rs
  bin/host/src/server.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/lib.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/traits.rs
Labels: K-chore, K-perf, A-preimage, A-host

#356 chore(host): Make `exec` flag optional
  bin/client/justfile
  bin/host/src/cli/mod.rs
  bin/host/src/main.rs
Labels: K-chore, A-host

#349 fix(examples): Start N Blocks Back from Tip
  crates/derive/src/online/alloy_providers.rs
  examples/trusted-sync/run.sh
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
  justfile
Labels: M-bin, K-fix, A-examples

#351 feat(mpt): `TrieNode` benchmarks
  Cargo.lock
  crates/mpt/Cargo.toml
  crates/mpt/benches/trie_node.rs
  crates/mpt/src/node.rs
Labels: K-feature, A-mpt

#352 feat(ci): Build benchmarks in CI
  .github/workflows/rust_ci.yaml
Labels: K-feature, A-ci

#362 chore(docker): Pin `asterisc-builder` version in reproducible prestate builder
  build/asterisc/asterisc-repro.dockerfile
Labels: K-chore, A-build

#363 fix: trusted-sync metrics url
  examples/trusted-sync/src/cli.rs
Labels: A-examples

#364 fix: Small Docker Image Fix
  examples/trusted-sync/run.sh
Labels: A-examples

#365 feat(examples): Increase Granularity
  bin/client/src/l1/driver.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/pipeline.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-feature, A-examples

#371 chore(examples): Log Payload Attributes on Error
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/validation.rs
Labels: K-chore, A-examples

#373 fix(examples): L2 Safe Head Tracking
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-chore, A-examples

#372 fix(examples): Reduce Origin Advance to Warn
  examples/trusted-sync/src/main.rs
Labels: K-chore, A-examples

#375 feat(examples): add metric for latest l2 reference safe head update
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: A-examples

#376 fix(actions): trusted sync docker publish
  .github/workflows/trusted_sync_docker.yaml
Labels: K-fix, A-examples

#377 fix(actions): ghcr prefix
  .github/workflows/trusted_sync_docker.yaml
Labels: K-chore, K-fix, A-examples

#378 chore(derive): Refine Channel Frame Count Buckets
  crates/derive/src/metrics.rs
Labels: K-chore, A-derive, M-metrics

#379 feat(trusted-sync): re-org walkback
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-fix, A-examples

#381 fix: drift reset
  examples/trusted-sync/src/main.rs
Labels: A-examples

#382 fix: Drift Walkback
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
Labels: A-examples

#383 fix(derive): Pipeline Reset
  crates/derive/src/macros.rs
  crates/derive/src/metrics.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/traits/pipeline.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-bug, A-derive, A-examples

#388 fix: bubble up validation errors
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/validation.rs
Labels: A-derive, K-fix, A-examples

#361 feat(host): refactor kona-host into library
  Cargo.lock
  bin/host/src/cli/mod.rs
  bin/host/src/fetcher/mod.rs
  bin/host/src/kv/local.rs
  bin/host/src/kv/split.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
  bin/host/src/preimage.rs
  bin/host/src/server.rs
  bin/host/src/types.rs
Labels: A-host

#396 fix(executor): Don't hold onto intermediate execution cache across block boundaries
  bin/client/src/l2/precompiles/mod.rs
  crates/executor/src/builder.rs
  crates/executor/src/canyon.rs
  crates/executor/src/lib.rs
  crates/executor/src/precompile.rs
Labels: K-fix, A-executor

#400 fix(kona-derive): Remove SignedRecoverable Shim
  crates/derive/Cargo.toml
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/traits/ecrecover.rs
  crates/derive/src/traits/mod.rs
  examples/trusted-sync/Cargo.toml
Labels: A-derive, K-fix
