Repository op-rs/kona, pull requests merged in 2024-09, with the labels that each got.

#474 chore(workspace): Update for `anton-rs` org transfer
  .github/workflows/client_host.yaml
  Cargo.toml
  README.md
  book/README.md
  book/src/CONTRIBUTING.md
  book/src/links.md
  build/README.md
  build/asterisc/asterisc-repro.dockerfile
  crates/common-proc/CHANGELOG.md
  crates/common/CHANGELOG.md
  crates/derive/CHANGELOG.md
  crates/derive/README.md
  crates/executor/CHANGELOG.md
  crates/mpt/CHANGELOG.md
  crates/preimage/CHANGELOG.md
  crates/primitives/CHANGELOG.md
  examples/trusted-sync/README.md
  justfile
Labels: K-chore, A-workspace

#475 feat(executor): Expose full revm Handler
  bin/client/src/fault/handler/bn128_pair.rs
  bin/client/src/fault/handler/ecrecover.rs
  bin/client/src/fault/handler/kzg_point_eval.rs
  bin/client/src/fault/handler/mod.rs
  bin/client/src/fault/mod.rs
  bin/client/src/fault/precompiles/mod.rs
  bin/client/src/kona.rs
  crates/executor/benches/execution.rs
  crates/executor/src/builder.rs
  crates/executor/src/lib.rs
  crates/executor/src/precompile.rs
Labels: K-feature, A-executor

#472 chore(workspace): Fix `default-features` in workspace root
  Cargo.toml
Labels: K-chore, A-workspace

#467 chore(workspace): Alloy Version Bumps
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  crates/derive/Cargo.toml
  crates/executor/Cargo.toml
  crates/mpt/Cargo.toml
  crates/mpt/src/db/mod.rs
  crates/mpt/src/test_util.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/sidecar.rs
  examples/trusted-sync/Cargo.toml
  justfile
Labels: K-chore, A-workspace, F-deps, A-mpt

#478 fix(client): Break when the pipeline cannot advance
  bin/client/src/l1/driver.rs
Labels: K-fix, A-client

#484 fix: Deprecate All Flag
  justfile
Labels: K-chore, A-workspace

#483 fix(host): Insert empty MPT root hash
  bin/host/src/fetcher/mod.rs
Labels: K-fix, A-host

#482 fix(examples): Revm Features
  .github/workflows/trusted_sync_docker.yaml
  crates/primitives/Cargo.toml
  crates/primitives/src/sidecar.rs
Labels: A-examples

#492 fix(primitives): op-alloy Frame Type
  Cargo.lock
  Cargo.toml
  crates/derive/src/errors.rs
  crates/derive/src/stages/channel_bank.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/channel.rs
  crates/primitives/src/frame.rs
  crates/primitives/src/lib.rs
Labels: K-chore, A-primitives

#493 fix(mpt): Empty list walker
  crates/mpt/src/list_walker.rs
Labels: K-fix, A-mpt

#494 fix(ci): Remove `PAT_TOKEN` ref
  .github/workflows/release.yaml
  .github/workflows/rust_ci.yaml
Labels: A-ci, K-fix

#499 feat(primitives): Channel Reuse
  Cargo.lock
  Cargo.toml
  crates/derive/src/batch/mod.rs
  crates/derive/src/stages/channel_bank.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/block.rs
  crates/primitives/src/channel.rs
  crates/primitives/src/lib.rs
Labels: K-chore, A-primitives

#502 chore(docker): Update prestate builder image
  build/asterisc/asterisc-repro.dockerfile
Labels: K-chore

#512 feat(host): Add `TryFrom<DiskKeyValueStore>` for `MemoryKeyValueStore`
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/kv/disk.rs
Labels: K-feature, A-host

#505 chore(primitives): rm RawTransaction
  Cargo.lock
  Cargo.toml
  crates/derive/src/batch/single_batch.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/batch/span_batch/element.rs
  crates/derive/src/batch/span_batch/raw.rs
  crates/derive/src/batch/span_batch/transactions.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/attributes_queue/deposits.rs
  crates/derive/src/stages/batch_queue.rs
  crates/executor/src/lib.rs
  crates/primitives/src/attributes.rs
  crates/primitives/src/deposits.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/raw_tx.rs
  examples/trusted-sync/src/validation.rs
Labels: K-chore, A-primitives

#519 chore(release): Default to `amd64` platform on prestate artifacts build
  justfile
Labels: K-chore

#520 chore: Bumps Dependency Versions
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/executor/benches/execution.rs
  crates/executor/src/lib.rs
Labels: K-chore, A-workspace

#523 feat(ci): Release prestate build image
  .github/workflows/kona_fpp_docker.yaml
  build/asterisc/asterisc-repro.dockerfile
Labels: A-ci, K-release

#529 feat(primitives): Remove Attributes
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/src/kona.rs
  bin/client/src/l1/driver.rs
  crates/derive/Cargo.toml
  crates/derive/src/errors.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/pipeline.rs
  crates/executor/Cargo.toml
  crates/executor/benches/execution.rs
  crates/executor/src/eip4788.rs
  crates/executor/src/lib.rs
  crates/primitives/src/attributes.rs
  crates/primitives/src/lib.rs
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/validation.rs
Labels: K-chore, A-primitives

#530 feat(host): Exit with client status in native mode
  bin/client/src/kona.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
Labels: K-feature, A-host

#531 feat(workspace): Action test runner
  .gitignore
  justfile
Labels: K-feature, A-workspace, M-tests

#535 fix(preimage): Improve error differentiation in preimage servers
  bin/host/src/server.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/lib.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/traits.rs
Labels: K-chore, A-host

#536 chore: clean up host CLI
  bin/host/Cargo.toml
  bin/host/README.md
  bin/host/src/cli/mod.rs
  bin/host/src/cli/tracing_util.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
Labels: K-feature, A-host

#537 chore: Remove crates io patch
  Cargo.lock
  Cargo.toml
Labels: K-chore, A-workspace

#538 chore(host): clean up CLI
  bin/host/Cargo.toml
  bin/host/README.md
  bin/host/src/cli/mod.rs
  bin/host/src/cli/tracing_util.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
Labels: K-chore, A-host

#540 feat(derive): Typed error handling
  .config/nextest.toml
  .github/codecov.yml
  .github/workflows/coverage.yaml
  Cargo.lock
  Cargo.toml
  bin/client/src/l1/blob_provider.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l2/chain_provider.rs
  crates/derive/Cargo.toml
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/span_batch/bits.rs
  crates/derive/src/batch/span_batch/errors.rs
  crates/derive/src/errors.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/online/test_utils.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/attributes_queue/deposits.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/stages/utils.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/pipeline.rs
  crates/derive/src/traits/providers.rs
  crates/derive/src/traits/stages.rs
  crates/derive/src/traits/test_utils.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/blob.rs
  crates/primitives/src/payload.rs
  examples/trusted-sync/src/main.rs
Labels: K-feature, A-derive, A-client

#541 feat(mpt): Migrate to `thiserror`
  Cargo.lock
  bin/client/src/fault/handler/mod.rs
  bin/client/src/kona.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l2/chain_provider.rs
  crates/executor/benches/execution.rs
  crates/executor/src/builder.rs
  crates/executor/src/canyon.rs
  crates/executor/src/lib.rs
  crates/mpt/Cargo.toml
  crates/mpt/benches/trie_node.rs
  crates/mpt/src/db/mod.rs
  crates/mpt/src/errors.rs
  crates/mpt/src/fetcher.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/test_util.rs
Labels: K-feature, A-mpt

#546 chore(workspace): Bump MSRV to `1.81`
  .github/workflows/client_host.yaml
  Cargo.toml
  bin/client/justfile
Labels: K-chore, A-workspace

#543 feat(preimage/common): Migrate to `thiserror`
  Cargo.lock
  bin/client/src/caching_oracle.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l2/chain_provider.rs
  bin/host/src/preimage.rs
  bin/host/src/server.rs
  crates/common/Cargo.toml
  crates/common/src/asterisc/io.rs
  crates/common/src/cannon/io.rs
  crates/common/src/cannon/syscall.rs
  crates/common/src/errors.rs
  crates/common/src/io.rs
  crates/common/src/lib.rs
  crates/common/src/linux.rs
  crates/common/src/traits/basic.rs
  crates/common/src/zkvm/io.rs
  crates/preimage/Cargo.toml
  crates/preimage/src/errors.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/key.rs
  crates/preimage/src/lib.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/pipe.rs
  crates/preimage/src/test_utils.rs
  crates/preimage/src/traits.rs
Labels: A-common, K-feature, A-preimage

#544 feat(executor): Migrate to `thiserror`
  Cargo.lock
  bin/client/src/kona.rs
  crates/executor/Cargo.toml
  crates/executor/benches/execution.rs
  crates/executor/src/builder.rs
  crates/executor/src/canyon.rs
  crates/executor/src/eip4788.rs
  crates/executor/src/errors.rs
  crates/executor/src/lib.rs
Labels: K-feature, A-executor

#547 chore(ci): Delete program diff job
  .github/workflows/program_diff.yaml
Labels: K-chore, A-ci

#545 fix(client): Continue derivation on execution failure
  bin/client/src/kona.rs
  bin/client/src/l1/driver.rs
Labels: K-fix, A-client

#548 chore(workspace): Allow stdlib in `cfg(test)`
  crates/common/src/io.rs
  crates/common/src/lib.rs
  crates/executor/src/lib.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/test_util.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/lib.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/test_utils.rs
Labels: K-chore, M-tests

#550 chore(workspace): Bump dependencies
  Cargo.lock
  Cargo.toml
  crates/preimage/src/key.rs
Labels: K-chore, A-workspace, F-deps

#551 chore(readme): Remove `kona-plasma` link
  README.md
Labels: K-chore, K-documentation

#542 feat: Remove L2 Execution Payload
  Cargo.lock
  bin/client/src/l2/chain_provider.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/block.rs
  crates/derive/src/lib.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/pipeline.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/providers.rs
  crates/derive/src/traits/test_utils.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/block.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/payload.rs
Labels: K-feature, A-derive, A-primitives

#521 feat(derive): Latest BN
  crates/derive/src/online/alloy_providers.rs
Labels: A-derive

#555 feat(derive): Touchup Docs
  crates/derive/README.md
  crates/derive/USAGE.md
  crates/derive/src/pipeline/builder.rs
Labels: K-documentation, A-derive

#570 fix(derive): Hoist AttributesBuilder Trait
  crates/derive/src/errors.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/mod.rs
Labels: K-chore, A-derive

#571 feat(derive): Hoist AttributesBuilder
  bin/client/src/l1/driver.rs
  crates/derive/src/attributes/mod.rs
  crates/derive/src/lib.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/params.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/deposits.rs
  crates/derive/src/stages/mod.rs
Labels: K-chore, A-derive

#566 feat(derive): New BatchStream Stage for Holocene
  crates/derive/src/stages/batch_stream.rs
  crates/derive/src/stages/mod.rs
Labels: K-feature, A-derive, H-holocene

#567 feat(derive): BatchStream Stage Wiring
  Cargo.lock
  bin/client/src/l1/driver.rs
  crates/derive/src/online/pipeline.rs
  crates/derive/src/pipeline/builder.rs
Labels: K-feature, A-derive, H-holocene

#574 feat(derive): Holocene Activation
  .github/workflows/coverage.yaml
  Cargo.lock
  crates/derive/src/errors.rs
  crates/derive/src/stages/l1_traversal.rs
  examples/trusted-sync/src/main.rs
Labels: K-feature, A-derive, H-holocene

#579 feat(derive): Holocene Frame Queue
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
Labels: K-feature, A-derive, H-holocene

#572 feat(derive): Holocene Channel Bank Checks
  .github/workflows/rust_ci.yaml
  Cargo.lock
  crates/derive/src/metrics.rs
  crates/derive/src/stages/channel_bank.rs
Labels: K-feature, A-derive, H-holocene

#582 feat(ci): Split online/offline tests
  .github/workflows/rust_ci.yaml
  crates/mpt/src/list_walker.rs
  justfile
Labels: K-chore, A-ci

#584 chore(workspace): `just lint`
  justfile
Labels: K-chore

#585 feat(derive): Interleaved Channel Tests [HOLOCENE]
  crates/derive/src/stages/frame_queue.rs
Labels: K-feature, A-derive, H-holocene

#583 chore(derive): [Holocene] Drain previous channel in one iteration
  crates/derive/src/stages/frame_queue.rs
Labels: A-derive, K-fix, H-holocene

#587 fix(derive): Pipeline Parameters & Max Channel Bank Size
  crates/derive/src/lib.rs
  crates/derive/src/params.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/l1_traversal.rs
Labels: A-derive, K-fix

#586 chore: Alloy Map
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/test_utils.rs
Labels: K-chore, A-derive, F-deps

#569 feat(derive): Refactor out Online Providers
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/fetcher/mod.rs
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/metrics.rs
  crates/providers-alloy/Cargo.toml
  crates/providers-alloy/README.md
  crates/providers-alloy/src/alloy_providers.rs
  crates/providers-alloy/src/beacon_client.rs
  crates/providers-alloy/src/blob_provider.rs
  crates/providers-alloy/src/lib.rs
  crates/providers-alloy/src/macros.rs
  crates/providers-alloy/src/metrics.rs
  crates/providers-alloy/src/pipeline.rs
  crates/providers-alloy/src/test_utils.rs
  crates/providers-alloy/src/testdata/eth_v1_beacon_sidecars_goerli.json
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/main.rs
  justfile
Labels: K-feature, A-derive

#590 feat(derive): `BatchStream` buffering
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
Labels: K-feature, A-derive

#592 feat(derive): Span batch prefix checks
  bin/client/src/l1/driver.rs
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/stages/batch_stream.rs
  crates/providers-alloy/src/pipeline.rs
Labels: K-feature, A-derive
