Repository op-rs/kona, pull requests merged in 2024-06, with the labels that each got.

#200 feat(preimage): Async client traits
  bin/programs/simple-revm/src/main.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/pipe.rs
  crates/preimage/src/traits.rs
Labels: K-feature, A-preimage

#201 fix(host): Blocking native client program
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/main.rs
  bin/host/src/types.rs
  bin/host/src/util.rs
Labels: K-chore, K-fix, A-host

#203 chore(ci): Workflow trigger changes
  .github/workflows/fpvm_tests.yaml
  .github/workflows/rust_ci.yaml
Labels: K-chore, A-ci

#195 feat(mpt): Trie node insertion
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
Labels: K-feature, A-mpt

#196 feat(mpt): Trie DB commit
  Cargo.lock
  crates/mpt/Cargo.toml
  crates/mpt/src/db/mod.rs
  crates/mpt/src/node.rs
  crates/mpt/src/util.rs
Labels: K-feature, A-mpt

#197 chore(mpt): Do not expose recursion vars
  crates/mpt/src/db/mod.rs
  crates/mpt/src/node.rs
Labels: K-chore, A-mpt

#198 feat(mpt): Simplify `TrieDB`
  crates/mpt/src/db/mod.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/node.rs
Labels: K-feature, A-mpt

#202 feat(book): Add minimal program stage documentation
  book/src/fpp-dev/epilogue.md
  book/src/fpp-dev/execution.md
  book/src/fpp-dev/prologue.md
  book/src/intro.md
  book/src/links.md
Labels: A-book, K-documentation

#199 feat(mpt): Block hash walkback
  crates/mpt/src/db/mod.rs
Labels: K-feature, A-mpt

#207 chore: Refactor ResetProvider
  crates/derive/src/builder.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/reset.rs
Labels: K-chore, A-derive

#209 feat: Pipeline Builder
  crates/derive/src/lib.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/pipeline.rs
Labels: K-feature, A-derive

#205 feat(client): `BootInfo`
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/kv/local.rs
  bin/programs/client/Cargo.toml
  bin/programs/client/justfile
  bin/programs/client/src/boot.rs
  bin/programs/client/src/comms/caching_oracle.rs
  bin/programs/client/src/comms/mod.rs
  bin/programs/client/src/executor/mod.rs
  bin/programs/client/src/lib.rs
  bin/programs/client/src/main.rs
  bin/programs/minimal/Cargo.toml
  bin/programs/minimal/src/main.rs
  bin/programs/simple-revm/src/main.rs
  crates/common-proc/src/lib.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/oracle.rs
Labels: K-feature, A-client

#213 chore: Alloy Withdrawal Type
  crates/primitives/src/block.rs
  crates/primitives/src/lib.rs
Labels: K-chore, A-primitives

#215 fix(derive): Alloy EIP4844 Blob Type
  crates/derive/src/types/blob.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/sidecar.rs
Labels: K-chore, A-derive

#217 feat: Pipeline Builder
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/mod.rs
Labels: K-feature, A-derive

#206 chore(host): Simplify host
  bin/host/README.md
  bin/host/src/main.rs
  bin/programs/client/src/main.rs
  bin/programs/minimal/src/main.rs
  bin/programs/simple-revm/src/main.rs
  crates/common-proc/src/lib.rs
Labels: K-chore, A-host

#220 fix: Derivation Pipeline
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/reset.rs
  justfile
Labels: A-derive, K-fix

#227 chore: Update README
  README.md
Labels: K-documentation, A-workspace

#210 feat(client): `StatelessL2BlockExecutor`
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  bin/programs/client/Cargo.toml
  bin/programs/client/src/executor/mod.rs
  bin/programs/client/src/l2/executor/canyon.rs
  bin/programs/client/src/l2/executor/eip4788.rs
  bin/programs/client/src/l2/executor/fetcher.rs
  bin/programs/client/src/l2/executor/mod.rs
  bin/programs/client/src/l2/executor/util.rs
  bin/programs/client/src/l2/mod.rs
  bin/programs/client/src/lib.rs
  bin/programs/client/testdata/block_120794432_exec/output.json
  bin/programs/client/testdata/block_121003241_exec/output.json
  bin/programs/client/testdata/block_121049889_exec/output.json
  bin/programs/client/testdata/block_121057303_exec/output.json
  bin/programs/client/testdata/block_121065789_exec/output.json
  bin/programs/client/testdata/block_121135704_exec/output.json
  crates/derive/Cargo.toml
  crates/derive/src/types/sidecar.rs
  crates/mpt/Cargo.toml
  crates/mpt/src/db/mod.rs
  crates/mpt/src/fetcher.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/test_util.rs
  crates/mpt/src/util.rs
  crates/plasma/Cargo.toml
  crates/preimage/Cargo.toml
  crates/primitives/Cargo.toml
  crates/primitives/src/block_info.rs
  crates/primitives/src/payload.rs
  crates/primitives/src/rollup_config.rs
Labels: K-feature, A-mpt, A-client, A-primitives

#231 fix(primitives): 2718 Payload Encoding
  crates/primitives/src/payload.rs
Labels: K-fix, A-primitives

#233 feat(ci): Add codecov
  .github/codecov.yml
  .github/workflows/rust_ci.yaml
Labels: A-ci

#234 feat(ci): Dependabot config
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/mpt/Cargo.toml
  crates/plasma/Cargo.toml
  crates/preimage/Cargo.toml
  crates/primitives/Cargo.toml
Labels: A-ci, F-deps

#236 feat(ci): Dependabot config
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/mpt/Cargo.toml
  crates/plasma/Cargo.toml
  crates/preimage/Cargo.toml
  crates/primitives/Cargo.toml
Labels: A-ci

#239 fix(ci): Do not run coverage in merge queue
  .github/workflows/coverage.yaml
  .github/workflows/rust_ci.yaml
Labels: A-ci, K-fix

#230 feat(kona-derive): Updated interface
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/USAGE.md
  crates/derive/src/online/mod.rs
  crates/derive/src/online/validation.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/traits/pipeline.rs
Labels: A-derive, K-fix

#225 feat(client): Add `compute_output_root` to block executor
  bin/programs/client/src/l2/executor/mod.rs
  crates/mpt/src/db/mod.rs
Labels: K-feature, A-client

#229 fix(kona-derive): Use Upstream ReqwestProvider
  crates/derive/Cargo.toml
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/mod.rs
Labels: K-chore, A-derive

#228 feat(client): Account + Account storage hinting in `TrieDB`
  bin/host/src/fetcher/hint.rs
  bin/host/src/fetcher/mod.rs
  bin/programs/client/src/l2/executor/canyon.rs
  bin/programs/client/src/l2/executor/fetcher.rs
  bin/programs/client/src/l2/executor/mod.rs
  bin/programs/client/src/l2/mod.rs
  crates/mpt/src/db/mod.rs
  crates/mpt/src/fetcher.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/node.rs
Labels: K-feature, A-mpt, A-host, A-client

#241 chore(kona-derive): Online Pipeline Cleanup
  crates/derive/src/lib.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/online/pipeline.rs
Labels: K-chore, A-derive

#167 feat(plasma): Online Plasma Input Fetcher
  Cargo.lock
  crates/plasma/Cargo.toml
  crates/plasma/src/lib.rs
  crates/plasma/src/online.rs
Labels: K-feature, A-plasma

#247 feat: Superchain Registry Types
  Cargo.lock
  bin/programs/client/src/l2/executor/mod.rs
  bin/sync/src/main.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/online/pipeline.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/traits/pipeline.rs
  crates/derive/src/traits/stages.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/single_batch.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/plasma/src/online.rs
  crates/plasma/src/source.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/block.rs
  crates/primitives/src/block_info.rs
  crates/primitives/src/genesis.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/params.rs
  crates/primitives/src/payload.rs
  crates/primitives/src/rollup_config.rs
  crates/primitives/src/system_config.rs
Labels: K-feature, A-primitives

#248 fix: output root version to 32 bytes
  bin/programs/client/src/l2/executor/mod.rs
  bin/programs/client/testdata/block_120794432_exec/output.json
Labels: K-fix, A-client

#232 feat(host): More hint routes
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/fetcher/hint.rs
  bin/host/src/fetcher/mod.rs
  bin/host/src/main.rs
Labels: K-feature, A-host

#251 feat(client): Add `RollupConfig` to `BootInfo`
  Cargo.lock
  bin/host/src/cli/mod.rs
  bin/host/src/kv/local.rs
  bin/programs/client/Cargo.toml
  bin/programs/client/justfile
  bin/programs/client/src/boot.rs
  bin/programs/client/src/lib.rs
Labels: K-feature, A-client

#252 feat(client): Oracle-backed derive traits
  bin/host/src/fetcher/mod.rs
  bin/host/src/util.rs
  bin/programs/client/src/comms/caching_oracle.rs
  bin/programs/client/src/hint.rs
  bin/programs/client/src/l1/chain_provider.rs
  bin/programs/client/src/l1/mod.rs
  bin/programs/client/src/l2/chain_provider.rs
  bin/programs/client/src/l2/executor/fetcher.rs
  bin/programs/client/src/l2/executor/hinter.rs
  bin/programs/client/src/l2/executor/mod.rs
  bin/programs/client/src/l2/mod.rs
  bin/programs/client/src/lib.rs
  bin/programs/client/src/main.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/util.rs
Labels: K-feature, A-client

#255 feat(client/host): Oracle-backed Blob fetcher
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/fetcher/mod.rs
  bin/host/src/main.rs
  bin/programs/client/src/hint.rs
  bin/programs/client/src/l1/blob_provider.rs
  bin/programs/client/src/l1/mod.rs
  crates/common/src/io.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/blob_provider.rs
Labels: K-feature, A-client

#257 feat(client): Derivation integration
  Cargo.lock
  bin/host/src/fetcher/mod.rs
  bin/host/src/main.rs
  bin/host/src/server.rs
  bin/host/src/util.rs
  bin/programs/client/Cargo.toml
  bin/programs/client/src/hint.rs
  bin/programs/client/src/l1/blob_provider.rs
  bin/programs/client/src/l1/chain_provider.rs
  bin/programs/client/src/l1/driver.rs
  bin/programs/client/src/l1/mod.rs
  bin/programs/client/src/l2/chain_provider.rs
  bin/programs/client/src/l2/executor/mod.rs
  bin/programs/client/src/main.rs
  crates/common/Cargo.toml
  crates/common/src/io.rs
  crates/mpt/src/db/mod.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/pipe.rs
Labels: K-feature, A-client

#259 chore(workspace): `kona-executor`
  Cargo.lock
  README.md
  bin/programs/client/Cargo.toml
  bin/programs/client/src/kona.rs
  bin/programs/client/src/l1/driver.rs
  bin/programs/client/src/l2/mod.rs
  bin/programs/client/src/l2/trie_hinter.rs
  crates/executor/Cargo.toml
  crates/executor/README.md
  crates/executor/src/canyon.rs
  crates/executor/src/eip4788.rs
  crates/executor/src/lib.rs
  crates/executor/src/util.rs
  crates/executor/testdata/block_120794432_exec/output.json
  crates/executor/testdata/block_121003241_exec/output.json
  crates/executor/testdata/block_121049889_exec/output.json
  crates/executor/testdata/block_121057303_exec/output.json
  crates/executor/testdata/block_121065789_exec/output.json
  crates/executor/testdata/block_121135704_exec/output.json
Labels: K-chore, A-workspace

#266 chore(derive): Sources Touchups
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
Labels: K-chore, A-derive

#265 chore(derive): Online Module Touchups
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/online/pipeline.rs
  crates/derive/src/online/test_utils.rs
Labels: K-chore, A-derive

#263 chore(examples): trusted-sync tracing cleanup
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/validation.rs
Labels: K-chore, A-examples

#264 chore(derive): Cleanup Pipeline Tracing
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
Labels: K-chore, A-derive

#269 chore: Update `README.md`
  README.md
  assets/banner.png
Labels: K-chore, K-documentation

#267 chore(deps): Fast Forward op-alloy-consensus
  Cargo.lock
  Cargo.toml
  bin/programs/client/src/l2/chain_provider.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/types/ecotone.rs
  crates/executor/src/lib.rs
  crates/executor/src/util.rs
  crates/primitives/src/deposits.rs
  crates/primitives/src/payload.rs
Labels: K-chore, dependencies, A-external

#279 chore: Re-export Input Types
  crates/derive/src/types/mod.rs
  crates/primitives/src/lib.rs
Labels: K-chore, A-derive, A-primitives

#282 fix(common): Pipe IO support
  bin/programs/client/src/kona.rs
  crates/common/src/io.rs
Labels: A-common, K-fix

#283 chore(client): Add justfile for running client program
  bin/host/src/cli/mod.rs
  bin/host/src/cli/types.rs
  bin/programs/client/justfile
Labels: K-chore, A-client

#285 chore(ci): Remove codecov from binaries
  .github/codecov.yml
Labels: K-chore, A-ci

#284 feat(fjord): Fjord Parameter Updates
  Cargo.lock
  crates/derive/src/lib.rs
  crates/derive/src/params.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/single_batch.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/batch/span_batch/bits.rs
  crates/derive/src/types/batch/span_batch/mod.rs
  crates/derive/src/types/batch/span_batch/payload.rs
  crates/derive/src/types/batch/span_batch/prefix.rs
  crates/derive/src/types/batch/span_batch/raw.rs
  crates/derive/src/types/batch/span_batch/transactions.rs
  crates/derive/src/types/mod.rs
Labels: K-feature, A-derive

#289 feat(derive): Fjord Upgrade Transactions
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/types/fjord.rs
  crates/derive/src/types/mod.rs
Labels: K-feature, A-derive

#287 feat(derive): Brotli Decompression
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/utils.rs
Labels: K-feature, A-derive

#294 chore(workspace): Reorganize Binary Example Programs
  Cargo.lock
  Cargo.toml
  README.md
  bin/client/Cargo.toml
  bin/client/README.md
  bin/client/justfile
  bin/client/src/boot.rs
  bin/client/src/comms/caching_oracle.rs
  bin/client/src/comms/mod.rs
  bin/client/src/hint.rs
  bin/client/src/kona.rs
  bin/client/src/l1/blob_provider.rs
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l1/mod.rs
  bin/client/src/l2/chain_provider.rs
  bin/client/src/l2/mod.rs
  bin/client/src/l2/trie_hinter.rs
  bin/client/src/lib.rs
  bin/host/Cargo.toml
  bin/programs/README.md
  examples/minimal/Cargo.lock
  examples/minimal/Cargo.toml
  examples/minimal/README.md
  examples/minimal/justfile
  examples/minimal/src/main.rs
  examples/simple-revm/Cargo.lock
  examples/simple-revm/Cargo.toml
  examples/simple-revm/README.md
  examples/simple-revm/justfile
  examples/simple-revm/src/main.rs
  fpvm-tests/justfile
Labels: K-chore, A-examples

#293 fix(examples): Dynamic Rollup Config Loading
  Cargo.lock
  bin/client/src/boot.rs
  crates/derive/src/online/alloy_providers.rs
  examples/trusted-sync/src/main.rs
Labels: K-fix, A-examples

#296 chore: Versioned Alloy Dependencies
  Cargo.lock
  Cargo.toml
  bin/client/src/l2/chain_provider.rs
  bin/host/Cargo.toml
  bin/host/src/fetcher/mod.rs
  crates/derive/Cargo.toml
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/attributes_queue/deposits.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/types/ecotone.rs
  crates/derive/src/types/fjord.rs
  crates/executor/src/eip4788.rs
  crates/executor/src/lib.rs
  crates/executor/src/util.rs
  crates/mpt/Cargo.toml
  crates/mpt/src/test_util.rs
  crates/plasma/Cargo.toml
  crates/primitives/Cargo.toml
  crates/primitives/src/deposits.rs
  crates/primitives/src/payload.rs
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/validation.rs
Labels: K-chore, A-workspace, F-deps

#297 fix(examples): Alloy Dependency Feature Flag
  examples/trusted-sync/Cargo.toml
Labels: K-fix, A-examples

#298 fix(derive): Fjord brotli decompression
  crates/derive/src/stages/channel_reader.rs
Labels: A-derive, K-fix

#300 fix(mpt): Fix extension node truncation
  Cargo.lock
  crates/mpt/Cargo.toml
  crates/mpt/src/db/mod.rs
  crates/mpt/src/node.rs
Labels: K-fix, A-mpt

#301 chore(workspace): Prep release
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/host/Cargo.toml
  bin/host/src/fetcher/precompiles.rs
  crates/executor/src/lib.rs
Labels: K-chore, A-workspace, K-release, F-deps

#304 chore(workspace): Pin op-alloy-consensus
  Cargo.lock
  Cargo.toml
Labels: A-workspace, F-deps

#305 chore(client): Improve justfile
  bin/client/justfile
Labels: K-chore, A-client

#307 chore(docs): Label Cleanup
  README.md
  crates/derive/README.md
Labels: K-chore, K-documentation, A-workspace

#309 feat(derive): Stage Level Metrics
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/macros.rs
  crates/derive/src/metrics.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/online/metrics.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/types/batch/span_batch/raw.rs
  crates/derive/src/types/channel.rs
  crates/derive/src/types/frame.rs
  examples/trusted-sync/Cargo.toml
Labels: K-feature, A-derive

#299 feat(build): Dockerize trusted-sync
  .github/workflows/docker.yaml
  .gitignore
  examples/trusted-sync/Dockerfile
  examples/trusted-sync/run.sh
  justfile
Labels: K-chore, A-build

#312 fix: Publish trusted-sync to GHCR
  .github/workflows/cross_docker.yaml
  .github/workflows/docker.yaml
  .github/workflows/publish.yaml
Labels: A-ci, K-fix

#318 fix(examples): Follow Tip
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-fix, A-examples

#320 feat(examples): Pipeline Step Metrics
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-feature, A-examples

#322 fix(derive): Warnings with metrics macro
  crates/derive/src/macros.rs
Labels: A-derive, K-fix

#321 feat(examples): Send Logs to Loki
  Cargo.lock
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/run.sh
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/telemetry.rs
  justfile
Labels: K-feature, A-examples

#323 fix(examples): Small CLI Fix
  examples/trusted-sync/src/cli.rs
Labels: K-fix, A-examples

#325 feat(derive): Granular Provider Metrics
  crates/derive/src/macros.rs
  crates/derive/src/metrics.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/frame_queue.rs
Labels: K-feature, A-derive

#329 chore(derive): Remove noisy batch logs
  crates/derive/src/stages/batch_queue.rs
Labels: K-chore, A-derive

#326 feat(derive): Additional Stage Metrics
  crates/derive/src/macros.rs
  crates/derive/src/metrics.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/l1_traversal.rs
Labels: K-feature, A-derive, M-metrics

#327 fix(examples): Graceful Payload Validation
  bin/client/src/l1/driver.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/traits/pipeline.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/validation.rs
Labels: K-fix, A-examples

#330 fix(derive): Prefix Metric Names
  crates/derive/src/metrics.rs
  examples/trusted-sync/src/metrics.rs
Labels: A-derive, K-fix, M-metrics

#331 feat(derive): Track Current Channel Size
  crates/derive/src/macros.rs
  crates/derive/src/metrics.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/types/channel.rs
Labels: K-feature, A-derive, M-metrics

#334 fix(derive): Pipeline Iterator
  crates/derive/src/pipeline/core.rs
  crates/derive/src/traits/pipeline.rs
Labels: A-derive, M-traits, K-fix

#337 feat(derive): Frame Count -> Channels Histogram
  crates/derive/src/metrics.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/types/channel.rs
Labels: K-feature, A-derive, M-metrics

#341 fix(examples): Justfile Fixups
  examples/trusted-sync/run.sh
  examples/trusted-sync/src/cli.rs
  justfile
Labels: K-fix, A-examples

#345 fix(derive): Unused var w/o `metrics` feature
  crates/derive/src/stages/channel_reader.rs
Labels: A-derive, K-fix

#339 feat(executor): Builder pattern for `StatelessL2BlockExecutor`
  bin/client/src/kona.rs
  crates/executor/src/builder.rs
  crates/executor/src/lib.rs
Labels: K-feature, A-executor

#342 feat(client): `ecrecover` accelerated precompile
  Cargo.lock
  bin/client/Cargo.toml
  bin/client/src/kona.rs
  bin/client/src/l2/mod.rs
  bin/client/src/l2/precompiles/ecrecover.rs
  bin/client/src/l2/precompiles/mod.rs
Labels: K-feature, A-client

#343 feat(client): `ecpairing` accelerated precompile
  bin/client/src/l2/precompiles/bn128_pair.rs
  bin/client/src/l2/precompiles/mod.rs
Labels: K-feature, A-client

#347 fix(examples): Dockerfile Fixes
  examples/trusted-sync/run.sh
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/telemetry.rs
  justfile
Labels: A-derive, K-fix, A-examples
