Repository op-rs/kona, pull requests merged in 2024-10, with the labels that each got.

#596 feat: kona-providers
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l2/chain_provider.rs
  bin/host/src/fetcher/mod.rs
  crates/derive/Cargo.toml
  crates/derive/src/attributes/mod.rs
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/batch/span_batch/transactions.rs
  crates/derive/src/batch/span_batch/tx_data/eip1559.rs
  crates/derive/src/batch/span_batch/tx_data/eip2930.rs
  crates/derive/src/batch/span_batch/tx_data/legacy.rs
  crates/derive/src/block.rs
  crates/derive/src/lib.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/providers.rs
  crates/derive/src/traits/test_utils.rs
  crates/executor/benches/execution.rs
  crates/executor/src/lib.rs
  crates/executor/src/util.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/test_util.rs
  crates/providers-alloy/Cargo.toml
  crates/providers-alloy/src/alloy_providers.rs
  crates/providers-alloy/src/lib.rs
  crates/providers/Cargo.toml
  crates/providers/README.md
  crates/providers/src/l1_chain_provider.rs
  crates/providers/src/l2_chain_provider.rs
  crates/providers/src/lib.rs
  crates/providers/src/utils.rs
  examples/trusted-sync/src/validation.rs
Labels: K-feature, A-workspace, A-derive

#603 chore(ci): Pin action tests monorepo rev
  .github/workflows/action_tests.yaml
Labels: K-chore, A-ci

#604 feat: Monorepo Pin Update
  .github/workflows/action_tests.yaml
  .github/workflows/monorepo_pin_update.yaml
  .monorepo
  justfile
Labels: K-feature, A-derive

#605 chore(derive): op-alloy and Eip1559 Params
  Cargo.lock
  Cargo.toml
  bin/client/src/l2/chain_provider.rs
  crates/derive/src/attributes/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/executor/benches/execution.rs
  crates/executor/src/lib.rs
  crates/providers-alloy/src/alloy_providers.rs
  crates/providers/Cargo.toml
  crates/providers/src/lib.rs
  crates/providers/src/utils.rs
  examples/trusted-sync/src/validation.rs
Labels: K-chore, A-derive, H-holocene

#601 feat(derive): BatchQueue Update [Holocene]
  crates/derive/src/batch/validity.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
Labels: K-feature, A-derive, H-holocene

#608 fix(ci): Action tests
  justfile
Labels: A-ci, K-fix

#606 [BOT] Update Monorepo
  .monorepo
Labels: A-ci, C-bot

#609 chore: Documentation Cleanup
  assets/favicon.ico
  assets/square.png
  crates/common/src/lib.rs
  crates/derive/src/lib.rs
  crates/executor/src/lib.rs
  crates/mpt/src/lib.rs
  crates/preimage/src/lib.rs
  crates/primitives/src/lib.rs
  crates/providers-alloy/src/lib.rs
  crates/providers/src/lib.rs
Labels: K-documentation, A-workspace

#611 feat(derive): Add `Signal` API
  Cargo.lock
  bin/client/src/l1/driver.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/pipeline.rs
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/main.rs
Labels: K-feature, A-derive, H-holocene

#612 feat(derive): Holocene flush signal
  crates/derive/src/pipeline/core.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/stages.rs
Labels: K-feature, A-derive, H-holocene

#613 chore(derive): Frame Queue Single Frame Test
  crates/derive/src/stages/frame_queue.rs
Labels: K-feature, A-derive, M-tests

#615 feat(client): Pass flush signal
  bin/client/src/l1/driver.rs
Labels: K-feature, A-derive, H-holocene

#616 feat(executor): Use EIP-1559 parameters from payload attributes
  crates/executor/src/lib.rs
Labels: K-feature, A-executor, H-holocene

#617 feat(trusted-sync): Holocene re-validate
  Cargo.lock
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/main.rs
Labels: K-feature, A-examples, H-holocene

#621 chore: Delete `trusted-sync`
  .github/workflows/trusted_sync_docker.yaml
  Cargo.lock
  Cargo.toml
  build/asterisc/asterisc-repro.dockerfile
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/Dockerfile
  examples/trusted-sync/README.md
  examples/trusted-sync/run.sh
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
  examples/trusted-sync/src/telemetry.rs
  examples/trusted-sync/src/validation.rs
  justfile
Labels: K-chore, A-examples

#626 [BOT] Update Monorepo
  .monorepo
Labels: A-ci, C-bot

#636 fix(providers): Remove Slot Derivation
  bin/host/src/cli/mod.rs
  bin/host/src/fetcher/mod.rs
  crates/providers-alloy/src/blob_provider.rs
  crates/providers-alloy/src/lib.rs
  crates/providers-alloy/src/pipeline.rs
Labels: K-fix, A-providers-alloy

#637 chore(derive): Remove Unused Online Module
  crates/derive/src/online/mod.rs
Labels: K-chore, A-derive

#640 [BOT] Update Monorepo
  .monorepo
Labels: A-ci, C-bot

#644 chore(providers-alloy): Blob Provider With Fallback Test Coverage
  crates/providers-alloy/src/blob_provider.rs
Labels: K-chore, M-tests, A-providers-alloy

#647 chore(mpt): Account Conversion Test Coverage
  crates/mpt/src/db/account.rs
Labels: K-chore, M-tests, A-mpt

#648 feat(executor): Update EIP-1559 configurability
  crates/executor/src/lib.rs
Labels: K-feature, A-executor

#649 chore(mpt): mpt noop trait impls
  .github/codecov.yml
  crates/mpt/src/fetcher.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/node.rs
  crates/mpt/src/noop.rs
Labels: K-chore, A-mpt

#654 chore(derive): Hoist AttributesQueue Test Utilities
  crates/derive/src/pipeline/core.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/derive/src/test_utils/stages/attributes_queue.rs
  crates/derive/src/test_utils/stages/mod.rs
Labels: K-chore, A-derive

#656 fix: Codecov
  .github/codecov.yml
Labels: A-workspace, M-tests

#655 chore(mpt): Test Coverage over the TrieDB
  crates/mpt/src/db/mod.rs
Labels: K-chore, A-mpt

#657 chore(derive): Test Coverage over Data Sources
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/variant.rs
Labels: K-chore, A-derive, M-tests

#658 chore(derive): Channel Bank Reset Test Coverage
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
Labels: K-chore, A-derive, M-tests

#660 chore(derive): Test Coverage for ChannelReader Resets
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
Labels: K-chore, A-derive, M-tests

#659 chore(derive): Covers ChannelBank Reading at Indices
  crates/derive/src/stages/channel_bank.rs
Labels: K-chore, A-derive, M-tests

#661 chore(derive): Test ChannelReader Flushing
  crates/derive/src/stages/channel_reader.rs
Labels: K-chore, A-derive, M-tests

#650 chore(executor): Test Coverage over Executor Utilities
  crates/executor/src/util.rs
Labels: K-chore, M-tests, A-executor

#665 chore(client): Improve `BootInfo` field names
  bin/client/src/boot.rs
  bin/client/src/kona.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l2/chain_provider.rs
Labels: K-chore, A-client

#666 chore(host): Improve CLI flag naming
  bin/client/justfile
  bin/host/src/cli/mod.rs
  bin/host/src/kv/local.rs
  bin/host/src/lib.rs
Labels: K-chore, A-host

#669 chore(derive): Test Stage Resets and Flushes
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/batch_stream.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/test_utils/stages/attributes_queue.rs
Labels: K-chore, A-derive, M-tests

#670 chore(derive): Test and Clean Batch Types
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/batch/span_batch/bits.rs
  crates/derive/src/batch/span_batch/element.rs
  crates/derive/src/batch/span_batch/transactions.rs
  crates/derive/src/batch/span_batch/utils.rs
Labels: K-chore, A-derive, M-tests

#671 chore(ci): Reduce monorepo auto-update frequency
  .github/workflows/monorepo_pin_update.yaml
Labels: K-chore, A-ci

#667 chore(host): Support environment variables for `kona-host` flags
  bin/host/src/cli/mod.rs
Labels: K-chore, A-host

#651 chore(executor): Use Upstreamed op-alloy Methods
  Cargo.lock
  Cargo.toml
  bin/client/src/l1/driver.rs
  crates/derive/src/attributes/mod.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/derive/src/test_utils/stages/attributes_queue.rs
  crates/derive/src/traits/attributes.rs
  crates/derive/src/traits/pipeline.rs
  crates/executor/benches/execution.rs
  crates/executor/src/eip4788.rs
  crates/executor/src/lib.rs
  crates/executor/src/util.rs
Labels: K-chore, A-executor, M-patch

#673 chore(derive): Adds more test coverage to Stages
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
Labels: K-chore, A-derive, M-tests

#675 feat(mpt): Auto derive Display
  Cargo.lock
  Cargo.toml
  crates/mpt/Cargo.toml
  crates/mpt/src/node.rs
Labels: K-feature, A-derive

#677 chore(derive): Hoists Test Utilities
  crates/derive/src/attributes/mod.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/test_utils/attributes_queue.rs
  crates/derive/src/test_utils/batch_queue.rs
  crates/derive/src/test_utils/batch_stream.rs
  crates/derive/src/test_utils/channel_bank.rs
  crates/derive/src/test_utils/channel_reader.rs
  crates/derive/src/test_utils/frame_queue.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/stages/mod.rs
  crates/derive/src/test_utils/sys_config_fetcher.rs
  crates/derive/src/test_utils/tracing.rs
Labels: K-chore, A-derive, M-tests

#676 chore(executor): Cover Builder
  crates/executor/src/builder.rs
Labels: K-chore, M-tests, A-executor

#683 fix(derive): Retain L1 blocks
  crates/derive/src/stages/batch_queue.rs
Labels: A-derive, K-fix

#684 feat(derive): `Past` batch validity variant
  crates/derive/src/batch/single_batch.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/batch/validity.rs
  crates/derive/src/errors.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
Labels: K-feature, A-derive

#689 chore(host): Reduce disk<->mem KV proptest runs
  bin/host/src/kv/disk.rs
Labels: K-chore, A-host

#688 fix(derive): Holocene `SpanBatch` prefix checks
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/single_batch.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
Labels: A-derive, K-fix, H-holocene

#692 fix(derive): SpanBatch element limit + channel RLP size limit
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/span_batch/bits.rs
  crates/derive/src/batch/span_batch/mod.rs
  crates/derive/src/batch/span_batch/payload.rs
  crates/derive/src/batch/span_batch/prefix.rs
  crates/derive/src/batch/span_batch/raw.rs
  crates/derive/src/batch/span_batch/transactions.rs
  crates/derive/src/errors.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/utils.rs
Labels: K-bug, A-derive, K-fix

#693 feat(derive): Stage multiplexer
  bin/client/src/l1/driver.rs
  crates/derive/src/errors.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/channel_bank.rs
  crates/derive/src/stages/channel/channel_provider.rs
  crates/derive/src/stages/channel/channel_reader.rs
  crates/derive/src/stages/channel/mod.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/multiplexed.rs
  crates/derive/src/test_utils/channel_bank.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/providers-alloy/src/pipeline.rs
Labels: K-feature, A-derive

#696 feat(derive): Signal Receiving
  Cargo.lock
  bin/client/src/l1/driver.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/batch_stream.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/channel_bank.rs
  crates/derive/src/stages/channel/channel_provider.rs
  crates/derive/src/stages/channel/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/multiplexed.rs
  crates/derive/src/test_utils/attributes_queue.rs
  crates/derive/src/test_utils/batch_queue.rs
  crates/derive/src/test_utils/batch_stream.rs
  crates/derive/src/test_utils/channel_bank.rs
  crates/derive/src/test_utils/channel_reader.rs
  crates/derive/src/test_utils/frame_queue.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/pipeline.rs
  crates/derive/src/traits/stages.rs
Labels: K-feature, A-derive, H-holocene

#701 chore(derive): Add tracing to `ChannelAssembler`
  crates/derive/src/stages/channel/channel_assembler.rs
Labels: K-chore, A-derive

#700 feat(derive): Add `ChannelAssembler` size limitation
  crates/derive/src/stages/channel/channel_assembler.rs
Labels: K-feature, A-derive, H-holocene

#705 fix(mpt): Empty root node case
  crates/mpt/src/node.rs
Labels: K-fix, A-mpt

#638 chore(workspace): Removes Primitives
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/src/l1/blob_provider.rs
  bin/host/Cargo.toml
  bin/host/src/fetcher/mod.rs
  book/src/sdk/fpvm-backend.md
  crates/derive/Cargo.toml
  crates/derive/src/attributes/mod.rs
  crates/derive/src/batch/span_batch/transactions.rs
  crates/derive/src/errors.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/mod.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils.rs
  crates/executor/src/lib.rs
  crates/primitives/CHANGELOG.md
  crates/primitives/Cargo.toml
  crates/primitives/README.md
  crates/primitives/src/blob.rs
  crates/primitives/src/blob_hash.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/sidecar.rs
  crates/providers-alloy/Cargo.toml
  crates/providers-alloy/src/beacon_client.rs
  crates/providers-alloy/src/blob_provider.rs
  crates/providers-alloy/src/lib.rs
  crates/providers-alloy/src/test_utils.rs
Labels: K-chore, A-primitives

#707 chore(providers-alloy): Remove Version Types
  crates/providers-alloy/src/beacon_client.rs
Labels: K-chore, A-providers-alloy

#708 chore(derive): Hoist Test Utilities
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/test_utils/blob_provider.rs
  crates/derive/src/test_utils/data_availability_provider.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/derive/src/traits/mod.rs
Labels: K-chore, A-derive

#712 chore(providers): Eradicate Anyhow
  Cargo.lock
  crates/providers/Cargo.toml
  crates/providers/src/test_utils.rs
Labels: K-chore, A-providers

#711 chore: Workspace Cleanup
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/client/src/l2/chain_provider.rs
  bin/host/Cargo.toml
  crates/common-proc/Cargo.toml
  crates/common/Cargo.toml
  crates/derive/Cargo.toml
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/stages/batch_queue.rs
  crates/executor/Cargo.toml
  crates/mpt/Cargo.toml
  crates/preimage/Cargo.toml
  crates/providers-alloy/Cargo.toml
  crates/providers/Cargo.toml
Labels: K-chore, A-workspace, F-deps

#716 feat(executor): EIP-1559 configurability spec updates
  bin/client/src/fault/handler/bn128_pair.rs
  bin/client/src/fault/handler/mod.rs
  crates/executor/src/errors.rs
  crates/executor/src/lib.rs
  crates/executor/src/util.rs
Labels: K-feature, A-executor, H-holocene

#713 fix(providers-alloy): Recycle Beacon Types
  Cargo.lock
  Cargo.toml
  crates/providers-alloy/Cargo.toml
  crates/providers-alloy/src/beacon_client.rs
  crates/providers-alloy/src/blob_provider.rs
  crates/providers-alloy/src/lib.rs
  crates/providers-alloy/src/test_utils.rs
Labels: K-chore, A-providers-alloy

#703 feat(derive): `BatchValidator` stage
  crates/derive/src/errors.rs
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/batch/batch_stream.rs
  crates/derive/src/stages/batch/batch_validator.rs
  crates/derive/src/stages/batch/mod.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/test_utils/batch_queue.rs
Labels: K-feature, A-derive, H-holocene

#717 feat(workspace): Distribute pipeline, not providers
  Cargo.lock
  Cargo.toml
  README.md
  bin/client/Cargo.toml
  bin/client/src/l1/chain_provider.rs
  bin/client/src/l1/driver.rs
  bin/client/src/l2/chain_provider.rs
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/fetcher/mod.rs
  crates/derive-alloy/CHANGELOG.md
  crates/derive-alloy/Cargo.toml
  crates/derive-alloy/README.md
  crates/derive-alloy/src/alloy_providers.rs
  crates/derive-alloy/src/beacon_client.rs
  crates/derive-alloy/src/blob_provider.rs
  crates/derive-alloy/src/lib.rs
  crates/derive-alloy/src/macros.rs
  crates/derive-alloy/src/metrics.rs
  crates/derive-alloy/src/pipeline.rs
  crates/derive-alloy/src/test_utils.rs
  crates/derive-alloy/src/testdata/eth_v1_beacon_sidecars_goerli.json
  crates/derive/Cargo.toml
  crates/derive/src/attributes/mod.rs
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/span_batch/batch.rs
  crates/derive/src/lib.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/batch/batch_stream.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/test_utils/chain_providers.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/pipeline.rs
  crates/derive/src/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/providers.rs
  crates/providers-alloy/README.md
  crates/providers/CHANGELOG.md
  crates/providers/Cargo.toml
  crates/providers/README.md
  crates/providers/src/l1_chain_provider.rs
  crates/providers/src/l2_chain_provider.rs
  crates/providers/src/lib.rs
  justfile
Labels: K-feature, A-workspace

#718 chore: Dependency Updates
  Cargo.lock
  Cargo.toml
Labels: K-chore, F-deps

#719 feat(executor): Clean ups
  Cargo.lock
  bin/client/src/fault/handler/mod.rs
  crates/executor/Cargo.toml
  crates/executor/src/constants.rs
  crates/executor/src/db/account.rs
  crates/executor/src/db/mod.rs
  crates/executor/src/errors.rs
  crates/executor/src/executor/builder.rs
  crates/executor/src/executor/env.rs
  crates/executor/src/executor/mod.rs
  crates/executor/src/executor/util.rs
  crates/executor/src/lib.rs
  crates/executor/src/syscalls/canyon.rs
  crates/executor/src/syscalls/eip4788.rs
  crates/executor/src/syscalls/mod.rs
  crates/mpt/Cargo.toml
  crates/mpt/src/errors.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/traits.rs
Labels: K-feature, A-mpt, A-executor

#726 feat(derive): `BatchProvider` multiplexed stage
  bin/client/src/l1/driver.rs
  crates/derive-alloy/src/pipeline.rs
  crates/derive/src/errors.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/stages/batch/batch_provider.rs
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/batch/batch_validator.rs
  crates/derive/src/stages/batch/mod.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/channel_bank.rs
  crates/derive/src/stages/channel/channel_provider.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/multiplexed.rs
  crates/derive/src/test_utils/batch_provider.rs
  crates/derive/src/test_utils/channel_provider.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/pipeline.rs
Labels: K-feature, A-derive, H-holocene

#728 feat(docker): Update asterisc reproducible build image
  .github/workflows/kona_fpp_docker.yaml
  build/asterisc/asterisc-repro.dockerfile
  justfile
Labels: K-feature, A-workspace

#729 chore(workspace): Update `asterisc` version to `1.0.3-alpha1`
  .github/workflows/client_host.yaml
  bin/client/justfile
  build/asterisc/asterisc-repro.dockerfile
Labels: K-chore, A-workspace, A-ci, F-deps

#731 chore(deps): op-alloy 0.5.1
  Cargo.lock
  Cargo.toml
  bin/client/src/l2/chain_provider.rs
Labels: A-workspace, F-deps

#735 feat: Remove thiserror
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/errors.rs
  crates/derive-alloy/Cargo.toml
  crates/derive-alloy/src/test_utils.rs
  crates/derive/Cargo.toml
  crates/derive/src/batch/span_batch/errors.rs
  crates/derive/src/errors.rs
  crates/derive/src/test_utils/chain_providers.rs
  crates/executor/Cargo.toml
  crates/executor/src/errors.rs
  crates/mpt/Cargo.toml
  crates/mpt/src/errors.rs
  crates/preimage/Cargo.toml
  crates/preimage/src/errors.rs
Labels: K-feature, A-workspace, F-deps

#733 fix(derive): Holocene action tests / fixes
  .monorepo
  bin/client/src/l1/driver.rs
  crates/derive/src/stages/batch/batch_validator.rs
  justfile
Labels: A-ci, A-derive, K-fix, H-holocene

#739 feat(host): Remove `MAX_RETRIES`
  bin/host/src/fetcher/mod.rs
Labels: K-feature, A-host

#740 feat(host): Ensure prefetch is falliable
  bin/host/src/fetcher/mod.rs
Labels: K-feature, A-host

#743 feat(derive): Remove metrics
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/batch/mod.rs
  crates/derive/src/batch/span_batch/transactions.rs
  crates/derive/src/lib.rs
  crates/derive/src/macros.rs
  crates/derive/src/metrics.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch/batch_provider.rs
  crates/derive/src/stages/batch/batch_queue.rs
  crates/derive/src/stages/batch/batch_stream.rs
  crates/derive/src/stages/batch/batch_validator.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/channel_bank.rs
  crates/derive/src/stages/channel/channel_provider.rs
  crates/derive/src/stages/channel/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
Labels: A-derive

#744 chore(derive): Import Hygiene
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/test_utils/attributes_queue.rs
  crates/derive/src/test_utils/mod.rs
  crates/derive/src/test_utils/sys_config_fetcher.rs
Labels: K-chore, A-derive

#747 chore(ci): Don't run `online` tests in CI
  .github/workflows/coverage.yaml
  .github/workflows/rust_ci.yaml
Labels: K-chore, A-ci

#748 chore(derive-alloy): Remove metrics + cleanup
  Cargo.lock
  Cargo.toml
  crates/derive-alloy/Cargo.toml
  crates/derive-alloy/src/alloy_providers.rs
  crates/derive-alloy/src/beacon_client.rs
  crates/derive-alloy/src/blob_provider.rs
  crates/derive-alloy/src/lib.rs
  crates/derive-alloy/src/macros.rs
  crates/derive-alloy/src/metrics.rs
Labels: K-chore, A-derive-alloy

#750 fix(client): Remove `executor` shadow in FCU retry
  bin/client/src/l1/driver.rs
  justfile
Labels: K-fix, A-client, H-holocene

#751 chore(ci): Use `gotestsum` for action test job
  .github/workflows/action_tests.yaml
  justfile
Labels: K-chore, A-ci

#752 fix(derive-alloy): changelog
  crates/derive-alloy/CHANGELOG.md
Labels: K-bug, A-derive-alloy

#757 chore(derive): Cleanup Exports
  crates/derive/src/attributes/mod.rs
  crates/derive/src/attributes/stateful.rs
  crates/derive/src/lib.rs
Labels: K-chore, A-derive

#758 chore(derive): Error Exports
  bin/client/src/l1/driver.rs
  crates/derive/src/errors/attributes.rs
  crates/derive/src/errors/mod.rs
  crates/derive/src/errors/pipeline.rs
  crates/derive/src/errors/sources.rs
  crates/derive/src/errors/stages.rs
  crates/derive/src/lib.rs
  crates/derive/src/pipeline/builder.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/stages/batch/batch_validator.rs
  crates/derive/src/stages/batch/mod.rs
  crates/derive/src/stages/channel/channel_assembler.rs
  crates/derive/src/stages/channel/mod.rs
  crates/derive/src/test_utils/pipeline.rs
Labels: K-chore, A-derive

#762 chore(derive): README Touchups
  crates/derive/README.md
Labels: K-chore, K-documentation, A-derive

#763 chore(derive-alloy): Docs
  crates/derive-alloy/README.md
  crates/derive-alloy/src/lib.rs
Labels: K-chore, K-documentation, A-derive-alloy
