Repository op-rs/kona, pull requests merged in 2024-05, with the labels that each got.

#175 fix(derive): Inline Blob Validation
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/online/utils.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/sidecar.rs
Labels: K-chore, A-derive

#172 feat(mpt): Refactor `TrieNode`
  Cargo.lock
  crates/mpt/Cargo.toml
  crates/mpt/README.md
  crates/mpt/src/lib.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/test_util.rs
Labels: K-feature, A-mpt

#174 feat(mpt): `TrieCacheDB` scaffold
  crates/mpt/src/db/account.rs
  crates/mpt/src/db/mod.rs
  crates/mpt/src/lib.rs
Labels: K-feature, A-mpt

#179 feat(precompile): Add `precompile` key type
  crates/preimage/src/key.rs
Labels: K-feature, A-preimage

#180 chore(common): Use `Box::leak` rather than `mem::forget`
  crates/common/src/io.rs
Labels: A-common, K-chore

#186 fix(ci): Run CI on `pull_request` and `merge_group` triggers
  .github/workflows/cross_docker.yaml
  .github/workflows/fpvm_tests.yaml
  .github/workflows/rust_ci.yaml
Labels: A-ci, K-fix

#182 fix(primitives): use decode_2718() to gracefully handle the tx type
  Cargo.lock
  crates/primitives/Cargo.toml
  crates/primitives/src/payload.rs
Labels: K-fix, A-primitives

#181 chore(derive): data source unit tests
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/traits/test_utils.rs
  crates/derive/testdata/raw_batcher_tx.hex
Labels: K-chore, A-derive, M-tests

#187 fix: Strong Error Typing
  crates/derive/src/types/channel.rs
  crates/primitives/src/block_info.rs
  crates/primitives/src/system_config.rs
Labels: A-derive, K-fix, A-primitives

#183 feat(preimage): Async server components
  Cargo.lock
  crates/derive/Cargo.toml
  crates/plasma/Cargo.toml
  crates/preimage/Cargo.toml
  crates/preimage/src/hint.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/traits.rs
Labels: K-feature, A-preimage

#184 feat(host): Host program scaffold
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/cli/types.rs
  bin/host/src/fetcher/hint.rs
  bin/host/src/fetcher/mod.rs
  bin/host/src/fetcher/precompiles.rs
  bin/host/src/kv/mem.rs
  bin/host/src/kv/mod.rs
  bin/host/src/main.rs
  bin/host/src/server.rs
  bin/host/src/util.rs
  bin/programs/client/Cargo.toml
  bin/programs/client/README.md
  bin/programs/client/src/main.rs
  bin/programs/optimism/.gitkeep
  bin/programs/optimism/README.md
  crates/common/src/types.rs
  crates/mpt/src/lib.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/test_util.rs
  crates/mpt/src/util.rs
  crates/preimage/src/hint.rs
  crates/preimage/src/key.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/pipe.rs
  crates/preimage/src/traits.rs
Labels: K-feature, A-host

#185 feat(host): Disk backed KV store
  bin/host/src/fetcher/mod.rs
  bin/host/src/kv/disk.rs
  bin/host/src/kv/mem.rs
  bin/host/src/kv/mod.rs
  bin/host/src/main.rs
  bin/host/src/server.rs
Labels: K-feature, A-host

#189 feat(host): Add local key value store
  bin/host/src/cli/mod.rs
  bin/host/src/kv/local.rs
  bin/host/src/kv/mod.rs
  bin/host/src/kv/split.rs
  bin/host/src/main.rs
  crates/preimage/src/key.rs
Labels: K-feature, A-host

#191 chore(workspace): Add aliases in root `justfile`
  justfile
Labels: K-chore, A-workspace
