Repository op-rs/kona, pull requests merged in 2024-04, with the labels that each got.

#71 fix(derive): Share the RollupConfig across Stages with an Arc
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/l1_traversal.rs
Labels: K-chore, A-derive

#73 feat(ci): Add workflow to cycle issues
  .github/workflows/issue_cycler.yaml
Labels: A-ci, K-meta

#65 feat(derive): Channel Reader Implementation
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/types/batch.rs
  crates/derive/src/types/batch_type.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
Labels: K-feature, A-derive

#78 feat(derive): Add signature protection check in `SpanBatchTransactions`
  crates/derive/src/types/batch/span_batch/transactions.rs
  crates/derive/src/types/batch/span_batch/utils.rs
Labels: K-feature, A-derive

#67 feat(derive): BatchQueue Implementation
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/single_batch.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/batch/span_batch/raw.rs
  crates/derive/src/types/batch/validity.rs
  crates/derive/src/types/block.rs
  crates/derive/src/types/genesis.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/payload.rs
  crates/derive/src/types/system_config.rs
Labels: K-feature, A-derive

#84 fix(derive): Bricked Stage Arc'd Param Construction
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/l1_traversal.rs
Labels: K-bug, A-derive

#79 chore(derive): L1Traversal Doc and Test Cleanup
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/types/errors.rs
Labels: K-documentation, A-derive

#75 feat(derive): Portable Telemetry
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/telemetry.rs
  crates/derive/src/traits/test_utils.rs
  crates/derive/src/traits/test_utils/telemetry.rs
Labels: K-feature, A-derive

#74 fix(derive): Hoist Type Params
  crates/derive/src/lib.rs
  crates/derive/src/params.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/types/frame.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/system_config.rs
Labels: K-chore, A-derive

#85 fix(derive): Abstractions and Testing
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/types/attributes.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
Labels: K-feature, A-derive, M-traits

#69 feat(derive): Attributes Queue
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/engine_queue.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/payload_derivation.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/types/attributes.rs
  crates/derive/src/types/batch/single_batch.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/payload.rs
Labels: K-feature, A-derive

#83 fix(derive): Channel Bank Tests and Cleanup
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/traits/test_utils/telemetry.rs
  crates/derive/src/types/errors.rs
Labels: K-chore, A-derive, F-deps

#87 fix(derive): OriginProvider Trait Usage
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
Labels: K-chore, A-derive

#50 feat(derive): Data Sources
  crates/derive/src/lib.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/factory.rs
  crates/derive/src/sources/mod.rs
  crates/derive/src/sources/plasma.rs
  crates/derive/src/sources/source.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils/data_availability.rs
  crates/derive/src/traits/test_utils/data_sources.rs
  crates/derive/src/types/alloy/transaction/envelope.rs
  crates/derive/src/types/blob.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/rollup_config.rs
Labels: K-feature, A-derive, M-traits

#88 fix(derive): Stage Decoupling
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/traits/test_utils.rs
  crates/derive/src/traits/test_utils/data_sources.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/payload.rs
Labels: K-chore, A-derive, M-tests

#90 feat(derive): Add `ecrecover` trait + features
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/traits/ecrecover.rs
  crates/derive/src/traits/mod.rs
Labels: K-feature, A-derive

#91 chore(derive): cleanups
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/factory.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/traits/ecrecover.rs
  crates/derive/src/traits/stages.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/span_batch/builder.rs
  crates/derive/src/types/batch/span_batch/mod.rs
  crates/derive/src/types/batch/span_batch/transactions.rs
  crates/derive/src/types/batch/span_batch/tx_data/eip1559.rs
  crates/derive/src/types/batch/span_batch/tx_data/eip2930.rs
  crates/derive/src/types/batch/span_batch/tx_data/legacy.rs
  crates/derive/src/types/mod.rs
Labels: K-chore, A-derive

#86 feat(derive): Batch Queue Logging
  crates/derive/src/stages/batch_queue.rs
Labels: K-feature, A-derive, M-tests

#95 feat(common): Move from `RegisterSize` to native ptr size type
  crates/common/src/asterisc/io.rs
  crates/common/src/asterisc/syscall.rs
  crates/common/src/cannon/io.rs
  crates/common/src/cannon/syscall.rs
  crates/common/src/io.rs
  crates/common/src/lib.rs
  crates/common/src/traits/basic.rs
  crates/common/src/types.rs
  crates/preimage/src/pipe.rs
Labels: A-common

#96 feat(preimage): `OracleServer` + `HintReader`
  Cargo.lock
  Cargo.toml
  crates/common/src/io.rs
  crates/preimage/Cargo.toml
  crates/preimage/src/hint.rs
  crates/preimage/src/key.rs
  crates/preimage/src/lib.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/traits.rs
Labels: K-feature, A-preimage

#94 feat(derive): Move to `tracing` for telemetry
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/stages/test_utils/tracing.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/telemetry.rs
  crates/derive/src/traits/test_utils.rs
  crates/derive/src/traits/test_utils/telemetry.rs
Labels: K-feature, A-derive

#93 feat(derive): Online `ChainProvider`
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/alloy_providers.rs
  crates/derive/src/lib.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/ecrecover.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/stages.rs
  crates/derive/src/traits/test_utils/data_sources.rs
  crates/derive/src/types/attributes.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/batch/span_batch/raw.rs
  crates/derive/src/types/block.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/payload.rs
  justfile
Labels: K-feature, A-derive

#97 chore(derive): Derive full `SpanBatch` in channel reader
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/batch/span_batch/raw.rs
Labels: K-chore, A-derive

#92 feat(derive): Payload Attribute Building
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/alloy_providers.rs
  crates/derive/src/lib.rs
  crates/derive/src/params.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/attributes_queue/deposits.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils/data_sources.rs
  crates/derive/src/types/deposits.rs
  crates/derive/src/types/ecotone.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
Labels: K-feature, A-derive

#100 feat(derive): Add `L1BlockInfoTx`
  crates/derive/src/types/deposits.rs
  crates/derive/src/types/l1_block_info.rs
  crates/derive/src/types/mod.rs
Labels: K-feature, A-derive

#98 feat(derive): `L2ChainProvider` w/ `op-alloy-consensus`
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/alloy_providers.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils/data_sources.rs
  crates/derive/src/types/attributes.rs
  crates/derive/src/types/block.rs
  crates/derive/src/types/l1_block_info.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/payload.rs
Labels: K-feature, A-derive

#104 chore(workspace): Cleanup justfiles
  build/justfile
  fpvm-tests/justfile
Labels: K-chore, A-workspace

#101 chore(ci): Fail CI on doclint failure
  .github/workflows/ci.yaml
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/types/ecotone.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
Labels: K-chore, A-ci

#102 feat(derive): Build `L1BlockInfoTx` in payload builder
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/types/attributes.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/l1_block_info.rs
  crates/derive/src/types/payload.rs
Labels: K-feature, A-derive

#103 chore(workspace): Move `alloy-primitives` to workspace dependencies
  Cargo.toml
  crates/derive/Cargo.toml
  crates/preimage/Cargo.toml
  examples/simple-revm/Cargo.lock
Labels: K-chore, A-workspace

#116 fix(readme): Remove Blue Highlights
  README.md
Labels: K-documentation, A-workspace

#115 feat(derive): Deposit Derivation Testing
  crates/derive/src/stages/attributes_queue/deposits.rs
Labels: K-chore, A-derive, M-tests

#106 feat(derive): Payload Attributes Builder Tests
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/mod.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/test_utils/data_sources.rs
Labels: K-feature, A-derive, M-tests

#117 feat(derive): Online Blob Provider
  .gitignore
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/online/beacon_client.rs
  crates/derive/src/online/blob_provider.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/online/test_utils.rs
  crates/derive/src/online/testdata/eth_v1_beacon_sidecars_goerli.json
  crates/derive/src/online/utils.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/types/blob.rs
  crates/derive/src/types/mod.rs
  crates/derive/src/types/sidecar.rs
  justfile
Labels: K-feature, A-derive

#123 feat(derive): Use `L2ChainProvider` for system config fetching in attributes builder
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/sources/factory.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils/data_sources.rs
  crates/derive/src/types/l1_block_info.rs
  crates/derive/src/types/payload.rs
  crates/derive/src/types/rollup_config.rs
  crates/derive/src/types/system_config.rs
Labels: K-feature, A-derive

#121 feat(derive): Span Batch Validation
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/test_utils/tracing.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/batch/span_batch/element.rs
  crates/derive/src/types/payload.rs
Labels: K-feature, A-derive, M-traits

#125 fix(derive): Rebase span batch validation tests
  crates/derive/src/types/batch/span_batch/batch.rs
Labels: A-derive, K-fix

#128 feat: `kona-mpt` crate
  Cargo.lock
  README.md
  crates/mpt/Cargo.toml
  crates/mpt/README.md
  crates/mpt/src/lib.rs
  crates/mpt/src/list_walker.rs
  crates/mpt/src/node.rs
  crates/mpt/src/test_util.rs
Labels: K-feature, K-meta, A-mpt

#137 fix(workspace): Release plz
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/mpt/Cargo.toml
Labels: A-workspace, K-release

#135 feat(primitives): kona-derive type refactor
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/types/attributes.rs
  crates/derive/src/types/ecotone.rs
  crates/derive/src/types/mod.rs
  crates/primitives/Cargo.toml
  crates/primitives/README.md
  crates/primitives/src/block.rs
  crates/primitives/src/genesis.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/params.rs
  crates/primitives/src/rollup_config.rs
  crates/primitives/src/system_config.rs
Labels: K-feature, A-derive

#136 WIP host tracking
  Cargo.lock
  Cargo.toml
  bin/host/.gitkeep
  bin/host/Cargo.toml
  bin/host/src/main.rs
  bin/host/src/parser.rs
  bin/host/src/types.rs
Labels: K-feature, A-host

#140 fix(derive): Trait Abstractions and Pipeline Builder
  crates/derive/src/builder.rs
  crates/derive/src/lib.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/stack.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/stages.rs
Labels: A-derive, M-traits, K-fix

#141 Revert "WIP host tracking"
  Cargo.lock
  Cargo.toml
  bin/host/.gitkeep
  bin/host/Cargo.toml
  bin/host/src/main.rs
  bin/host/src/parser.rs
  bin/host/src/types.rs
Labels: A-workspace

#142 fix(derive): TryFrom<SpanBatch> for RawSpanBatch
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/batch/span_batch/raw.rs
Labels: A-derive, K-fix

#145 fix(ci): Release plz
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/mpt/Cargo.toml
  crates/primitives/Cargo.toml
Labels: K-chore, A-ci

#127 feat(derive): Pipeline Builder
  crates/derive/Cargo.toml
  crates/derive/src/builder.rs
  crates/derive/src/lib.rs
  crates/derive/src/online/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/mod.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/stages.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/payload.rs
Labels: K-feature, A-derive

#152 feat(plasma): Implements Plasma Support for kona derive
  Cargo.lock
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/derive/src/online/alloy_providers.rs
  crates/derive/src/params.rs
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/factory.rs
  crates/derive/src/sources/plasma.rs
  crates/derive/src/sources/source.rs
  crates/derive/src/stages/attributes_queue/builder.rs
  crates/derive/src/stages/attributes_queue/deposits.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/sys_config_fetcher.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils.rs
  crates/derive/src/traits/test_utils/data_availability.rs
  crates/derive/src/types/batch/mod.rs
  crates/derive/src/types/batch/span_batch/batch.rs
  crates/derive/src/types/errors.rs
  crates/derive/src/types/mod.rs
  crates/plasma/Cargo.toml
  crates/plasma/README.md
  crates/plasma/src/lib.rs
  crates/plasma/src/test_utils.rs
  crates/plasma/src/traits.rs
  crates/plasma/src/types.rs
  crates/primitives/src/block_info.rs
  crates/primitives/src/deposits.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/payload.rs
  crates/primitives/src/raw_tx.rs
  crates/providers/Cargo.toml
  crates/providers/README.md
  crates/providers/src/chain_provider.rs
  crates/providers/src/l2_chain_provider.rs
  crates/providers/src/lib.rs
  crates/providers/src/test_utils.rs
Labels: K-feature, A-derive, A-plasma

#158 feat(derive): Concrete AttributesQueue Return Type
  crates/derive/src/online/mod.rs
Labels: K-chore, A-derive

#163 feat(primitives): move attributes into primitives
  crates/derive/src/builder.rs
  crates/derive/src/types/mod.rs
  crates/primitives/src/attributes.rs
  crates/primitives/src/lib.rs
Labels: K-feature, A-derive

#160 fix(derive): Remove Duplicate Online Feature Attribute
  crates/derive/src/online/mod.rs
Labels: A-derive, K-fix

#165 chore(plasma): Reduce PlasmaSource Generic Verbosity
  crates/plasma/src/source.rs
Labels: K-chore, A-plasma

#166 fix(plasma): Unit Test the Plasma Source
  crates/derive/src/traits/test_utils.rs
  crates/derive/src/types/errors.rs
  crates/plasma/src/plasma.rs
  crates/plasma/src/source.rs
Labels: K-feature, A-derive, M-tests, A-plasma

#168 chore(workspace): Exclude all crates except `kona-common` from cannon/asterisc lint job
  justfile
Labels: K-chore, A-workspace

#164 fix(plasma): Plasma Data Source Cleanup
  crates/plasma/src/plasma.rs
Labels: K-chore, K-fix, A-plasma

#169 chore(host): Split CLI utilities out from binary
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/cli/parser.rs
  bin/host/src/cli/tracing_util.rs
  bin/host/src/cli/types.rs
  bin/host/src/main.rs
Labels: K-chore, A-host

#159 fix(derive): Ethereum Data Source
  crates/derive/src/sources/ethereum.rs
Labels: A-derive, K-fix

#170 fix(derive): fix span batch utils read_tx_data()
  crates/derive/src/types/batch/span_batch/utils.rs
Labels: K-perf, A-derive
