Repository op-rs/kona, pull requests merged in 2024-08, with the labels that each got.

#409 fix(deps): Bump Alloy Dependencies
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  crates/derive/Cargo.toml
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/mpt/Cargo.toml
  crates/plasma/Cargo.toml
  crates/primitives/Cargo.toml
  crates/primitives/src/block_info.rs
  crates/primitives/src/payload.rs
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/main.rs
Labels: K-chore, F-deps, dependencies, A-examples

#405 fix(kona-derive): Remove DataIter Option Return
  crates/derive/src/sources/blobs.rs
  crates/derive/src/sources/calldata.rs
  crates/derive/src/sources/ethereum.rs
  crates/derive/src/sources/variant.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/traits/data_sources.rs
  crates/derive/src/traits/test_utils.rs
  crates/plasma/src/source.rs
Labels: A-derive, K-fix

#411 fix(examples): Invalid Payload Retries With Backoff
  examples/trusted-sync/src/cli.rs
  examples/trusted-sync/src/main.rs
  examples/trusted-sync/src/metrics.rs
Labels: K-fix, A-examples

#413 fix(trusted-sync): Remove Panics
  examples/trusted-sync/src/main.rs
Labels: K-fix, A-examples

#416 chore(common): Remove need for cursors in `NativeIO`
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/lib.rs
  bin/host/src/types.rs
  bin/host/src/util.rs
  crates/common/Cargo.toml
  crates/common/src/io.rs
  crates/common/src/types.rs
  crates/preimage/Cargo.toml
  crates/preimage/src/hint.rs
  crates/preimage/src/lib.rs
  crates/preimage/src/oracle.rs
  crates/preimage/src/test_utils.rs
Labels: A-common, K-perf, A-host

#422 chore(deps): Bump revm version to v13
  .github/workflows/coverage.yaml
  Cargo.lock
  Cargo.toml
  bin/host/src/fetcher/mod.rs
  crates/executor/src/eip4788.rs
  crates/executor/src/lib.rs
  crates/mpt/src/db/mod.rs
Labels: K-chore, A-workspace, F-deps

#420 fix(derive): Granite Hardfork Support
  Cargo.lock
  crates/derive/src/stages/channel_bank.rs
  crates/primitives/Cargo.toml
  examples/trusted-sync/Cargo.toml
Labels: A-derive

#415 chore(examples): Add logs to trusted-sync
  crates/derive/src/stages/channel_reader.rs
  examples/trusted-sync/src/main.rs
Labels: K-chore, M-bin, A-examples

#423 chore(derive): Remove PreviousStage Trait
  crates/derive/src/pipeline/mod.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/derive/src/stages/batch_queue.rs
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/channel_reader.rs
  crates/derive/src/stages/frame_queue.rs
  crates/derive/src/stages/l1_retrieval.rs
  crates/derive/src/stages/l1_traversal.rs
  crates/derive/src/stages/test_utils/attributes_queue.rs
  crates/derive/src/stages/test_utils/batch_queue.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_reader.rs
  crates/derive/src/stages/test_utils/frame_queue.rs
  crates/derive/src/traits/mod.rs
  crates/derive/src/traits/stages.rs
Labels: K-chore, A-derive, M-traits

#408 feat(ci): Add scheduled FPP differential tests
  .github/workflows/program_diff.yaml
  crates/derive/src/types/batch/mod.rs
Labels: A-ci, M-tests, A-client

#429 fix(host): Backoff after `MAX_RETRIES`
  bin/host/src/fetcher/mod.rs
  bin/host/src/server.rs
Labels: A-host

#425 fix(deps): Pin superchain-registry Version
  Cargo.lock
  crates/primitives/Cargo.toml
  examples/trusted-sync/Cargo.toml
Labels: F-deps, K-fix

#430 chore(workspace): Remove `minimal` and `simple-revm` examples
  .github/workflows/fpvm_tests.yaml
  Cargo.lock
  examples/minimal/Cargo.lock
  examples/minimal/Cargo.toml
  examples/minimal/README.md
  examples/minimal/justfile
  examples/minimal/src/main.rs
  examples/simple-revm/Cargo.lock
  examples/simple-revm/Cargo.toml
  examples/simple-revm/README.md
  examples/simple-revm/justfile
  examples/simple-revm/src/main.rs
  fpvm-tests/README.md
  fpvm-tests/asterisc-tests/common_test.go
  fpvm-tests/asterisc-tests/go.mod
  fpvm-tests/asterisc-tests/go.sum
  fpvm-tests/asterisc-tests/minimal_test.go
  fpvm-tests/asterisc-tests/simple_revm_test.go
  fpvm-tests/cannon-go-tests/go.mod
  fpvm-tests/cannon-go-tests/go.sum
  fpvm-tests/cannon-go-tests/minimal_test.go
  fpvm-tests/cannon-go-tests/simple_revm_test.go
  fpvm-tests/cannon-rs-tests/.gitkeep
  fpvm-tests/cannon-rs-tests/Cargo.lock
  fpvm-tests/cannon-rs-tests/Cargo.toml
  fpvm-tests/cannon-rs-tests/src/lib.rs
  fpvm-tests/cannon-rs-tests/src/minimal_test.rs
  fpvm-tests/cannon-rs-tests/src/simple_revm_test.rs
  fpvm-tests/justfile
Labels: A-workspace, A-ci

#432 fix: Broken link in readme
  README.md
Labels: K-documentation

#431 chore(client): Ensure p256 precompile activation
  bin/client/src/l2/precompiles/mod.rs
Labels: A-client, A-executor

#435 chore(client): Isolate FPVM-specific constructs
  bin/client/src/fault/caching_oracle.rs
  bin/client/src/fault/mod.rs
  bin/client/src/fault/precompiles/bn128_pair.rs
  bin/client/src/fault/precompiles/ecrecover.rs
  bin/client/src/fault/precompiles/kzg_point_eval.rs
  bin/client/src/fault/precompiles/mod.rs
  bin/client/src/kona.rs
  bin/client/src/l2/mod.rs
  bin/client/src/lib.rs
  bin/host/src/kv/local.rs
Labels: K-chore, A-client

#436 chore(common-proc): Suppress doc warning
  crates/common-proc/src/lib.rs
Labels: A-common, K-chore

#437 test(derive): Channel timeout
  crates/derive/src/stages/channel_bank.rs
  crates/derive/src/stages/test_utils/channel_bank.rs
Labels: A-derive, M-tests

#439 feat(client+host): Dynamic `RollupConfig` in bootloader
  Cargo.lock
  bin/client/Cargo.toml
  bin/client/src/boot.rs
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/kv/local.rs
Labels: K-feature, A-host, A-client

#440 chore: Bump SCR to 0.2.6
  Cargo.lock
  crates/primitives/Cargo.toml
  examples/trusted-sync/Cargo.toml
Labels: K-chore

#444 fix(kdn): Updates `kdn` with op-test-vectors Generic Typing
  .github/workflows/fixtures.yaml
  Cargo.lock
  bin/kdn/Cargo.toml
  bin/kdn/src/blobs.rs
  bin/kdn/src/cli.rs
  bin/kdn/src/lib.rs
  bin/kdn/src/pipeline.rs
  bin/kdn/src/providers.rs
  bin/kdn/src/runner.rs
  justfile
Labels: K-feature, A-kd8n

#448 feat: serde Serialization/Deserialization to BootInfo struct
  bin/client/Cargo.toml
  bin/client/src/boot.rs
Labels: K-fix, A-client

#447 fix(derive): Remove FPVM Tests in README
  crates/derive/README.md
Labels: A-derive, K-fix

#443 chore(workspace): Remove `kona-plasma`
  Cargo.lock
  crates/plasma/CHANGELOG.md
  crates/plasma/Cargo.toml
  crates/plasma/README.md
  crates/plasma/src/lib.rs
  crates/plasma/src/online.rs
  crates/plasma/src/plasma.rs
  crates/plasma/src/source.rs
  crates/plasma/src/test_utils.rs
  crates/plasma/src/traits.rs
  crates/plasma/src/types.rs
Labels: K-chore, A-workspace

#449 fix(submodules): HTTPS
  .gitmodules
Labels: A-workspace, F-deps

#453 fix(workspace): Add Unused Dependency Lint
  Cargo.lock
  bin/host/src/lib.rs
  bin/kt/Cargo.toml
  bin/kt/src/main.rs
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  crates/executor/Cargo.toml
  crates/executor/src/lib.rs
  crates/mpt/src/lib.rs
  crates/preimage/Cargo.toml
  crates/preimage/src/lib.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
Labels: K-chore, A-workspace

#455 feat(client): Export `CachingOracle`
  bin/client/src/caching_oracle.rs
  bin/client/src/fault/mod.rs
  bin/client/src/kona.rs
  bin/client/src/lib.rs
Labels: K-feature, A-client

#458 fix: Downgrade for Release Plz
  Cargo.lock
  bin/client/Cargo.toml
  bin/host/Cargo.toml
  bin/kt/Cargo.toml
  crates/derive/Cargo.toml
  crates/executor/Cargo.toml
  crates/primitives/Cargo.toml
  examples/trusted-sync/Cargo.toml
Labels: A-workspace, K-fix

#459 fix(workspace): Use published `revm` version
  Cargo.lock
  Cargo.toml
  crates/executor/Cargo.toml
  crates/primitives/src/block.rs
Labels: A-workspace, F-deps, K-fix

#463 chore(deps): Update Superchain Deps
  Cargo.lock
  crates/primitives/Cargo.toml
  examples/trusted-sync/Cargo.toml
  examples/trusted-sync/src/main.rs
Labels: K-chore, A-workspace, F-deps

#465 chore(workspace): Reorg Workspace Manifest
  Cargo.toml
Labels: K-chore, A-workspace

#466 chore(workspace): Hoist Dependencies
  Cargo.toml
  bin/client/Cargo.toml
  bin/host/Cargo.toml
  crates/common-proc/Cargo.toml
  crates/common/Cargo.toml
  crates/derive/Cargo.toml
  crates/executor/Cargo.toml
  crates/mpt/Cargo.toml
  crates/preimage/Cargo.toml
  crates/primitives/Cargo.toml
  examples/trusted-sync/Cargo.toml
Labels: K-chore, A-workspace

#468 feat(workspace): Workspace Re-exports
  Cargo.toml
  bin/client/Cargo.toml
  bin/host/Cargo.toml
  crates/common-proc/Cargo.toml
  crates/derive/Cargo.toml
  crates/executor/Cargo.toml
  crates/preimage/Cargo.toml
  examples/trusted-sync/Cargo.toml
Labels: A-workspace
