Repository op-rs/kona, pull requests merged in 2025-08, with the labels that each got.

#2637 chore(node/service): update comment
  crates/node/service/src/service/core.rs
Labels: K-chore, A-node, A-sequencer, A-services

#2650 fix(supervisor/storage): prevent log rewinding beyond local safe
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-fix, W-supervisor, A-db

#2654 chore(supervisor/storage): fix metrics
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/metrics.rs
Labels: M-metrics, W-supervisor, A-db

#2653 chore(supervisor): architecture doc
  bin/supervisor/Architecture.md
  bin/supervisor/README.md
Labels: K-docs, W-supervisor

#2666 chore (supervisor): remove dynamic type
  crates/supervisor/core/src/reorg/task.rs
Labels: K-chore, W-supervisor

#2661 feat(supervisor/storage): support activation block rewinding
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/providers/head_ref_provider.rs
Labels: K-feature, W-supervisor, A-db

#2685 fix(supervisor): reorg at startup
  crates/supervisor/core/src/l1_watcher/watcher.rs
Labels: K-fix, W-supervisor

#2690 feat(supervisor): added `test-sequencer` to simple-supervisor devnet
  tests/devnets/simple-supervisor.yaml
Labels: K-feature, K-kurtosis

#2641 feat(node/p2p): allow disabling the bootstore
  bin/node/src/commands/bootstore.rs
  bin/node/src/flags/p2p.rs
  crates/node/disc/src/builder.rs
  crates/node/disc/src/driver.rs
  crates/node/peers/src/lib.rs
  crates/node/peers/src/store.rs
  crates/node/service/src/actors/network/actor.rs
  crates/node/service/src/actors/network/builder.rs
  crates/node/service/src/actors/network/config.rs
Labels: K-feature, A-node, A-p2p

#2679 feat(net/test): add integration test skeleton
  Cargo.lock
  bin/node/src/flags/p2p.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/network/config.rs
  crates/node/service/tests/actors/mod.rs
  crates/node/service/tests/actors/network/mocks.rs
  crates/node/service/tests/actors/network/mod.rs
  crates/node/service/tests/actors/utils.rs
  crates/node/service/tests/integration.rs
Labels: M-tests, A-node, A-p2p

#2566 chore(node/runtime): remove remaining runtime references in kona
  Cargo.lock
  bin/node/src/commands/net.rs
  bin/node/src/flags/p2p.rs
  crates/node/sources/Cargo.toml
  crates/node/sources/src/lib.rs
  crates/node/sources/src/runtime/config.rs
  crates/node/sources/src/runtime/error.rs
  crates/node/sources/src/runtime/loader.rs
  crates/node/sources/src/runtime/mod.rs
Labels: K-chore, A-node

#2639 chore(node/services): remove files from the interop actor
  Cargo.lock
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/interop/api.rs
  crates/node/rpc/src/interop/error.rs
  crates/node/rpc/src/interop/mod.rs
  crates/node/rpc/src/lib.rs
  crates/node/service/Cargo.toml
Labels: K-chore, W-interop, A-node, A-services

#2693 feat(node/p2p): extend network actor test with block propagation. reduce test flakiness
  Cargo.lock
  bin/node/src/flags/p2p.rs
  crates/node/gossip/src/driver.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/network/builder.rs
  crates/node/service/src/actors/network/config.rs
  crates/node/service/src/actors/network/driver.rs
  crates/node/service/tests/actors/generator/block_builder.rs
  crates/node/service/tests/actors/generator/mod.rs
  crates/node/service/tests/actors/generator/seed.rs
  crates/node/service/tests/actors/mod.rs
  crates/node/service/tests/actors/network/mocks.rs
  crates/node/service/tests/actors/network/mocks/builder.rs
  crates/node/service/tests/actors/network/mocks/mod.rs
  crates/node/service/tests/actors/network/mod.rs
  crates/node/service/tests/actors/network/p2p.rs
  crates/node/service/tests/actors/network/sequencer.rs
  crates/node/service/tests/actors/utils.rs
  examples/gossip/src/main.rs
Labels: M-tests, A-node, A-p2p

#2695 chore(ga): only run claude once per pull request
  .github/workflows/claude-code-review.yml
Labels: A-node

#2696 chore(docker): Add back cannon reproducible build
  bin/client/justfile
  crates/proof/std-fpvm/src/tracing.rs
  docker/cannon/mips64-unknown-none.json
  docker/fpvm-prestates/cannon-repro.dockerfile
Labels: K-chore, A-docker

#2711 feat(ci): Add `kona` + `cannon` job
  .github/workflows/proof.yaml
  .gitignore
  Cargo.lock
  bin/client/justfile
Labels: K-feature, A-ci, F-deps

#2738 chore (supervisor): add global metrics
  Cargo.lock
  Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/prometheus.rs
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Labels: M-metrics, W-supervisor

#2765 fix(supervisor/rpc): fix checkAccessList errors
  crates/supervisor/core/src/error.rs
  crates/supervisor/core/src/supervisor.rs
Labels: K-fix, A-rpc, W-supervisor

#2767 fix(supervisor/core): resetter fallback finalized to activation block
  crates/supervisor/core/src/syncnode/resetter.rs
Labels: K-fix, W-supervisor

#2772 feat(supervisor/rpc): `supervisor_localSafe` added
  crates/supervisor/core/src/rpc/metrics.rs
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/service/src/actors/rpc.rs
Labels: K-feature, A-rpc, W-supervisor

#2774 chore (supervisor): build info in metrics
  Cargo.lock
  bin/supervisor/Cargo.toml
  bin/supervisor/build.rs
  bin/supervisor/src/cli.rs
  bin/supervisor/src/flags/metrics.rs
  bin/supervisor/src/flags/mod.rs
  bin/supervisor/src/main.rs
  bin/supervisor/src/metrics/mod.rs
  bin/supervisor/src/metrics/version.rs
  bin/supervisor/src/version.rs
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Labels: M-metrics, W-supervisor

#2753 feat(supervisor): support admin `addL2RPC`
  Cargo.lock
  bin/supervisor/Cargo.toml
  bin/supervisor/src/flags/supervisor.rs
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/handlers/invalidation.rs
  crates/supervisor/core/src/chain_processor/handlers/safe_block.rs
  crates/supervisor/core/src/chain_processor/handlers/unsafe_block.rs
  crates/supervisor/core/src/config/core_config.rs
  crates/supervisor/core/src/error.rs
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/logindexer/indexer.rs
  crates/supervisor/core/src/rpc/admin.rs
  crates/supervisor/core/src/rpc/mod.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/client.rs
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/rpc/src/lib.rs
  crates/supervisor/service/src/actors/processor.rs
  crates/supervisor/service/src/actors/rpc.rs
  crates/supervisor/service/src/service.rs
Labels: A-rpc, W-supervisor

#2783 fix(node/test): fix sequencer block building race condition
  .github/workflows/node_e2e_sysgo_tests.yaml
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/service/src/actors/sequencer/actor.rs
  tests/node/common/tx_inclusion_test.go
  tests/node/transfers/init_test.go
Labels: A-node, A-sequencer
