Repository op-rs/kona, pull requests merged in 2025-09, with the labels that each got.

#2807 fix(node/ci): fixes several CI issues
  Cargo.lock
  Cargo.toml
  bin/rollup/Cargo.toml
  crates/utilities/cli/Cargo.toml
  mise.toml
  tests/.config/optimism_package.json
  tests/go.mod
  tests/go.sum
  tests/justfile
Labels: M-tests, A-node

#2804 feat(node/test): add l2 reorg tests
  .github/workflows/node_e2e_sysgo_tests.yaml
  tests/node/l2_reorg/init_test.go
  tests/node/l2_reorg/l2_reorg_test.go
  tests/node/utils/mixed_preset.go
  tests/node/utils/mod.go
  tests/node/utils/test_sequencer_preset.go
Labels: M-tests, A-node

#2826 chore(ci): fix supervisor sysgo test path
  .github/workflows/supervisor_e2e_sysgo.yaml
Labels: A-ci, M-tests, W-supervisor

#2863 chore(authors): add emhane to authors
  Cargo.toml
Labels: K-chore, K-meta

#2874 feat(jovian/min-base-fee): implement min-base fee in kona
  .config/monorepo
  bin/client/src/single.rs
  crates/node/engine/src/attributes.rs
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/builder/core.rs
  crates/proof/executor/src/builder/env.rs
  crates/proof/executor/src/constants.rs
  crates/proof/executor/src/errors.rs
  crates/proof/executor/src/lib.rs
  crates/proof/executor/src/util.rs
  crates/proof/proof-interop/src/consolidation.rs
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/genesis/src/system/kind.rs
  crates/protocol/protocol/src/errors.rs
  crates/protocol/protocol/src/utils.rs
Labels: K-feature, W-jovian
