Repository op-rs/kona, pull requests merged in 2025-01, with the labels that each got.

#868 feat(build): Adjust RV target - `riscv64g` -> `riscv64ima`
  README.md
  bin/client/justfile
  build/asterisc/asterisc-repro.dockerfile
  build/asterisc/asterisc.dockerfile
  crates/proof-sdk/std-fpvm/src/riscv64/mod.rs
  justfile
Labels: K-feature, A-build

#879 feat(build): Bump `asterisc-builder` version in repro image
  build/asterisc/asterisc-repro.dockerfile
Labels: K-feature, A-build

#881 chore: Isthmus Withdrawals Root
  crates/executor/src/executor/mod.rs
Labels: K-chore, A-executor, H-isthmus

#884 chore: Add emhane as a CODEOWNER
  .github/CODEOWNERS
Labels: K-chore, A-workspace

#880 chore: Bump Dependencies
  Cargo.lock
  Cargo.toml
  crates/derive/src/attributes/stateful.rs
  crates/derive/src/pipeline/core.rs
  crates/derive/src/stages/attributes_queue.rs
  crates/executor/benches/execution.rs
  crates/executor/src/executor/env.rs
  crates/executor/src/executor/mod.rs
  crates/executor/src/executor/util.rs
  crates/mpt/src/node.rs
Labels: K-chore, F-deps

#887 chore(derive): Test Ignoring EIP-7702
  crates/derive/src/sources/calldata.rs
Labels: K-chore, A-derive

#892 chore(deps): Replace dep `alloy-rs/op-alloy-registry`->`op-rs/maili-registry`
  Cargo.lock
  Cargo.toml
  crates/derive/Cargo.toml
  crates/derive/src/stages/channel/channel_bank.rs
  crates/proof-sdk/proof/Cargo.toml
  crates/proof-sdk/proof/src/boot.rs
Labels: F-deps

#893 fix: Small Spelling Issue
  book/src/sdk/exec-ext.md
Labels: K-chore, K-documentation

#899 feat(workspace): `kona-interop` crate
  Cargo.lock
  Cargo.toml
  README.md
  crates/interop/Cargo.toml
  crates/interop/README.md
  crates/interop/src/constants.rs
  crates/interop/src/errors.rs
  crates/interop/src/graph.rs
  crates/interop/src/lib.rs
  crates/interop/src/message.rs
  crates/interop/src/super_root.rs
  crates/interop/src/test_util.rs
  crates/interop/src/traits.rs
Labels: K-feature, A-workspace

#902 feat(workspace): `kona-proof-interop` crate
  Cargo.lock
  Cargo.toml
  README.md
  crates/proof-sdk/proof-interop/Cargo.toml
  crates/proof-sdk/proof-interop/README.md
  crates/proof-sdk/proof-interop/src/boot.rs
  crates/proof-sdk/proof-interop/src/hint.rs
  crates/proof-sdk/proof-interop/src/lib.rs
  crates/proof-sdk/proof-interop/src/pre_state.rs
Labels: K-feature, A-workspace

#904 feat(host): Support multiple modes
  .monorepo
  bin/client/justfile
  bin/host/src/cli/mod.rs
  bin/host/src/eth/blobs.rs
  bin/host/src/eth/mod.rs
  bin/host/src/eth/precompiles.rs
  bin/host/src/fetcher.rs
  bin/host/src/kv/mod.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
  bin/host/src/preimage.rs
  bin/host/src/server.rs
  bin/host/src/single/cli.rs
  bin/host/src/single/fetcher.rs
  bin/host/src/single/local_kv.rs
  bin/host/src/single/mod.rs
  justfile
Labels: K-feature, A-host

#911 fix(ci): codecov
  .github/workflows/coverage.yaml
Labels: A-ci, K-fix

#913 feat(client): Interop consolidation sub-problem
  Cargo.lock
  bin/client/src/interop/consolidate.rs
  bin/client/src/interop/mod.rs
  bin/client/src/interop/transition.rs
  bin/host/src/interop/fetcher.rs
  crates/interop/src/errors.rs
  crates/interop/src/graph.rs
  crates/interop/src/lib.rs
  crates/interop/src/super_root.rs
  crates/interop/src/test_util.rs
  crates/interop/src/traits.rs
  crates/proof-sdk/proof-interop/Cargo.toml
  crates/proof-sdk/proof-interop/src/hint.rs
  crates/proof-sdk/proof-interop/src/lib.rs
  crates/proof-sdk/proof-interop/src/provider.rs
  crates/proof-sdk/proof/src/errors.rs
  crates/proof-sdk/proof/src/l1/chain_provider.rs
Labels: K-feature, A-client

#915 feat(host): Modular components
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/cli/mod.rs
  bin/host/src/eth/mod.rs
  bin/host/src/fetcher.rs
  bin/host/src/interop/cli.rs
  bin/host/src/interop/fetcher.rs
  bin/host/src/interop/local_kv.rs
  bin/host/src/interop/mod.rs
  bin/host/src/interop/orchestrator.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
  bin/host/src/orchestrator.rs
  bin/host/src/server.rs
  bin/host/src/single/cli.rs
  bin/host/src/single/fetcher.rs
  bin/host/src/single/local_kv.rs
  bin/host/src/single/mod.rs
  bin/host/src/single/orchestrator.rs
  build/asterisc/asterisc-repro.dockerfile
Labels: K-feature, A-host, H-interop

#937 chore(executor): Remove `anyhow` dev-dependency
  Cargo.lock
  crates/executor/Cargo.toml
  crates/executor/benches/execution.rs
Labels: K-chore, A-executor

#943 feat(build): Migrate to `mips64r2` target for `cannon`
  README.md
  bin/client/src/kona.rs
  bin/client/src/kona_interop.rs
  book/src/fpp-dev/targets.md
  book/src/intro.md
  build/cannon/cannon.dockerfile
  build/cannon/mips64-unknown-none.json
  crates/proof-sdk/std-fpvm-proc/src/lib.rs
  crates/proof-sdk/std-fpvm/src/io.rs
  crates/proof-sdk/std-fpvm/src/lib.rs
  crates/proof-sdk/std-fpvm/src/malloc.rs
  crates/proof-sdk/std-fpvm/src/mips64/io.rs
  crates/proof-sdk/std-fpvm/src/mips64/mod.rs
  crates/proof-sdk/std-fpvm/src/mips64/syscall.rs
  justfile
Labels: K-feature, A-build

#953 chore(docker): Small Doc Touchup
  docker/README.md
Labels: K-docs, A-build

#954 feat(workspace): Re-introduce `kona-providers-alloy`
  .github/codecov.yml
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  bin/host/src/eth/blobs.rs
  bin/host/src/eth/mod.rs
  bin/host/src/interop/fetcher.rs
  bin/host/src/interop/orchestrator.rs
  bin/host/src/single/fetcher.rs
  bin/host/src/single/orchestrator.rs
  crates/providers-alloy/Cargo.toml
  crates/providers-alloy/README.md
  crates/providers-alloy/src/beacon_client.rs
  crates/providers-alloy/src/blobs.rs
  crates/providers-alloy/src/chain_provider.rs
  crates/providers-alloy/src/l2_chain_provider.rs
  crates/providers-alloy/src/lib.rs
  docker/fpvm-prestates/asterisc-repro.dockerfile
  justfile
Labels: K-feature, A-workspace

#955 chore(docs): Add `kailua` to the README
  README.md
Labels: K-chore, K-docs

#965 feat(executor): EIP-7002 Syscall Support [ISTHMUS]
  crates/executor/src/executor/mod.rs
  crates/executor/src/syscalls/eip7002.rs
  crates/executor/src/syscalls/mod.rs
Labels: K-feature, A-executor, H-isthmus

#968 feat(executor): EIP-7251 Syscall Support [ISTHMUS]
  crates/executor/src/executor/mod.rs
  crates/executor/src/syscalls/eip7251.rs
  crates/executor/src/syscalls/mod.rs
Labels: K-feature, A-executor, H-isthmus

#970 chore(executor): TxEnv Stuffing
  crates/executor/src/syscalls/eip2935.rs
  crates/executor/src/syscalls/eip4788.rs
  crates/executor/src/syscalls/eip7002.rs
  crates/executor/src/syscalls/eip7251.rs
  crates/executor/src/syscalls/mod.rs
  crates/executor/src/syscalls/tx_env.rs
Labels: K-chore, A-executor, H-isthmus

#960 feat(client): EIP-2537 BLS12-381 Curve Precompile Acceleration
  Cargo.lock
  bin/client/src/precompiles/bls12.rs
  bin/client/src/precompiles/mod.rs
  bin/host/src/eth/precompiles.rs
Labels: K-feature, A-client, H-isthmus

#974 fix(executor): Withdrawals root
  crates/executor/src/db/mod.rs
  crates/executor/src/executor/mod.rs
Labels: K-fix, A-executor, H-isthmus

#973 fix(client): Interop transition rules
  bin/client/src/interop/transition.rs
  bin/client/src/single.rs
  crates/driver/src/core.rs
Labels: K-fix, A-client, H-interop

#977 chore(executor): De-duplicate `TrieAccount` type
  Cargo.lock
  crates/executor/Cargo.toml
  crates/executor/src/db/account.rs
  crates/executor/src/db/mod.rs
  crates/executor/src/lib.rs
Labels: K-chore, F-deps, A-executor

#986 feat(proof-interop): Support multiple `RollupConfigs` in boot routine
  Cargo.lock
  bin/client/src/interop/consolidate.rs
  bin/client/src/interop/mod.rs
  bin/client/src/interop/transition.rs
  bin/client/src/interop/util.rs
  bin/client/src/single.rs
  bin/host/src/interop/fetcher.rs
  bin/host/src/interop/local_kv.rs
  crates/interop/Cargo.toml
  crates/interop/src/super_root.rs
  crates/proof-sdk/proof-interop/Cargo.toml
  crates/proof-sdk/proof-interop/src/boot.rs
  crates/proof-sdk/proof-interop/src/pre_state.rs
  crates/proof-sdk/proof/src/l2/chain_provider.rs
Labels: K-feature, A-host, H-interop

#988 chore: Update Dependencies
  Cargo.lock
  Cargo.toml
  bin/host/src/eth/mod.rs
  bin/host/src/interop/fetcher.rs
  bin/host/src/interop/orchestrator.rs
  bin/host/src/single/fetcher.rs
  bin/host/src/single/orchestrator.rs
  crates/executor/src/test_utils.rs
  crates/providers-alloy/src/chain_provider.rs
  crates/providers-alloy/src/l2_chain_provider.rs
Labels: K-chore, F-deps
