Repository op-rs/kona, pull requests merged in 2025-05, with the labels that each got.

#1600 fix(bin/node): Enable Metrics
  bin/node/Cargo.toml
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/macros.rs
  crates/node/service/Cargo.toml
Labels: K-fix, A-binaries

#1606 chore(docker): Update `cannon` tag
  bin/client/justfile
  docker/docker-bake.hcl
  docker/fpvm-prestates/asterisc-repro.dockerfile
  docker/fpvm-prestates/cannon-repro.dockerfile
Labels: K-chore, A-docker

#1610 feat(docker): Enable reproducible prestate builds for interop program
  docker/docker-bake.hcl
  docker/fpvm-prestates/asterisc-repro.dockerfile
  docker/fpvm-prestates/cannon-repro.dockerfile
  docker/fpvm-prestates/justfile
Labels: K-feature, W-interop, A-docker

#1608 [BOT] Update Monorepo
  .config/monorepo
Labels: A-ci, C-bot

#1611 feat(interop): Use `FpvmOpEvmFactory` in interop proof program
  Cargo.lock
  bin/client/src/interop/consolidate.rs
  bin/client/src/interop/mod.rs
  bin/client/src/interop/transition.rs
  bin/client/src/kona_interop.rs
  bin/host/src/interop/cfg.rs
  crates/proof/proof-interop/Cargo.toml
  crates/proof/proof-interop/src/consolidation.rs
Labels: K-feature, A-proof, W-interop

#1613 chore(client): Loosen type constraints on `FpvmOpEvmFactory`
  bin/client/src/fpvm_evm/factory.rs
  bin/client/src/fpvm_evm/precompiles/bls12_g1_add.rs
  bin/client/src/fpvm_evm/precompiles/bls12_g1_msm.rs
  bin/client/src/fpvm_evm/precompiles/bls12_g2_add.rs
  bin/client/src/fpvm_evm/precompiles/bls12_g2_msm.rs
  bin/client/src/fpvm_evm/precompiles/bls12_map_fp.rs
  bin/client/src/fpvm_evm/precompiles/bls12_map_fp2.rs
  bin/client/src/fpvm_evm/precompiles/bls12_pair.rs
  bin/client/src/fpvm_evm/precompiles/bn128_pair.rs
  bin/client/src/fpvm_evm/precompiles/ecrecover.rs
  bin/client/src/fpvm_evm/precompiles/kzg_point_eval.rs
  bin/client/src/fpvm_evm/precompiles/provider.rs
  bin/client/src/fpvm_evm/precompiles/utils.rs
  bin/client/src/interop/mod.rs
  bin/client/src/kona.rs
  bin/client/src/kona_interop.rs
  bin/client/src/single.rs
  bin/host/src/interop/cfg.rs
  bin/host/src/single/cfg.rs
Labels: K-chore, A-proof

#1632 chore(genesis): Use `abi_decode_validate`
  Cargo.lock
  Cargo.toml
  crates/protocol/genesis/src/system/errors.rs
  crates/protocol/genesis/src/updates/batcher.rs
  crates/protocol/genesis/src/updates/eip1559.rs
  crates/protocol/genesis/src/updates/gas_config.rs
  crates/protocol/genesis/src/updates/gas_limit.rs
  crates/protocol/genesis/src/updates/operator_fee.rs
  crates/protocol/genesis/src/updates/signer.rs
Labels: K-chore, A-protocol

#1635 fix(node/engine): Don't use Genesis in EngineState
  crates/node/engine/src/state/builder.rs
  crates/node/service/src/actors/engine.rs
Labels: K-fix, A-node

#1636 chore(interop): Reduce message expiry window
  crates/protocol/interop/src/constants.rs
Labels: K-chore, A-protocol, W-interop

#1631 chore(workspace): Bump op-alloy Dep
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Cargo.toml
  Justfile
  crates/node/engine/src/client.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
Labels: K-chore, A-workspace, F-deps

#1638 chore(bin/node): Disable DISCV5 logging by default
  bin/node/src/commands/node.rs
Labels: K-chore, A-binaries

#1639 chore(node/engine): Decrease Temporary Log Level
  crates/node/engine/src/task_queue/tasks/task.rs
Labels: K-chore, A-node

#1641 chore(bin/node): Cleans up Logs Some More
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
Labels: K-chore, A-binaries

#1642 chore(node): Log Cleanup
  crates/node/p2p/src/gossip/builder.rs
  crates/utilities/cli/src/prometheus.rs
Labels: K-chore, A-node

#1643 chore(interop): Refactor `MessageGraph` test utilities
  crates/protocol/interop/src/errors.rs
  crates/protocol/interop/src/graph.rs
  crates/protocol/interop/src/test_util.rs
Labels: K-chore, M-tests, A-protocol, W-interop

#1646 feat(genesis): Add `is_first_fork_block` helpers to `RollupConfig`
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/protocol/src/batch/single.rs
  crates/protocol/protocol/src/info/variant.rs
Labels: K-feature, A-protocol

#1633 chore(node/rpc): Refactor p2p rpc
  Cargo.lock
  bin/node/src/commands/net.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/metrics/mod.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/src/rpc/mod.rs
  crates/node/p2p/src/rpc/request.rs
  crates/node/p2p/src/rpc/types.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/net.rs
  crates/node/rpc/src/p2p.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-chore, A-node, A-rpc, A-p2p

#1647 feat(genesis): Add `block_number_from_timestamp` helper
  bin/host/src/interop/handler.rs
  crates/protocol/genesis/src/rollup.rs
Labels: K-feature, A-protocol

#1644 feat(interop): Bubble up message validity errors
  crates/proof/proof-interop/src/consolidation.rs
  crates/protocol/interop/src/errors.rs
  crates/protocol/interop/src/graph.rs
Labels: K-feature, A-protocol, W-interop

#1645 feat(interop): Support unaligned activation time
  crates/protocol/interop/src/errors.rs
  crates/protocol/interop/src/graph.rs
Labels: K-feature, A-protocol, W-interop

#1657 chore(node/engine): Small Engine Touchups
  Cargo.lock
  crates/node/engine/src/state/builder.rs
  crates/node/engine/src/state/error.rs
  crates/node/engine/src/state/mod.rs
Labels: K-chore, K-docs, A-node

#1660 chore(bin/node): CLI Argument Unit Tests
  bin/node/src/commands/node.rs
Labels: K-chore, A-binaries

#1658 feat(host): Trace span for `L2BlockData` re-execution
  bin/host/src/interop/handler.rs
Labels: K-feature, A-host, W-interop

#1659 chore(node/rpc): remove no-std requirement from kona-rpc, fix imports
  Cargo.lock
  bin/host/Cargo.toml
  bin/node/Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/engine/src/attributes.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/interop/error.rs
  crates/node/rpc/src/interop/mod.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/output.rs
  crates/node/rpc/src/p2p.rs
  crates/node/rpc/src/response.rs
  crates/node/rpc/src/superchain.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
  crates/proof/proof/Cargo.toml
  crates/proof/proof/src/l1/pipeline.rs
  crates/protocol/derive/Cargo.toml
  crates/protocol/derive/src/pipeline/core.rs
  crates/protocol/derive/src/stages/attributes_queue.rs
  crates/protocol/derive/src/test_utils/pipeline.rs
  crates/protocol/derive/src/traits/attributes.rs
  crates/protocol/derive/src/traits/pipeline.rs
  crates/protocol/driver/Cargo.toml
  crates/protocol/driver/src/core.rs
  crates/protocol/driver/src/pipeline.rs
  crates/protocol/protocol/Cargo.toml
  crates/protocol/protocol/src/attributes.rs
  crates/protocol/protocol/src/lib.rs
  crates/providers/providers-alloy/Cargo.toml
  crates/providers/providers-alloy/src/pipeline.rs
  scripts/check_no_std.sh
Labels: K-chore, A-node, A-rpc

#1661 chore(docker): Update `asterisc` tag
  .github/workflows/client_host.yaml
  docker/docker-bake.hcl
Labels: K-chore, A-docker

#1665 fix(node/engine): Attributes Matching and Sync Status
  crates/node/engine/src/attributes.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
Labels: K-bug, K-fix, A-node

#1663 chore(proof): Drop lock before `await`
  crates/proof/proof/src/caching_oracle.rs
Labels: K-chore, A-proof

#1662 feat(node/service): Superchain Signaling with Runtime Loading
  Cargo.lock
  crates/node/engine/src/client.rs
  crates/node/rpc/src/superchain.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/runtime.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1669 fix(bin/node): Runtime Config Wiring
  bin/node/src/commands/node.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/actors/runtime.rs
Labels: K-fix, A-binaries

#1673 feat(node/engine): transmit the most recent version of the `EngineState` over watch channels to the engine actor
  crates/node/engine/src/task_queue/core.rs
  crates/node/service/src/actors/engine.rs
Labels: A-node, A-engine

#1678 chore(hardforks): Correct EIP-2935 source name
  crates/protocol/hardforks/src/isthmus.rs
Labels: K-chore, A-protocol

#1691 fix(node/service): EL Sync Only
  bin/node/src/commands/node.rs
  crates/node/engine/src/kinds.rs
  crates/node/engine/src/state/builder.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/validator.rs
Labels: K-fix, A-node

#1675 feat(node/service): Flush Channel on Invalid Payloads
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1677 feat(node/service): Update L2 Safe Head
  crates/node/engine/src/task_queue/core.rs
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1676 feat(node/service): Re-import Deposits Only Payload
  Cargo.lock
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/protocol/protocol/src/attributes.rs
Labels: K-feature, A-node

#1690 feat(node/engine): Set Safe Head Consolidation
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/service/src/actors/engine.rs
Labels: K-feature, A-engine

#1701 chore(meta): Add chainsafe as supervisor code owners
  .github/CODEOWNERS
Labels: K-meta

#1703 fix(node/service): Check L2 Safe Head BN
  crates/node/service/src/actors/derivation.rs
Labels: K-feature, A-node, W-node

#1664 feat(engine/rpc): skeleton implementation of the engine rpc
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/lib.rs
  crates/node/engine/src/query.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/rollup.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/validator.rs
  crates/proof/proof/src/l1/pipeline.rs
  crates/providers/providers-alloy/src/pipeline.rs
Labels: K-feature, A-node, A-rpc

#1692 feat(node/l1_watcher): adds query handler for the l1 watcher
  crates/node/rpc/src/l1_watcher.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/rollup.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1697 feat(node/rpc): implement the rollup RPC endpoints
  crates/node/engine/src/lib.rs
  crates/node/engine/src/query.rs
  crates/node/rpc/src/output.rs
  crates/node/rpc/src/rollup.rs
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
  crates/protocol/protocol/src/output_root.rs
Labels: A-node, A-rpc

#1711 feat: Bump `kona-client` and `kona-host` versions
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/host/Cargo.toml
Labels: K-feature, A-proof, M-bin

#1705 fix(node/engine): Initialize Unknowns
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/unknowns.rs
Labels: K-fix, W-node, A-engine

#1706 chore(meta): Add chainsafe as code owners of `kona-supervisor`
  .github/CODEOWNERS
Labels: K-meta, W-supervisor

#1732 chore(workspace): Update Alloy Deps
  Cargo.lock
  Cargo.toml
  crates/node/engine/src/client.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/engine.rs
Labels: K-chore, A-workspace

#1708 fix(node/engine): Derivation Sync Start
  Cargo.lock
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/error.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
  crates/node/sources/Cargo.toml
  crates/node/sources/src/lib.rs
  crates/node/sources/src/sync/error.rs
  crates/node/sources/src/sync/forkchoice.rs
  crates/node/sources/src/sync/mod.rs
Labels: K-fix, W-node, A-derivation

#1737 chore(engine): Remove `skip` module
  crates/node/engine/src/skip.rs
Labels: K-chore, A-engine

#1739 chore(node/engine): Remove CL Sync
  crates/node/engine/src/lib.rs
  crates/node/engine/src/sync.rs
  crates/node/engine/src/sync/config.rs
  crates/node/engine/src/sync/mod.rs
  crates/node/engine/src/sync/mode.rs
Labels: K-chore, A-engine

#1740 fix(node-p2p): Discovery event metric labels
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/metrics/mod.rs
Labels: K-fix, A-node

#1736 chore(node/engine): Update Docs
  crates/node/engine/src/client.rs
  crates/node/engine/src/state/core.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/mod.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/task.rs
Labels: K-docs, A-engine

#1741 feat(engine): Chain label metrics
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/flags/metrics.rs
  crates/node/engine/Cargo.toml
  crates/node/engine/src/lib.rs
  crates/node/engine/src/metrics/mod.rs
  crates/node/engine/src/state/core.rs
Labels: K-feature, A-node

#1744 chore(node/rpc): Remove Duplicate Protocol Versioning Code
  Cargo.lock
  Cargo.toml
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/superchain.rs
  crates/node/service/src/actors/engine.rs
  crates/node/sources/Cargo.toml
  crates/node/sources/src/runtime/config.rs
  crates/node/sources/src/runtime/error.rs
  crates/node/sources/src/runtime/loader.rs
Labels: K-chore, A-node, A-rpc

#1751 chore(engine): Chain label metrics cleanup
  crates/node/engine/Cargo.toml
  crates/node/engine/src/lib.rs
  crates/node/engine/src/metrics/mod.rs
  crates/node/engine/src/state/core.rs
Labels: K-chore, A-engine

#1742 chore(engine): Remove pending/backup unsafe head
  crates/node/engine/src/state/builder.rs
  crates/node/engine/src/state/core.rs
  crates/node/rpc/src/rollup.rs
  crates/protocol/protocol/src/sync.rs
Labels: K-chore, A-node

#1748 chore(bin/node): Remove Discover Subcommand
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/cli.rs
  bin/node/src/commands/discover.rs
  bin/node/src/commands/mod.rs
Labels: K-chore, A-binaries

#1752 chore(bin/node): Subcommand Tests
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/cli.rs
  bin/node/src/commands/bootstore.rs
  bin/node/src/commands/discover.rs
  bin/node/src/commands/info.rs
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/commands/registry.rs
  bin/node/src/flags/rpc.rs
Labels: K-chore, A-binaries

#1743 chore(node/service): Small Cleanup
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/commands/net.rs
  bin/node/src/flags/rpc.rs
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/launcher.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-chore, A-node

#1756 feat(node-service): Aggressively process channels
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
Labels: K-feature, A-node

#1758 feat(node): Version info metrics
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/build.rs
  bin/node/src/cli.rs
  bin/node/src/flags/metrics.rs
  bin/node/src/main.rs
  bin/node/src/metrics/mod.rs
  bin/node/src/metrics/version.rs
  bin/node/src/version.rs
Labels: K-feature, M-metrics, A-node

#1759 feat(node): Mark derivation as idle when it yields
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1763 fix(engine): Reset with inconsistent chain state
  crates/node/engine/src/task_queue/tasks/consolidate/error.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
Labels: K-fix, W-node, A-engine

#1755 fix(node/p2p): Bootnodes in Bootstrap + Backoff Discv5 Restart
  Cargo.lock
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/discv5/driver.rs
Labels: K-chore, A-p2p

#1764 chore: Update LICENSE.md
  LICENSE.md
Labels: K-chore, K-docs

#1765 fix(node/p2p): Disable Topic Scoring
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
  crates/node/p2p/src/peers/score.rs
  crates/node/rpc/src/launcher.rs
Labels: K-bug, A-p2p

#1768 fix(p2p): Discv5 startup panic
  crates/node/p2p/src/discv5/driver.rs
Labels: K-fix, A-p2p

#1766 feat(engine): Task count metrics
  crates/node/engine/src/metrics/mod.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/macros/src/metrics.rs
Labels: K-feature, M-metrics, A-engine

#1767 feat(engine): Engine method call duration metrics
  crates/node/engine/src/client.rs
  crates/node/engine/src/metrics/mod.rs
Labels: K-feature, M-metrics, A-engine

#1769 fix(bin/node): Argument Defaults
  bin/node/src/commands/node.rs
  bin/node/src/flags/metrics.rs
  bin/node/src/flags/p2p.rs
  bin/node/src/flags/rpc.rs
  bin/node/src/flags/sequencer.rs
Labels: K-chore, A-binaries

#1770 chore(node): Empty cargo features metric
  bin/node/src/metrics/version.rs
Labels: K-chore, M-metrics, A-node

#1774 fix(kurtosis): fix kurtosis configuration
  .config/kurtosis_network_params.yaml
Labels: A-node, K-kurtosis

#1773 chore(sources): Refactor sync start to use alloy providers
  Cargo.lock
  crates/node/engine/src/client.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/sources/Cargo.toml
  crates/node/sources/src/sync/error.rs
  crates/node/sources/src/sync/forkchoice.rs
  crates/node/sources/src/sync/mod.rs
  crates/protocol/protocol/src/block.rs
Labels: K-chore, A-node, W-node

#1780 fix(node-service): Engine sync completion condition
  crates/node/engine/src/sync.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/service/src/actors/engine.rs
Labels: K-fix, A-node, W-node

#1747 fix(node/p2p): Async Broadcast with Backoff
  crates/node/p2p/src/net/broadcast.rs
  crates/node/p2p/src/net/driver.rs
Labels: K-debt, A-p2p

#1787 chore(ci): Normalize foundry version
  .github/workflows/action_tests.yaml
Labels: K-chore, A-ci

#1783 fix(node/p2p): Default Channel Size
  crates/node/p2p/src/net/driver.rs
Labels: K-bug, A-p2p

#1788 chore: Consolidate Scripts
  .config/changelog.sh
  .github/scripts/check_no_std.sh
  .github/workflows/no_std.yml
  release.toml
Labels: K-chore, A-workspace

#1777 test(supervisor): Add kurtosis network params for supervisor
  .config/kurtosis_network_params_supervisor.yaml
Labels: M-tests, W-supervisor

#1778 chore(supervisor): Rm deprecated `InvalidInboxEntry` error
  Cargo.lock
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/interop/error.rs
  crates/protocol/interop/src/errors.rs
  crates/protocol/interop/src/lib.rs
Labels: F-deps, K-debt, W-supervisor

#1791 chore(engine): Update block insertion log
  crates/node/engine/src/task_queue/tasks/insert/task.rs
Labels: K-chore, A-node, W-node

#1789 feat(node): Propagate engine reset to pipeline
  Cargo.lock
  bin/node/src/commands/node.rs
  crates/node/engine/Cargo.toml
  crates/node/engine/src/client.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/mod.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/engine/src/task_queue/tasks/unknowns.rs
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/standard/builder.rs
Labels: K-feature, A-node, W-node

#1793 feat: dependency set
  Cargo.lock
  bin/supervisor/Cargo.toml
  bin/supervisor/src/cli.rs
  bin/supervisor/src/flags/metrics.rs
  bin/supervisor/src/flags/supervisor.rs
  crates/protocol/interop/Cargo.toml
  crates/protocol/interop/src/depset.rs
  crates/protocol/interop/src/lib.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/service/Cargo.toml
  crates/supervisor/service/src/service.rs
Labels: W-supervisor

#1790 chore(node-service): Lazy initialize pipeline cursor / engine state
  crates/node/engine/src/client.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/state/builder.rs
  crates/node/engine/src/state/error.rs
  crates/node/engine/src/state/mod.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/standard/error.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
  crates/providers/providers-alloy/src/pipeline.rs
Labels: K-feature, A-node, W-node

#1795 chore(workspace): Manifest Hygiene
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/node/Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/proof/executor/Cargo.toml
  crates/proof/proof-interop/Cargo.toml
  crates/proof/proof/Cargo.toml
  crates/protocol/driver/Cargo.toml
Labels: K-chore, A-workspace, F-deps

#1792 feat(node): Add kurtosis e2e testing skeleton
  .gitignore
  Justfile
  tests/.gitignore
  tests/Justfile
  tests/README.md
  tests/devnets/simple-kona.yaml
  tests/go.mod
  tests/go.sum
  tests/mise.toml
  tests/node/node_test.go
Labels: M-tests, A-node, K-kurtosis

#1802 fix(ci): Use stable toolchain for lint job
  .github/workflows/client_host.yaml
  .github/workflows/rust_ci.yaml
Labels: A-ci, K-fix

#1796 chore(workspace): Remove + Ignore Vscode Config
  .gitignore
  .vscode/settings.json
Labels: K-chore, A-workspace

#1797 chore(protocol/registry): Remove Default Hasher
  Cargo.lock
  crates/protocol/registry/src/lib.rs
Labels: K-chore, A-protocol, A-registry

#1801 fix(node): Zero `safe` + `finalized` hashes while EL syncs
  crates/node/engine/src/attributes.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/service/src/actors/derivation.rs
Labels: K-fix, A-node, W-node

#1804 fix(node): Build task + consolidate condition
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/protocol/protocol/src/block.rs
Labels: K-fix, A-node, W-node

#1781 feat(supervisor/state-manager) : schema for log storage
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/supervisor/storage/Cargo.toml
  crates/supervisor/storage/src/lib.rs
  crates/supervisor/storage/src/models/block.rs
  crates/supervisor/storage/src/models/log.rs
  crates/supervisor/storage/src/models/mod.rs
  deny.toml
Labels: W-supervisor

#1809 feat(engine): Simplify EL sync startup routine
  crates/node/engine/src/sync.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/service/src/actors/engine.rs
  crates/node/sources/src/sync/error.rs
  crates/node/sources/src/sync/forkchoice.rs
  crates/node/sources/src/sync/mod.rs
Labels: K-feature, A-node, W-node

#1805 chore(workspace): Use `alloy-eips`' `EMPTY_REQUESTS_HASH` constant
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/block_validity.rs
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/constants.rs
Labels: K-chore, A-workspace

#1810 chore(engine): Remove `SyncStatus`
  crates/node/engine/src/lib.rs
  crates/node/engine/src/state/core.rs
  crates/node/engine/src/sync.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/service/src/actors/engine.rs
Labels: K-chore, A-node, W-node

#1806 feat(engine): Engine reset counter metric
  crates/node/engine/src/metrics/mod.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/macros/src/metrics.rs
Labels: K-feature, M-metrics, A-node, W-node

#1811 feat(node/p2p): enable support for the peers RPC endpoint
  Cargo.lock
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/rpc/request.rs
Labels: K-feature, A-node, A-rpc, A-p2p

#1821 fix(ci): Free disk space on kurtosis e2e tests
  .github/workflows/e2e_tests.yaml
Labels: A-ci, K-fix

#1814 fix(node/kurtosis-e2e-test): fixes the versionning for the e2e testing package
  tests/Justfile
  tests/go.mod
  tests/go.sum
Labels: M-tests, A-node, K-kurtosis

#1812 feat(node/p2p): implements the `opp2p_peerStats` endpoint
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/rpc/request.rs
  crates/node/p2p/src/rpc/types.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/p2p.rs
Labels: K-feature, A-rpc, A-p2p

#1816 feat(node-service): Handle derivation reset events
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node, W-node

#1824 fix(node/p2p): fix node id serialization and connectedness display
  Cargo.lock
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/rpc/request.rs
  crates/node/p2p/src/rpc/types.rs
Labels: K-fix, A-node, A-rpc, A-p2p

#1820 chore(engine): Don't zero block label gauges
  crates/node/engine/src/metrics/mod.rs
Labels: K-chore, M-metrics, A-engine

#1808 feat(supervisor/storage): derivation schema
  Cargo.lock
  crates/supervisor/storage/Cargo.toml
  crates/supervisor/storage/src/models/common.rs
  crates/supervisor/storage/src/models/derivation.rs
  crates/supervisor/storage/src/models/mod.rs
Labels: W-supervisor, A-db

#1823 feat(node/e2e-test): add peer count test in Kurtosis
  crates/node/p2p/src/rpc/request.rs
  tests/node/mod.go
  tests/node/node_test.go
  tests/node/peer_count.go
  tests/simple-kona.yaml
Labels: M-tests, A-node, A-p2p, K-kurtosis

#1827 fix(p2p/rpc): fix formatting for the `opp2p-peers` rpc method
  crates/node/p2p/src/rpc/request.rs
Labels: K-fix, A-node, A-rpc, A-p2p

#1832 feat(docker): `kona-node` recipe
  docker/README.md
  docker/recipes/kona-node/.gitignore
  docker/recipes/kona-node/README.md
  docker/recipes/kona-node/cfg.env
  docker/recipes/kona-node/docker-compose.yaml
  docker/recipes/kona-node/generate-jwt.sh
  docker/recipes/kona-node/grafana/dashboards/dashboard.yml
  docker/recipes/kona-node/grafana/dashboards/overview.json
  docker/recipes/kona-node/grafana/datasources/prometheus.yml
  docker/recipes/kona-node/justfile
  docker/recipes/kona-node/prometheus/prometheus.yml
Labels: K-feature, A-node, A-docker, W-node

#1713 chore(supervisor): Dedup `SupervisorApi`
  Cargo.lock
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/interop/api.rs
  crates/node/rpc/src/interop/error.rs
  crates/node/rpc/src/interop/mod.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/reqwest.rs
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/rpc/Cargo.toml
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/rpc/src/lib.rs
Labels: A-rpc, K-debt, W-supervisor

#1834 feat(protocol/interop): derived ref pair
  crates/protocol/interop/Cargo.toml
  crates/protocol/interop/src/derived.rs
  crates/protocol/interop/src/lib.rs
Labels: A-protocol, W-supervisor

#1833 feat(node/p2p): streaming engine state through websockets
  crates/node/engine/src/query.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/ws.rs
  crates/node/service/src/service/validator.rs
Labels: M-bin, A-node, A-rpc

#1852 fix(kurtosis/config): fix kurtosis config to use teku instead of nimbus.
  .config/kurtosis_network_params.yaml
  .config/kurtosis_network_params_supervisor.yaml
  tests/devnets/large-kona.yaml
  tests/devnets/simple-kona.yaml
Labels: K-fix, A-node, K-kurtosis

#1856 patch(node/p2p): patch the default p2p params
  bin/node/src/flags/p2p.rs
Labels: M-bin, K-fix, A-node, A-p2p, A-cli

#1830 feat(supervisor/storage): log storage
  Cargo.lock
  crates/supervisor/storage/Cargo.toml
  crates/supervisor/storage/src/models/log.rs
  crates/supervisor/storage/src/models/mod.rs
  crates/supervisor/storage/src/providers/log_provider.rs
  crates/supervisor/storage/src/providers/mod.rs
  crates/supervisor/types/Cargo.toml
  crates/supervisor/types/src/lib.rs
  crates/supervisor/types/src/log.rs
  crates/supervisor/types/src/message.rs
Labels: W-supervisor, A-db

#1859 chore(docker): Update `kona-node` dashboard
  docker/recipes/kona-node/grafana/dashboards/overview.json
Labels: K-chore, A-docker

#1863 chore(ci): Consolidate workflows
  .github/workflows/action_tests.yaml
  .github/workflows/deny.yaml
  .github/workflows/monorepo.yaml
  .github/workflows/no_std.yml
  .github/workflows/proof.yaml
  .github/workflows/rust_ci.yaml
  .github/workflows/sync.yaml
Labels: K-chore, A-ci

#1873 test(supervisor): Comment out kona-supervisor in kurtosis network params
  tests/devnets/simple-supervisor.yaml
Labels: A-ci, M-tests, W-supervisor, K-kurtosis

#1879 chore(workspace): Remove kurtosis recipes
  .config/kurtosis_network_params.yaml
  .config/optimism_package.json
  Justfile
Labels: K-chore, A-workspace

#1875 chore(supervisor): Rename `ManagedNodeApi` to `ManagedModeApi` to match specs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/rpc/src/lib.rs
Labels: K-debt, W-supervisor

#1866 feat(supervisor/core): Implement l2 controller
  Cargo.lock
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/rpc/Cargo.toml
  crates/supervisor/rpc/src/jsonrpsee.rs
Labels: A-node, A-rpc, W-supervisor

#1861 test(node/e2e-sync): adding e2e sync tests for unsafe/finalized sync
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  tests/go.mod
  tests/node/mod.go
  tests/node/node_test.go
  tests/node/sync.go
  tests/node/validators.go
Labels: M-tests, A-node, A-sync, K-kurtosis

#1889 chore(supervisor): error logs consistency
  crates/protocol/interop/src/derived.rs
  crates/supervisor/storage/src/models/block.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/head_ref_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-chore, K-debt, W-supervisor

#1900 fix: supervisor kurtosis devnet
  tests/devnets/simple-supervisor.yaml
Labels: W-supervisor, K-kurtosis

#1887 feat(supervisor/core): managed node event channel
  Cargo.lock
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/syncnode/event.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/types/src/types.rs
Labels: W-supervisor

#1908 chore(supervisor): Add `SubscriptionError`
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
Labels: K-debt, W-supervisor

#1911 chore(supervisor): Define `AuthenticationError`
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
Labels: K-debt, W-supervisor

#1899 fix(node/e2e-sync): fix large sync test
  docker/apps/kona_app_generic.dockerfile
  tests/node/sync.go
Labels: K-bug, M-tests, K-fix, K-kurtosis

#1912 feat(justfile/docker): import docker/app justfile in main kona justfile
  docker/apps/justfile
  justfile
Labels: A-docker

#1913 chore(deps): sync with the latest version of the optimism package. Bump kurtosis
  mise.toml
  tests/go.mod
  tests/go.sum
Labels: K-chore, M-tests, K-kurtosis, go

#1896 docker(cargo-chef): add cargo chef to cache rust builds in docker
  .dockerignore
  docker/apps/kona_app_generic.dockerfile
Labels: A-docker

#1915 fix(docker): add fix-missing to fix docker builds
  docker/apps/kona_app_generic.dockerfile
Labels: K-fix, A-docker

#1901 [BOT] Update Monorepo Revision
  .config/monorepo
Labels: A-ci, C-bot

#1914 feat(node/e2e-tests): add a restart recipe for hot reloads of the kurtosis network
  mise.toml
  tests/justfile
Labels: K-feature, A-ci, A-build, M-tests, K-kurtosis
