Repository op-rs/kona, pull requests merged in 2025-02, with the labels that each got.

#992 feat(host): Re-export default CLIs
  Cargo.lock
  bin/host/Cargo.toml
  bin/host/src/bin/host.rs
  bin/host/src/cli/mod.rs
  bin/host/src/cli/parser.rs
  bin/host/src/interop/cli.rs
  bin/host/src/interop/fetcher.rs
  bin/host/src/interop/local_kv.rs
  bin/host/src/interop/orchestrator.rs
  bin/host/src/lib.rs
  bin/host/src/main.rs
  bin/host/src/single/cli.rs
  bin/host/src/single/fetcher.rs
  bin/host/src/single/local_kv.rs
  bin/host/src/single/orchestrator.rs
Labels: K-feature, A-host

#995 chore(host): Refactor fetchers
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  bin/host/src/backend/mod.rs
  bin/host/src/backend/offline.rs
  bin/host/src/backend/online.rs
  bin/host/src/backend/util.rs
  bin/host/src/eth/mod.rs
  bin/host/src/interop/cfg.rs
  bin/host/src/interop/fetcher.rs
  bin/host/src/interop/handler.rs
  bin/host/src/interop/mod.rs
  bin/host/src/lib.rs
  bin/host/src/single/cfg.rs
  bin/host/src/single/fetcher.rs
  bin/host/src/single/handler.rs
  bin/host/src/single/mod.rs
  crates/proof-sdk/preimage/src/key.rs
  crates/proof-sdk/proof-interop/src/hint.rs
  crates/proof-sdk/proof-interop/src/lib.rs
  crates/proof-sdk/proof/src/hint.rs
Labels: K-chore, A-host

#998 feat(proof-sdk): Cleanup `Hint` API
  bin/client/src/interop/util.rs
  bin/client/src/precompiles/bls12.rs
  bin/client/src/precompiles/bn128_pair.rs
  bin/client/src/precompiles/ecrecover.rs
  bin/client/src/precompiles/kzg_point_eval.rs
  bin/client/src/single.rs
  bin/host/src/interop/handler.rs
  bin/host/src/single/handler.rs
  crates/proof-sdk/proof-interop/src/boot.rs
  crates/proof-sdk/proof-interop/src/hint.rs
  crates/proof-sdk/proof-interop/src/provider.rs
  crates/proof-sdk/proof/src/hint.rs
  crates/proof-sdk/proof/src/l1/blob_provider.rs
  crates/proof-sdk/proof/src/l1/chain_provider.rs
  crates/proof-sdk/proof/src/l2/chain_provider.rs
Labels: K-feature, A-client

#999 feat(proof-sdk): Optional L2 chain ID in L2-specific hints
  bin/client/src/interop/transition.rs
  bin/host/src/interop/cfg.rs
  bin/host/src/interop/handler.rs
  crates/proof-sdk/proof/src/hint.rs
  crates/proof-sdk/proof/src/l2/chain_provider.rs
Labels: K-feature, A-client

#997 fix(ci): Action tests
  .github/workflows/action_tests.yaml
  .monorepo
  justfile
Labels: A-ci, K-fix

#1003 feat(host): Reintroduce `L2BlockData` hint
  bin/host/src/interop/cfg.rs
  bin/host/src/interop/handler.rs
Labels: K-feature, A-host

#1004 feat(client): Superchain Consolidation
  Cargo.lock
  bin/client/Cargo.toml
  bin/client/src/interop/consolidate.rs
  bin/client/src/interop/mod.rs
  bin/client/src/interop/util.rs
  crates/interop/src/graph.rs
  crates/interop/src/super_root.rs
  crates/proof-sdk/proof-interop/Cargo.toml
  crates/proof-sdk/proof-interop/src/consolidation.rs
  crates/proof-sdk/proof-interop/src/lib.rs
Labels: K-feature, A-client, H-interop

#1006 fix(client): Interop bugfixes
  bin/client/src/interop/mod.rs
  bin/host/src/interop/cfg.rs
  bin/host/src/interop/handler.rs
  crates/proof-sdk/proof-interop/src/boot.rs
  crates/proof-sdk/proof-interop/src/lib.rs
  crates/proof-sdk/proof-interop/src/pre_state.rs
  crates/proof-sdk/proof/src/hint.rs
Labels: K-fix, A-client, H-interop

#1005 feat(ci): Coverage for action tests
  .github/codecov.yml
  .github/workflows/action_tests.yaml
  .github/workflows/client_host.yaml
  .github/workflows/coverage.yaml
  .github/workflows/rust_ci.yaml
  bin/client/justfile
  justfile
Labels: K-feature, A-ci, K-action-test

#1010 feat(host): Accelerate all BLS12-381 Precompiles
  Cargo.lock
  bin/client/src/precompiles/bls12_g1_add.rs
  bin/client/src/precompiles/bls12_g1_msm.rs
  bin/client/src/precompiles/bls12_g2_add.rs
  bin/client/src/precompiles/bls12_g2_msm.rs
  bin/client/src/precompiles/bls12_map_fp.rs
  bin/client/src/precompiles/bls12_map_fp2.rs
  bin/client/src/precompiles/bls12_pairing.rs
  bin/client/src/precompiles/mod.rs
  bin/host/src/eth/precompiles.rs
Labels: K-feature, A-host, H-isthmus

#1012 chore(client): Dedup MSM Required Gas Fn
  bin/client/src/precompiles/bls12_g1_msm.rs
  bin/client/src/precompiles/bls12_g2_msm.rs
  bin/client/src/precompiles/mod.rs
  bin/client/src/precompiles/utils.rs
Labels: K-chore, A-client, H-isthmus

#1014 chore(client): Precompile Run Macro
  bin/client/src/precompiles/bls12_g1_add.rs
  bin/client/src/precompiles/bls12_g1_msm.rs
  bin/client/src/precompiles/bls12_g2_add.rs
  bin/client/src/precompiles/bls12_g2_msm.rs
  bin/client/src/precompiles/bls12_map_fp.rs
  bin/client/src/precompiles/bls12_map_fp2.rs
  bin/client/src/precompiles/bls12_pairing.rs
  bin/client/src/precompiles/bn128_pair.rs
  bin/client/src/precompiles/ecrecover.rs
  bin/client/src/precompiles/kzg_point_eval.rs
  bin/client/src/precompiles/utils.rs
Labels: K-chore, A-client, H-isthmus

#1011 fix(client): No-op sub-transitions in Superchain STF
  bin/client/src/interop/mod.rs
  bin/client/src/interop/transition.rs
  bin/client/src/interop/util.rs
  crates/proof-sdk/proof-interop/src/boot.rs
  crates/proof-sdk/proof-interop/src/pre_state.rs
Labels: K-fix, A-client, H-interop

#1020 chore(ci): Bump `codecov-action` to v5
  .github/workflows/action_tests.yaml
  .github/workflows/client_host.yaml
  .github/workflows/rust_ci.yaml
Labels: K-chore, A-ci

#1019 chore(deps): Bump Maili -> `0.2.3`
  Cargo.lock
  Cargo.toml
Labels: K-chore, F-deps

#1024 fix(interop): Check timestamp invariant against executing timestamp AND horizon timestamp
  crates/interop/src/graph.rs
  crates/interop/src/message.rs
Labels: K-fix, H-interop

#1028 chore(interop): Remove horizon timestamp
  crates/interop/src/graph.rs
Labels: K-chore, H-interop

#1036 chore: Monorepo Proposal Doc
  README.md
  book/src/SUMMARY.md
  book/src/proposals/monorepo.md
Labels: A-book, K-docs

#1049 fix: Exclude kona-net
  docker/fpvm-prestates/asterisc-repro.dockerfile
Labels: K-bug, A-ci

#1053 chore(book): RFC and Archives Section
  .github/workflows/book.yaml
  book/src/SUMMARY.md
  book/src/archives/intro.md
  book/src/rfc/intro.md
  book/src/rfc/monorepo.md
Labels: A-book, K-chore

#1034 feat(client): Wire up `L2PayloadWitness` hint for single-chain proof
  Cargo.lock
  bin/host/src/interop/handler.rs
  bin/host/src/single/cfg.rs
  bin/host/src/single/handler.rs
  crates/proof/executor/src/db/mod.rs
  crates/proof/executor/src/executor/mod.rs
  crates/proof/mpt/Cargo.toml
  crates/proof/mpt/src/noop.rs
  crates/proof/mpt/src/traits.rs
  crates/proof/proof-interop/src/hint.rs
  crates/proof/proof/src/l2/chain_provider.rs
Labels: K-feature, A-binaries, M-do-not-merge

#1057 fix(std-fpvm): Allow non-const fn with mut ref
  crates/proof/std-fpvm/src/channel.rs
  justfile
Labels: A-ci, K-fix

#1061 fix(ci): Submodule Sync Crate Path
  Justfile
Labels: A-ci, K-fix

#1062 chore(book): Move the Monorepo Doc to Archives
  book/src/archives/intro.md
  book/src/archives/monorepo.md
Labels: A-book, K-chore

#1058 feat(bin): Network Component Runner
  Cargo.lock
  Cargo.toml
  Justfile
  bin/nexus/Cargo.toml
  bin/nexus/README.md
  bin/nexus/src/disc.rs
  bin/nexus/src/globals.rs
  bin/nexus/src/gossip.rs
  bin/nexus/src/main.rs
  bin/nexus/src/telemetry.rs
  docker/fpvm-prestates/asterisc-repro.dockerfile
Labels: K-feature, A-binaries

#1065 feat(protocol): Introduce Hardforks Crate
  Cargo.lock
  Cargo.toml
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/hardforks/README.md
  crates/protocol/hardforks/src/bytecode/ecotone_tx_0.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_1.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_2.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_3.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_4.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_5.hex
  crates/protocol/hardforks/src/bytecode/eip2935_isthmus.hex
  crates/protocol/hardforks/src/bytecode/eip4788_ecotone.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_0.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_1.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_2.hex
  crates/protocol/hardforks/src/bytecode/gpo_ecotone.hex
  crates/protocol/hardforks/src/bytecode/gpo_fjord.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_1.hex
  crates/protocol/hardforks/src/bytecode/l1_block_ecotone.hex
  crates/protocol/hardforks/src/ecotone.rs
  crates/protocol/hardforks/src/fjord.rs
  crates/protocol/hardforks/src/forks.rs
  crates/protocol/hardforks/src/isthmus.rs
  crates/protocol/hardforks/src/lib.rs
  crates/protocol/hardforks/src/traits.rs
  crates/protocol/hardforks/src/utils.rs
  scripts/check_no_std.sh
Labels: K-feature, A-protocol

#1067 docs: Release Guide
  README.md
  RELEASES.md
Labels: K-docs, A-workspace

#1068 chore(ci): Remove Release Plz
  .github/workflows/monorepo.yaml
  .github/workflows/release.yaml
Labels: K-chore, A-ci

#1072 fix: Remove Maili Shadows from Workspace
  Cargo.lock
  Cargo.toml
  crates/external/rpc/maili/Cargo.toml
  crates/protocol/genesis/maili/Cargo.toml
  crates/protocol/interop/maili/Cargo.toml
  crates/protocol/protocol/maili/Cargo.toml
  crates/protocol/registry/maili/Cargo.toml
  crates/utilities/serde/maili/Cargo.toml
Labels: A-workspace, K-fix

#1060 feat(genesis): Deny Unknown Fields
  crates/protocol/genesis/src/chain/addresses.rs
  crates/protocol/genesis/src/chain/altda.rs
  crates/protocol/genesis/src/chain/config.rs
  crates/protocol/genesis/src/chain/hardfork.rs
  crates/protocol/genesis/src/chain/roles.rs
  crates/protocol/genesis/src/genesis.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/genesis/src/superchain/chain.rs
  crates/protocol/genesis/src/superchain/chains.rs
  crates/protocol/genesis/src/superchain/config.rs
  crates/protocol/genesis/src/superchain/info.rs
  crates/protocol/genesis/src/system/config.rs
  scripts/check_no_std.sh
Labels: K-feature, A-protocol

#1087 release(maili): 0.2.9
  .gitignore
  Cargo.toml
  crates/external/rpc/maili/Cargo.toml
  crates/protocol/genesis/maili/Cargo.toml
  crates/protocol/interop/maili/Cargo.toml
  crates/protocol/protocol/maili/Cargo.toml
  crates/protocol/registry/maili/Cargo.toml
  crates/utilities/serde/maili/Cargo.toml
Labels: K-release

#1091 chore(genesis): Rename HardForkConfiguration
  crates/external/net/src/gossip/config.rs
  crates/protocol/genesis/src/chain/config.rs
  crates/protocol/genesis/src/chain/hardfork.rs
  crates/protocol/genesis/src/chain/mod.rs
  crates/protocol/genesis/src/lib.rs
  crates/protocol/genesis/src/params.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/genesis/src/superchain/chain.rs
  crates/protocol/genesis/src/superchain/chains.rs
  crates/protocol/genesis/src/superchain/config.rs
  crates/protocol/protocol/src/compression/config.rs
  crates/protocol/registry/src/superchain.rs
  deny.toml
  release.toml
Labels: K-chore, A-protocol

#1089 chore(genesis): Serde Test Types
  .github/workflows/deny.yaml
  .github/workflows/no_std.yml
  Cargo.lock
  crates/protocol/genesis/Cargo.toml
  crates/protocol/genesis/src/chain/addresses.rs
  crates/protocol/genesis/src/chain/altda.rs
  crates/protocol/genesis/src/chain/config.rs
  crates/protocol/genesis/src/chain/hardfork.rs
  crates/protocol/genesis/src/chain/roles.rs
  crates/protocol/genesis/src/genesis.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/genesis/src/superchain/config.rs
Labels: K-chore, A-protocol

#1092 chore(genesis): Flatten Hardforks in Rollup Config
  book/src/examples/new-l1-block-info-tx-hardfork.md
  crates/proof/executor/benches/execution.rs
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/derive/src/sources/ethereum.rs
  crates/protocol/derive/src/stages/batch/batch_provider.rs
  crates/protocol/derive/src/stages/batch/batch_queue.rs
  crates/protocol/derive/src/stages/batch/batch_stream.rs
  crates/protocol/derive/src/stages/batch/batch_validator.rs
  crates/protocol/derive/src/stages/channel/channel_assembler.rs
  crates/protocol/derive/src/stages/channel/channel_bank.rs
  crates/protocol/derive/src/stages/channel/channel_provider.rs
  crates/protocol/derive/src/stages/channel/channel_reader.rs
  crates/protocol/derive/src/stages/frame_queue.rs
  crates/protocol/genesis/src/chain/config.rs
  crates/protocol/genesis/src/chain/hardfork.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/genesis/src/superchain/chain.rs
  crates/protocol/genesis/src/superchain/chains.rs
  crates/protocol/genesis/src/superchain/config.rs
  crates/protocol/genesis/src/system/config.rs
  crates/protocol/interop/src/graph.rs
  crates/protocol/protocol/src/batch/reader.rs
  crates/protocol/protocol/src/batch/single.rs
  crates/protocol/protocol/src/batch/span.rs
  crates/protocol/protocol/src/info/variant.rs
  crates/protocol/protocol/src/utils.rs
  crates/protocol/registry/src/superchain.rs
  crates/protocol/registry/src/test_utils/base_mainnet.rs
  crates/protocol/registry/src/test_utils/base_sepolia.rs
  crates/protocol/registry/src/test_utils/op_mainnet.rs
  crates/protocol/registry/src/test_utils/op_sepolia.rs
Labels: K-chore, A-protocol

#1088 feat(proof): EIP-2935 lookback
  Cargo.lock
  bin/client/src/interop/consolidate.rs
  crates/proof/mpt/src/node.rs
  crates/proof/mpt/src/noop.rs
  crates/proof/proof-interop/src/boot.rs
  crates/proof/proof-interop/src/provider.rs
  crates/proof/proof/Cargo.toml
  crates/proof/proof/src/eip2935.rs
  crates/proof/proof/src/errors.rs
  crates/proof/proof/src/l2/chain_provider.rs
  crates/proof/proof/src/lib.rs
Labels: K-feature, A-proof, H-isthmus, H-interop

#1096 [BOT] Update Submodules
  crates/protocol/registry/etc/configs.json
Labels: C-bot, A-submodules

#1106 fix(derive): Use `SystemConfig` batcher key for DAP
  bin/client/src/interop/mod.rs
  bin/client/src/interop/transition.rs
  bin/client/src/single.rs
  bin/host/src/interop/handler.rs
  crates/proof/proof/src/l1/pipeline.rs
  crates/protocol/derive/src/sources/blobs.rs
  crates/protocol/derive/src/sources/calldata.rs
  crates/protocol/derive/src/sources/ethereum.rs
  crates/protocol/derive/src/stages/l1_retrieval.rs
  crates/protocol/derive/src/test_utils/data_availability_provider.rs
  crates/protocol/derive/src/traits/data_sources.rs
Labels: K-feature, A-protocol

#1098 chore(bin): Split up bin utilities
  Cargo.lock
  Cargo.toml
  Justfile
  bin/host/Cargo.toml
  bin/host/src/bin/host.rs
  bin/host/src/interop/cfg.rs
  bin/host/src/lib.rs
  bin/host/src/single/cfg.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/README.md
  crates/utilities/cli/src/clap.rs
  crates/utilities/cli/src/cli_parsers.rs
  crates/utilities/cli/src/lib.rs
  crates/utilities/cli/src/tracing.rs
  docker/fpvm-prestates/asterisc-repro.dockerfile
Labels: K-chore, A-binaries

#1099 chore(nexus): Use `kona-bin-utils`
  Cargo.lock
  bin/host/src/bin/host.rs
  bin/nexus/Cargo.toml
  bin/nexus/src/main.rs
  bin/nexus/src/telemetry.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/tracing.rs
Labels: K-chore, A-binaries

#1100 feat(bin-utils): Add prometheus server initializer
  Cargo.lock
  bin/nexus/Cargo.toml
  bin/nexus/src/telemetry.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/lib.rs
  crates/utilities/cli/src/prometheus.rs
Labels: K-chore, A-binaries

#1101 chore(workspace): Adjust build recipes
  .github/workflows/rust_ci.yaml
  Justfile
  README.md
  bin/client/justfile
  docker/fpvm-prestates/asterisc-repro.dockerfile
Labels: K-chore, A-workspace

#1120 chore(bin): Rework Node Binary
  .github/codecov.yml
  Cargo.lock
  Cargo.toml
  bin/nexus/Cargo.toml
  bin/nexus/src/main.rs
  bin/node/Cargo.toml
  bin/node/README.md
  bin/node/src/cli/disc.rs
  bin/node/src/cli/globals.rs
  bin/node/src/cli/gossip.rs
  bin/node/src/cli/mod.rs
  bin/node/src/cli/node.rs
  bin/node/src/cli/telemetry.rs
  bin/node/src/engine/client.rs
  bin/node/src/engine/mod.rs
  bin/node/src/lib.rs
  bin/node/src/main.rs
  bin/node/src/pilot/mod.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/lib.rs
  crates/utilities/cli/src/sigsegv_handler.rs
Labels: A-binaries

#1144 chore(proof-interop): Adjust `TRANSITION_STATE_MAX_STEPS`
  crates/proof/proof-interop/src/pre_state.rs
Labels: K-chore, A-proof

#1140 chore(rpc): Remove L2BlockRef
  crates/external/rpc/src/api.rs
  crates/external/rpc/src/lib.rs
  crates/external/rpc/src/output.rs
  crates/external/rpc/src/sync.rs
  crates/protocol/protocol/src/block.rs
  crates/protocol/protocol/src/lib.rs
  crates/protocol/protocol/src/sync.rs
Labels: K-chore, A-protocol

#1143 chore(book): Book Cleanup for Node Docs
  book/src/SUMMARY.md
  book/src/examples/README.md
  book/src/proof-sdk/custom-backend.md
  book/src/proof-sdk/exec-ext.md
  book/src/proof-sdk/fpvm-backend.md
  book/src/proof-sdk/intro.md
  book/src/proof-sdk/pipeline/intro.md
  book/src/proof-sdk/pipeline/providers.md
  book/src/proof-sdk/pipeline/signaling.md
  book/src/proof-sdk/pipeline/stages.md
  book/src/protocol/genesis/intro.md
  book/src/protocol/genesis/rollup-config.md
  book/src/protocol/genesis/system-config.md
  book/src/protocol/intro.md
  book/src/protocol/protocol/batches.md
  book/src/protocol/protocol/block-info.md
  book/src/protocol/protocol/channels.md
  book/src/protocol/protocol/frames.md
  book/src/protocol/protocol/intro.md
  book/src/sdk/README.md
Labels: A-book, K-docs

#1136 feat(node): Engine Controller
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/engine/controller.rs
  bin/node/src/engine/error.rs
  bin/node/src/engine/mod.rs
  bin/node/src/engine/skip.rs
  bin/node/src/engine/state.rs
  bin/node/src/engine/status.rs
  bin/node/src/lib.rs
  bin/node/src/sync/config.rs
  bin/node/src/sync/mod.rs
  bin/node/src/sync/mode.rs
Labels: K-feature, A-binaries

#1145 chore(book): Maili Rename
  book/src/examples/batch-to-frames.md
  book/src/examples/frames-to-batch.md
  book/src/examples/load-a-rollup-config.md
  book/src/examples/new-l1-block-info-tx-hardfork.md
  book/src/protocol/genesis/intro.md
  book/src/protocol/genesis/rollup-config.md
  book/src/protocol/genesis/system-config.md
  book/src/protocol/intro.md
  book/src/protocol/protocol/batches.md
  book/src/protocol/protocol/block-info.md
  book/src/protocol/protocol/channels.md
  book/src/protocol/protocol/frames.md
  book/src/protocol/protocol/intro.md
Labels: A-book, K-docs

#1104 chore(deps): Bumps dependencies
  .github/workflows/action_tests.yaml
  .github/workflows/book.yaml
  .github/workflows/client_host.yaml
  .github/workflows/monorepo.yaml
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Cargo.toml
  README.md
  bin/client/src/precompiles/utils.rs
  clippy.toml
  crates/external/rpc/maili/Cargo.toml
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/derive/src/stages/batch/batch_validator.rs
  crates/protocol/genesis/maili/Cargo.toml
  crates/protocol/genesis/src/system/config.rs
  crates/protocol/interop/maili/Cargo.toml
  crates/protocol/protocol/maili/Cargo.toml
  crates/protocol/registry/maili/Cargo.toml
  crates/utilities/serde/maili/Cargo.toml
  docker/apps/kona_host.dockerfile
  rust-toolchain.toml
Labels: F-deps

#1146 chore(book): Update Protocol Crate Docs
  book/book.toml
  book/src/SUMMARY.md
  book/src/examples/README.md
  book/src/examples/batch-to-frames.md
  book/src/examples/frames-to-batch.md
  book/src/examples/intro.md
  book/src/intro.md
  book/src/protocol/hardforks.md
  book/src/protocol/protocol/block-info.md
  book/src/protocol/protocol/intro.md
  book/src/protocol/protocol/l2-block-info.md
  book/src/protocol/registry.md
  book/src/sdk/consensus.md
  book/src/sdk/engine.md
Labels: A-book, K-docs

#1147 chore(hardforks): Fix Alloy Reference
  crates/protocol/hardforks/src/forks.rs
Labels: K-docs, A-protocol

#1094 chore(deps): Use `reth-execution-types` instead of `reth-provider`
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Cargo.toml
  crates/providers/providers-local/Cargo.toml
  crates/providers/providers-local/src/chain_provider.rs
Labels: F-deps
