Repository op-rs/kona, pull requests merged in 2025-03, with the labels that each got.

#1095 chore(deps): Bump reth
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Cargo.toml
  crates/providers/providers-local/Cargo.toml
  crates/providers/providers-local/src/chain_provider.rs
Labels: F-deps

#1151 fix(derive): Hardfork Deps
  Cargo.lock
  crates/protocol/derive/Cargo.toml
  crates/protocol/derive/src/attributes/stateful.rs
Labels: K-fix, A-protocol

#1149 chore(book): Cleanup Protocol Docs
  book/src/SUMMARY.md
  book/src/intro.md
  book/src/proof/custom-backend.md
  book/src/proof/exec-ext.md
  book/src/proof/fpvm-backend.md
  book/src/proof/intro.md
  book/src/protocol/derive/intro.md
  book/src/protocol/derive/providers.md
  book/src/protocol/derive/signaling.md
  book/src/protocol/derive/stages.md
  book/src/protocol/interop.md
  book/src/protocol/intro.md
Labels: A-book, K-chore

#1150 chore(interop): Replace Interop Feat Flag
  crates/protocol/interop/Cargo.toml
  crates/protocol/interop/src/client.rs
  crates/protocol/interop/src/lib.rs
  crates/protocol/interop/src/supervisor.rs
Labels: K-chore, A-protocol

#1155 fix: 2021 Edition Fragment Specifier
  Cargo.lock
  bin/client/src/precompiles/utils.rs
Labels: K-chore

#1164 chore(node): Move Engine into Crate
  .github/codecov.yml
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/engine/mod.rs
  bin/node/src/lib.rs
  bin/node/src/pilot/mod.rs
  crates/node/engine/Cargo.toml
  crates/node/engine/README.md
  crates/node/engine/src/client.rs
  crates/node/engine/src/controller.rs
  crates/node/engine/src/controller_builder.rs
  crates/node/engine/src/error.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/skip.rs
  crates/node/engine/src/state.rs
  crates/node/engine/src/state_builder.rs
  crates/node/engine/src/status.rs
Labels: K-chore, A-binaries

#1166 feat(node): Initial orchestration logic
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/cli/node.rs
  bin/node/src/lib.rs
  bin/node/src/node/actors/derivation.rs
  bin/node/src/node/actors/mod.rs
  bin/node/src/node/builder.rs
  bin/node/src/node/events.rs
  bin/node/src/node/mod.rs
  bin/node/src/node/producers/l1_watcher_rpc.rs
  bin/node/src/node/producers/mod.rs
  bin/node/src/node/traits.rs
  bin/node/src/pilot/mod.rs
  crates/proof/proof/src/l1/mod.rs
  crates/proof/proof/src/l1/pipeline.rs
  crates/protocol/derive/src/pipeline/builder.rs
  crates/protocol/derive/src/pipeline/mod.rs
Labels: K-feature, M-bin, A-binaries

#1167 chore(engine): Sync Types
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/lib.rs
  bin/node/src/node/builder.rs
  bin/node/src/sync/mod.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/sync/config.rs
  crates/node/engine/src/sync/mod.rs
  crates/node/engine/src/sync/mode.rs
  crates/node/engine/src/sync/status.rs
Labels: K-chore, A-binaries

#1156 feat(registry): Lookup `Chain` + `RollupConfig` by identifier
  Cargo.lock
  Cargo.toml
  crates/protocol/registry/Cargo.toml
  crates/protocol/registry/src/chain_list.rs
  crates/protocol/registry/src/lib.rs
  crates/protocol/registry/src/superchain.rs
Labels: K-feature, A-registry

#1168 feat(engine): Version Providers
  crates/node/engine/src/lib.rs
  crates/node/engine/src/versions.rs
Labels: K-chore

#1169 fix(engine): Engine Client
  crates/node/engine/src/client.rs
  crates/node/engine/src/controller.rs
Labels: K-chore, A-node

#1173 chore(engine): Fixup EngineClient
  Cargo.lock
  Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/engine/src/client.rs
  crates/node/engine/src/controller.rs
  crates/node/engine/src/controller_builder.rs
  crates/node/engine/src/error.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/state_builder.rs
Labels: K-chore, A-node

#1182 chore(workspace): Move `external` crates to `node`
  Cargo.toml
  README.md
  crates/node/engine/README.md
  crates/node/net/Cargo.toml
  crates/node/net/README.md
  crates/node/net/src/builder.rs
  crates/node/net/src/discovery/bootnodes.rs
  crates/node/net/src/discovery/builder.rs
  crates/node/net/src/discovery/driver.rs
  crates/node/net/src/discovery/mod.rs
  crates/node/net/src/driver.rs
  crates/node/net/src/gossip/behaviour.rs
  crates/node/net/src/gossip/config.rs
  crates/node/net/src/gossip/driver.rs
  crates/node/net/src/gossip/event.rs
  crates/node/net/src/gossip/handler.rs
  crates/node/net/src/gossip/mod.rs
  crates/node/net/src/lib.rs
  crates/node/net/src/types/enr.rs
  crates/node/net/src/types/mod.rs
  crates/node/net/src/types/peer.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/README.md
  crates/node/rpc/maili/Cargo.toml
  crates/node/rpc/maili/README.md
  crates/node/rpc/maili/src/lib.rs
  crates/node/rpc/src/api.rs
  crates/node/rpc/src/attributes.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/net.rs
  crates/node/rpc/src/output.rs
  crates/node/rpc/src/response.rs
  crates/node/rpc/src/superchain.rs
  crates/node/rpc/src/traits.rs
  scripts/check_no_std.sh
Labels: K-chore, A-workspace

#1171 feat(interop): Dedup logic for parsing `Log` to `ExecutingMessage`
  Cargo.lock
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/traits.rs
  crates/protocol/interop/src/lib.rs
  crates/protocol/interop/src/message.rs
Labels: A-protocol, H-interop

#1063 feat(book): Umbrella Crate RFC
  README.md
  book/src/rfc/umbrellas.md
Labels: A-book, K-feature

#1184 chore(book): Teeny Update
  Cargo.lock
  book/src/rfc/umbrellas.md
Labels: A-book, K-chore

#1180 feat(node): Derivation actor
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/main.rs
  bin/node/src/node/actors/derivation.rs
  bin/node/src/node/actors/l1_watcher_rpc.rs
  bin/node/src/node/actors/mod.rs
  bin/node/src/node/builder.rs
  bin/node/src/node/events.rs
  bin/node/src/node/mod.rs
  bin/node/src/node/producers/mod.rs
  bin/node/src/node/traits.rs
  crates/providers/providers-alloy/Cargo.toml
  crates/providers/providers-alloy/src/l2_chain_provider.rs
  crates/providers/providers-alloy/src/lib.rs
  crates/providers/providers-alloy/src/pipeline.rs
Labels: K-feature, A-node

#1181 chore(executor): Fix comments in EIP-2935 syscall module
  crates/proof/executor/src/syscalls/eip2935.rs
  crates/proof/executor/src/syscalls/tx_env.rs
Labels: K-chore, A-proof

#1177 feat(engine): Actor + Task Model
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/actor.rs
  crates/node/engine/src/controller.rs
  crates/node/engine/src/controller_builder.rs
  crates/node/engine/src/error.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/state/builder.rs
  crates/node/engine/src/state/core.rs
  crates/node/engine/src/state/mod.rs
  crates/node/engine/src/tasks/forkchoice.rs
  crates/node/engine/src/tasks/mod.rs
  crates/node/engine/src/tasks/traits.rs
Labels: K-feature, A-node

#1186 chore(docs): Update `README.md`
  README.md
Labels: K-chore, K-docs, A-workspace

#1185 chore(registry): Remove Default Hasher
  crates/protocol/registry/src/superchain.rs
Labels: K-chore, A-protocol

#1187 chore(preimage): Add labels to `README.md`
  crates/proof/preimage/README.md
Labels: K-chore, K-docs, A-proof

#1191 feat(engine): FCU Task Updates
  crates/node/engine/src/actor.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/macros.rs
  crates/node/engine/src/tasks/forkchoice/errors.rs
  crates/node/engine/src/tasks/forkchoice/messages.rs
  crates/node/engine/src/tasks/forkchoice/mod.rs
  crates/node/engine/src/tasks/forkchoice/task.rs
  crates/node/engine/src/tasks/mod.rs
Labels: K-feature, A-node

#1192 fix(protocol): Use `Prague` blob fee calculation for L1 info tx
  crates/protocol/protocol/src/info/variant.rs
Labels: K-fix, A-protocol, H-isthmus

#1190 chore(workspace): Update `README.md`
  README.md
Labels: K-chore, K-docs, A-workspace

#1193 feat(engine): Engine Task Cleanup + Insert Payload Task Stub
  crates/node/engine/src/actor.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/tasks/forkchoice/error.rs
  crates/node/engine/src/tasks/forkchoice/mod.rs
  crates/node/engine/src/tasks/forkchoice/task.rs
  crates/node/engine/src/tasks/insert/error.rs
  crates/node/engine/src/tasks/insert/messages.rs
  crates/node/engine/src/tasks/insert/mod.rs
  crates/node/engine/src/tasks/insert/task.rs
  crates/node/engine/src/tasks/mod.rs
Labels: K-chore, A-node

#1194 feat(engine): Insert Task Updates
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/lib.rs
  crates/node/engine/src/tasks/forkchoice/error.rs
  crates/node/engine/src/tasks/forkchoice/task.rs
  crates/node/engine/src/tasks/insert/error.rs
  crates/node/engine/src/tasks/insert/messages.rs
  crates/node/engine/src/tasks/insert/mod.rs
  crates/node/engine/src/tasks/insert/task.rs
  crates/node/engine/src/tasks/mod.rs
  crates/node/engine/src/tasks/traits.rs
Labels: K-feature, A-node

#1195 fix(protocol): Add optional pectra blob fee schedule fork
  crates/protocol/genesis/src/chain/hardfork.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/genesis/src/superchain/chain.rs
  crates/protocol/genesis/src/superchain/chains.rs
  crates/protocol/genesis/src/superchain/config.rs
  crates/protocol/protocol/src/info/variant.rs
  crates/protocol/registry/src/test_utils/base_mainnet.rs
  crates/protocol/registry/src/test_utils/base_sepolia.rs
  crates/protocol/registry/src/test_utils/op_mainnet.rs
  crates/protocol/registry/src/test_utils/op_sepolia.rs
Labels: K-fix, A-protocol

#1203 feat(providers-alloy): Refactor `AlloyChainProvider`
  bin/node/src/node/mod.rs
  crates/providers/providers-alloy/src/chain_provider.rs
Labels: A-providers, K-feature

#1204 feat(providers-alloy): Refactor `AlloyL2ChainProvider`
  Cargo.lock
  bin/node/src/node/mod.rs
  crates/providers/providers-alloy/Cargo.toml
  crates/providers/providers-alloy/src/chain_provider.rs
  crates/providers/providers-alloy/src/l2_chain_provider.rs
Labels: A-providers, K-feature

#1197 feat(engine): Insert New Payload
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/actor.rs
  crates/node/engine/src/tasks/forkchoice/task.rs
  crates/node/engine/src/tasks/insert/error.rs
  crates/node/engine/src/tasks/insert/messages.rs
  crates/node/engine/src/tasks/insert/task.rs
  crates/node/net/Cargo.toml
  crates/node/net/src/driver.rs
  crates/node/net/src/gossip/handler.rs
Labels: K-feature, A-node

#1205 chore: Bump op-alloy Deps
  Cargo.lock
  Cargo.toml
Labels: K-chore, F-deps

#1202 feat(engine): Wire up Insert Task
  crates/node/engine/src/actor.rs
  crates/node/engine/src/tasks/forkchoice/messages.rs
  crates/node/engine/src/tasks/insert/task.rs
  crates/node/engine/src/versions.rs
Labels: K-feature, A-node

#1176 chore(protocol): RPC Block -> L2BlockInfo
  Cargo.lock
  Cargo.toml
  crates/node/engine/src/client.rs
  crates/protocol/protocol/Cargo.toml
  crates/protocol/protocol/src/block.rs
Labels: K-chore, A-protocol

#1207 feat(node): Add `sync_start` module
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/cli/node.rs
  bin/node/src/node/mod.rs
  bin/node/src/node/sync_start.rs
  crates/protocol/derive/src/errors/pipeline.rs
  crates/providers/providers-alloy/src/chain_provider.rs
  crates/providers/providers-alloy/src/l2_chain_provider.rs
  crates/providers/providers-alloy/src/lib.rs
Labels: K-feature, A-node

#1212 chore: Fix Deny Config
  deny.toml
Labels: K-chore, A-workspace

#1213 chore(node-rpc): Delete dead code
  crates/node/rpc/src/api.rs
  crates/node/rpc/src/jsonrpsee.rs
Labels: K-chore, A-rpc

#1210 chore(protocol): Update Sepolia-only fork to activate on L1 blocktime
  crates/proof/executor/src/executor/env.rs
  crates/protocol/protocol/src/info/variant.rs
Labels: K-feature, A-protocol

#1215 chore(rpc): Rename `RollupNode` -> `RollupNodeApi`, export
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
Labels: K-chore, A-rpc

#1217 chore(genesis): Update `SystemConfig` ser
  crates/protocol/genesis/src/system/config.rs
Labels: K-chore, A-protocol

#1218 release: Maili crates one last time
  .github/codecov.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  crates/node/rpc/Cargo.toml
  crates/node/rpc/maili/Cargo.toml
  crates/node/rpc/maili/README.md
  crates/node/rpc/maili/src/lib.rs
  crates/protocol/derive/Cargo.toml
  crates/protocol/genesis/Cargo.toml
  crates/protocol/genesis/maili/Cargo.toml
  crates/protocol/genesis/maili/README.md
  crates/protocol/genesis/maili/src/lib.rs
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/interop/Cargo.toml
  crates/protocol/interop/maili/Cargo.toml
  crates/protocol/interop/maili/README.md
  crates/protocol/interop/maili/src/lib.rs
  crates/protocol/protocol/Cargo.toml
  crates/protocol/protocol/maili/Cargo.toml
  crates/protocol/protocol/maili/README.md
  crates/protocol/protocol/maili/src/lib.rs
  crates/protocol/registry/Cargo.toml
  crates/protocol/registry/maili/Cargo.toml
  crates/protocol/registry/maili/README.md
  crates/protocol/registry/maili/src/lib.rs
  crates/utilities/serde/Cargo.toml
  crates/utilities/serde/maili/Cargo.toml
  crates/utilities/serde/maili/README.md
  crates/utilities/serde/maili/src/lib.rs
Labels: K-release

#1221 chore(net): P2P Rename
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/README.md
  bin/node/src/cli/disc.rs
  bin/node/src/cli/gossip.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/README.md
  crates/node/p2p/src/builder.rs
  crates/node/p2p/src/discovery/bootnodes.rs
  crates/node/p2p/src/discovery/builder.rs
  crates/node/p2p/src/discovery/driver.rs
  crates/node/p2p/src/discovery/mod.rs
  crates/node/p2p/src/driver.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/config.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/event.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/gossip/mod.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/types/enr.rs
  crates/node/p2p/src/types/mod.rs
  crates/node/p2p/src/types/peer.rs
Labels: K-chore, A-node

#1224 fix(executor): Dep on kona-host
  Cargo.lock
  crates/proof/executor/Cargo.toml
  crates/proof/executor/src/test_utils.rs
Labels: A-proof, K-fix

#1225 chore: Codecov Config
  .github/codecov.yml
Labels: K-chore, A-ci

#1229 release: kona-driver
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/proof/executor/Cargo.toml
  crates/proof/mpt/Cargo.toml
  crates/protocol/driver/Cargo.toml
Labels: K-release, A-protocol

#1230 chore(book): small touchups
  book/src/SUMMARY.md
  book/src/intro.md
  book/src/protocol/intro.md
Labels: A-book

#1231 feat(node): Refactor orchestration
  .github/codecov.yml
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/cli/node.rs
  bin/node/src/lib.rs
  bin/node/src/main.rs
  bin/node/src/node/actors/mod.rs
  bin/node/src/node/events.rs
  bin/node/src/node/mod.rs
  crates/node/service/Cargo.toml
  crates/node/service/README.md
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/traits.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/mod.rs
  crates/node/service/src/service/sequencer.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/util.rs
  crates/node/service/src/service/validator.rs
  crates/node/service/src/sync_start.rs
  crates/protocol/genesis/src/chain/hardfork.rs
Labels: K-feature, A-node

#1080 feat(hardforks): Isthmus Network Upgrade Transactions
  crates/protocol/hardforks/src/bytecode/gpo_isthmus.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_0.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_1.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_2.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_3.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_4.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_5.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_6.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_7.hex
  crates/protocol/hardforks/src/bytecode/l1_block_isthmus.hex
  crates/protocol/hardforks/src/bytecode/ofv_isthmus.hex
  crates/protocol/hardforks/src/forks.rs
  crates/protocol/hardforks/src/isthmus.rs
Labels: K-feature, A-protocol, H-isthmus

#1234 chore(node): Tracing Macros
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/sync_start.rs
Labels: K-chore, A-node

#1233 feat(node): P2P Wiring
  Cargo.lock
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/lib.rs
Labels: K-feature, A-node

#1242 feat(node): P2P CLI Args
  bin/node/src/cli/mod.rs
  bin/node/src/cli/node.rs
  bin/node/src/cli/p2p.rs
Labels: K-feature, A-binaries

#1245 chore: Allow udeps in `-Zbuild-std` lints
  Justfile
Labels: K-chore, A-workspace

#1243 chore(workspace): Use versioned `asterisc-builder` + `cannon-builder` images
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Justfile
  bin/node/src/main.rs
  crates/node/engine/src/lib.rs
  crates/node/p2p/src/lib.rs
  crates/node/rpc/src/lib.rs
  crates/node/service/src/lib.rs
  crates/proof/executor/src/lib.rs
  crates/proof/mpt/Cargo.toml
  crates/proof/mpt/src/lib.rs
  crates/proof/preimage/src/lib.rs
  crates/proof/proof-interop/src/lib.rs
  crates/proof/proof/src/lib.rs
  crates/proof/std-fpvm-proc/Cargo.toml
  crates/proof/std-fpvm/Cargo.toml
  crates/proof/std-fpvm/src/mips64/syscall.rs
  crates/protocol/derive/src/lib.rs
  crates/protocol/driver/src/lib.rs
  crates/protocol/genesis/src/lib.rs
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/hardforks/src/lib.rs
  crates/protocol/interop/src/lib.rs
  crates/protocol/protocol/src/lib.rs
  crates/protocol/registry/src/lib.rs
  crates/providers/providers-alloy/src/lib.rs
  crates/providers/providers-local/src/lib.rs
  crates/utilities/cli/src/lib.rs
  crates/utilities/serde/Cargo.toml
  crates/utilities/serde/src/lib.rs
  docker/fpvm-prestates/asterisc-repro.dockerfile
Labels: K-chore, A-workspace

#1250 feat(examples): Pulls Discovery and P2P Gossip into Examples
  .github/codecov.yml
  Cargo.lock
  Cargo.toml
  bin/node/src/cli/disc.rs
  bin/node/src/cli/mod.rs
  examples/README.md
  examples/discovery/Cargo.toml
  examples/discovery/src/main.rs
  examples/gossip/Cargo.toml
  examples/gossip/src/main.rs
Labels: K-feature, A-binaries, A-examples

#1249 chore(node): Wire in Sync Config
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/cli/node.rs
  crates/node/engine/Cargo.toml
  crates/node/engine/src/kinds.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/sync/mode.rs
Labels: K-chore, A-node

#1246 feat(node): P2P Wiring
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/cli/node.rs
  crates/node/p2p/src/builder.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/util.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1251 chore(node): Simplify Node CLI
  bin/node/src/cli.rs
  bin/node/src/cli/telemetry.rs
  bin/node/src/commands/mod.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  bin/node/src/flags/mod.rs
  bin/node/src/flags/p2p.rs
  bin/node/src/main.rs
Labels: K-chore, A-binaries

#1254 chore(node): P2P Secret Key
  Cargo.lock
  bin/node/src/commands/node.rs
  bin/node/src/flags/p2p.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/discovery/bootnodes.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/utils/mod.rs
  crates/node/p2p/src/utils/secret_key.rs
Labels: K-chore, A-binaries, A-node

#1255 chore: Remove B256 Value Parser
  bin/host/src/interop/cfg.rs
  bin/host/src/single/cfg.rs
  crates/utilities/cli/src/cli_parsers.rs
Labels: K-chore, A-binaries, A-utilities

#1259 chore(cli): Remove CLI Parsers
  bin/host/src/interop/cfg.rs
  crates/utilities/cli/src/cli_parsers.rs
  crates/utilities/cli/src/lib.rs
Labels: K-chore, A-utilities

#1262 chore(proof): Use `HISTORY_STORAGE_ADDRESS` from `alloy-eips`
  crates/proof/proof/src/eip2935.rs
Labels: K-chore, A-proof, H-isthmus

#1263 chore(workspace): Fix udeps check
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Justfile
  crates/proof/proof/src/eip2935.rs
  crates/utilities/cli/Cargo.toml
Labels: K-chore, A-ci

#1265 chore(genesis): Localize Import for Lints
  crates/protocol/genesis/src/system/config.rs
Labels: K-chore, A-protocol

#1260 feat(node): P2P Overhaul
  Cargo.lock
  crates/node/p2p/Cargo.toml
  crates/node/p2p/README.md
  crates/node/p2p/src/builder.rs
  crates/node/p2p/src/discovery/bootnodes.rs
  crates/node/p2p/src/discovery/driver.rs
  crates/node/p2p/src/discovery/mod.rs
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/discv5/mod.rs
  crates/node/p2p/src/driver.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/config.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/gossip/mod.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/peers/any.rs
  crates/node/p2p/src/peers/boot.rs
  crates/node/p2p/src/peers/bootnodes.rs
  crates/node/p2p/src/peers/enr.rs
  crates/node/p2p/src/peers/mod.rs
  crates/node/p2p/src/peers/record.rs
  crates/node/p2p/src/types/mod.rs
  crates/node/p2p/src/types/peer.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/validator.rs
  examples/discovery/src/main.rs
  examples/gossip/src/main.rs
Labels: K-chore, A-examples

#1258 feat(engine): Block building task
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/mod.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/attributes.rs
Labels: K-feature, A-node

#1271 feat(node): P2P Upgrades
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/driver.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/peers/boot.rs
  crates/node/p2p/src/peers/enr.rs
  crates/node/p2p/src/peers/mod.rs
  crates/node/p2p/src/peers/nodes.rs
  crates/node/p2p/src/peers/utils.rs
  crates/node/p2p/tests/common/mod.rs
  crates/node/p2p/tests/gossip_connect.rs
Labels: K-feature, A-node

#1274 chore: Fixup Benchmark CI Job
  .github/workflows/rust_ci.yaml
  Justfile
Labels: K-chore, A-ci

#1275 chore(ci): Deprecate --all Flag
  Justfile
Labels: K-chore, A-ci

#1235 chore: Cleanup and Dependency Bumps
  .github/workflows/rust_ci.yaml
  Cargo.lock
  Cargo.toml
  bin/host/Cargo.toml
  book/src/archives/monorepo.md
  crates/node/engine/Cargo.toml
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/insert/error.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/proof/executor/src/executor/mod.rs
  deny.toml
Labels: K-chore, A-workspace, F-deps

#1287 fix(isthmus): Upgrade transactions + system calls
  Cargo.lock
  crates/proof/executor/src/syscalls/tx_env.rs
  crates/protocol/hardforks/src/bytecode/ecotone_tx_0.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_1.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_2.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_3.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_4.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_5.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_0.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_1.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_2.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_3.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_4.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_5.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_6.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_7.hex
  crates/protocol/hardforks/src/isthmus.rs
  crates/protocol/hardforks/src/utils.rs
  crates/protocol/protocol/src/fee.rs
  deny.toml
Labels: K-fix, H-isthmus

#1277 chore(ci): Bump Monorepo Commit for Operator Fee Tests
  .config/monorepo
  Cargo.lock
  Cargo.toml
  crates/proof/executor/src/syscalls/tx_env.rs
  crates/protocol/hardforks/src/bytecode/ecotone_tx_0.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_1.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_2.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_3.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_4.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_5.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_0.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_1.hex
  crates/protocol/hardforks/src/bytecode/fjord_tx_2.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_3.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_4.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_5.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_6.hex
  crates/protocol/hardforks/src/bytecode/isthmus_tx_7.hex
  crates/protocol/hardforks/src/isthmus.rs
  crates/protocol/hardforks/src/utils.rs
  crates/protocol/protocol/src/fee.rs
  deny.toml
Labels: K-chore, A-ci

#1288 chore: Bump Deps before Release
  Cargo.toml
Labels: K-chore, F-deps

#1289 chore: Minor Crate Releases
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/node/rpc/Cargo.toml
  crates/proof/executor/Cargo.toml
  crates/proof/mpt/Cargo.toml
  crates/proof/preimage/Cargo.toml
  crates/proof/proof-interop/Cargo.toml
  crates/proof/proof/Cargo.toml
  crates/proof/std-fpvm-proc/Cargo.toml
  crates/proof/std-fpvm/Cargo.toml
  crates/protocol/derive/Cargo.toml
  crates/protocol/driver/Cargo.toml
  crates/protocol/genesis/Cargo.toml
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/interop/Cargo.toml
  crates/protocol/protocol/Cargo.toml
  crates/protocol/registry/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/serde/Cargo.toml
Labels: K-release

#1280 chore(node): Further P2P Fixes
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/commands/node.rs
  bin/node/src/flags/p2p.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/README.md
  crates/node/p2p/src/builder.rs
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/error.rs
  crates/node/p2p/src/discv5/mod.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/config.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/error.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/gossip/mod.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/src/net/error.rs
  crates/node/p2p/src/net/mod.rs
  crates/node/p2p/src/peers/mod.rs
  crates/node/p2p/src/peers/store.rs
  crates/node/p2p/src/utils/secret_key.rs
  crates/node/p2p/tests/common/mod.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/network.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/validator.rs
  examples/gossip/Cargo.toml
  examples/gossip/src/main.rs
Labels: K-chore, A-node

#1290 chore(interop): Remove new L1BlockInfo variant + deposit context
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/protocol/src/info/deposit_context.rs
  crates/protocol/protocol/src/info/mod.rs
  crates/protocol/protocol/src/info/variant.rs
  crates/protocol/protocol/src/lib.rs
  crates/protocol/protocol/src/test_utils.rs
  crates/protocol/protocol/src/utils.rs
Labels: K-chore, A-protocol, H-interop

#1292 chore: Remove Magic 0x7E Deposit Identifier Bytes
  crates/protocol/protocol/src/batch/single.rs
  crates/protocol/protocol/src/utils.rs
Labels: K-chore

#1293 chore(cli): Refactors Backtrace Init
  bin/node/src/main.rs
  crates/utilities/cli/src/backtrace.rs
  crates/utilities/cli/src/lib.rs
Labels: K-chore, A-binaries, A-utilities

#1295 chore(protocol): Remove unused L1 Tx Cost Functions
  Cargo.lock
  Cargo.toml
  crates/protocol/protocol/Cargo.toml
  crates/protocol/protocol/src/fee.rs
  crates/protocol/protocol/src/lib.rs
Labels: K-chore, A-protocol

#1297 chore(protocol): Cleanup Utilities
  crates/protocol/protocol/src/batch/single.rs
  crates/protocol/protocol/src/batch/span.rs
  crates/protocol/protocol/src/lib.rs
  crates/protocol/protocol/src/utils.rs
Labels: K-chore, A-protocol

#1299 chore: Small Manifest Cleanup
  Cargo.toml
  crates/node/engine/src/task_queue/tasks/build/task.rs
Labels: K-chore, A-workspace

#1314 feat(node): RPC CLI Args
  Cargo.lock
  Cargo.toml
  bin/node/src/commands/node.rs
  bin/node/src/flags/mod.rs
  bin/node/src/flags/rpc.rs
Labels: K-feature, A-binaries

#1315 feat(node): RPC Config
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/lib.rs
Labels: K-feature, A-node

#1318 feat(node): Rpc Actor
  Cargo.lock
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/lib.rs
Labels: K-feature, A-node

#1321 feat(node): Wire in the RpcConfig
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/commands/node.rs
  bin/node/src/flags/rpc.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
Labels: K-feature, A-node

#1322 fix(node/service): Unsafe Block Signer
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
Labels: K-fix, A-binaries, A-node

#1298 feat(protocol): Move Compression Types
  Cargo.lock
  Cargo.toml
  crates/protocol/comp/Cargo.toml
  crates/protocol/comp/README.md
  crates/protocol/comp/examples/batch_to_frames.rs
  crates/protocol/comp/src/brotli.rs
  crates/protocol/comp/src/channel_out.rs
  crates/protocol/comp/src/config.rs
  crates/protocol/comp/src/lib.rs
  crates/protocol/comp/src/mod.rs
  crates/protocol/comp/src/ratio.rs
  crates/protocol/comp/src/shadow.rs
  crates/protocol/comp/src/test_utils.rs
  crates/protocol/comp/src/traits.rs
  crates/protocol/comp/src/types.rs
  crates/protocol/comp/src/variant.rs
  crates/protocol/comp/src/zlib.rs
  crates/protocol/protocol/src/brotli.rs
  crates/protocol/protocol/src/compression/brotli/mod.rs
  crates/protocol/protocol/src/lib.rs
  crates/protocol/protocol/src/test_utils.rs
Labels: K-feature, A-protocol

#1328 fix(node/p2p): Gossip Config
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/config.rs
Labels: K-fix, A-node

#1329 chore: Derive std Traits
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/client.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/peers/nodes.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/network.rs
Labels: K-chore, A-workspace

#1333 chore: Derive More Core Traits
  Cargo.lock
  crates/node/rpc/src/net.rs
  crates/node/rpc/src/superchain.rs
  crates/protocol/protocol/Cargo.toml
  crates/protocol/protocol/src/block.rs
Labels: K-chore, A-workspace

#1325 feat(node/rpc): RpcLauncher
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/launcher.rs
  crates/node/rpc/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1327 feat(node/p2p): P2P RPC Server
  Cargo.lock
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/rpc/mod.rs
  crates/node/p2p/src/rpc/request.rs
  crates/node/p2p/src/rpc/server.rs
Labels: K-feature, A-node

#1323 feat(node): Network Config
  Cargo.lock
  bin/node/src/commands/node.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
  crates/node/p2p/src/net/mod.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/mod.rs
Labels: K-feature, A-node

#1330 chore(node/p2p): Network RPC Request Handling
  Cargo.lock
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/src/rpc/server.rs
  crates/node/rpc/src/net.rs
Labels: K-chore, A-node

#1337 fix(node/p2p): Forward ENRs to the Swarm
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/handler.rs
Labels: K-fix, A-node

#1338 chore(bin): Rename RpcArgs
  bin/node/src/commands/node.rs
  bin/node/src/flags/mod.rs
  bin/node/src/flags/rpc.rs
Labels: K-chore, A-binaries

#1339 fix(bin): Correct Unsafe Block Signer
  bin/node/src/flags/globals.rs
Labels: K-fix, A-binaries

#1341 [BOT] Update Monorepo
  .config/monorepo
Labels: A-ci, C-bot

#1349 chore(node/p2p): Cleanup Network Driver
  bin/node/src/commands/net.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/src/rpc/request.rs
  examples/discovery/src/main.rs
Labels: K-chore, A-node

#1350 chore(bin/node): P2P Config Constructor
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/p2p.rs
Labels: K-chore, A-binaries

#1352 chore(node/service): Cleans up the Rollup Node Service
  crates/node/service/src/service/standard/error.rs
  crates/node/service/src/service/standard/mod.rs
  crates/node/service/src/service/standard/node.rs
Labels: K-chore, A-node

#1353 fix(node/p2p): OP Stack ENRs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/peers/store.rs
Labels: K-fix, A-node
