Repository op-rs/kona, pull requests merged in 2025-07, with the labels that each got.

#2334 fix(supervisor/rpc): invalid param `check_accesslist`
  crates/protocol/interop/src/message.rs
  crates/supervisor/core/src/supervisor.rs
Labels: K-fix, W-supervisor

#2332 chore(supervisor/core): reset handling refactor
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
Labels: W-supervisor

#2340 fix(supervisor/storage): handled derivation storage corner cases
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-fix, W-supervisor, A-db

#2359 feat(node/sequencer): connect build tasks to the engine
  crates/node/service/src/actors/engine/actor.rs
Labels: K-feature, A-node, A-sequencer

#2363 feat(node/service): use drop guards to ensure actors are cancelled properly
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/runtime.rs
  crates/node/service/src/actors/supervisor/actor.rs
  crates/node/service/src/service/util.rs
Labels: K-feature, A-node, A-services

#2360 feat(node/sequencer): move node mode from rollup node service trait to engine actor.
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
  tests/go.mod
Labels: K-feature, A-node, A-sequencer

#2344 chore(workspace): Bump dependencies
  Cargo.lock
  Cargo.toml
  bin/client/src/fpvm_evm/factory.rs
  crates/node/p2p/src/gossip/block_validity.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/event.rs
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/builder/core.rs
  crates/proof/executor/src/builder/env.rs
  crates/proof/mpt/src/errors.rs
  crates/proof/mpt/src/node.rs
  crates/proof/mpt/src/util.rs
  crates/proof/proof-interop/src/consolidation.rs
  crates/proof/proof/src/eip2935.rs
  crates/proof/proof/src/executor.rs
Labels: K-chore, A-workspace, F-deps

#2364 chore(node/rpc): remove rpc disabled field in rpc builder
  bin/node/src/commands/net.rs
  bin/node/src/flags/rpc.rs
  crates/node/rpc/src/config.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/builder.rs
Labels: K-chore, A-node, A-rpc

#2358 chore(supervisor): op-node devnet version
  tests/devnets/simple-supervisor.yaml
Labels: K-chore, W-supervisor, K-kurtosis

#2346 fix(supervisor/core): derivation reset
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/core/src/syncnode/traits.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-fix, W-supervisor

#2349 chore(supervisor): remove l1 cache
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-chore, W-supervisor

#2324 [BOT] Update Monorepo Revision
  .config/monorepo
Labels: A-ci, C-bot

#2368 feat(supervisor): pre-interop db support
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/config/rollup_config_set.rs
  crates/supervisor/core/src/logindexer/indexer.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/metrics.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/head_ref_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
  crates/supervisor/storage/src/traits.rs
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Labels: W-supervisor, A-db

#2386 feat(supervisor/core): implemented task retrier
  crates/supervisor/core/src/logindexer/indexer.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/client.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/core/src/syncnode/utils.rs
  crates/supervisor/types/src/lib.rs
  tests/justfile
  tests/supervisor/interop_sync_test.go
Labels: W-supervisor

#2388 feat(node/engine): refactor engine tasks. fix sequencer startup logic
  crates/node/engine/src/lib.rs
  crates/node/engine/src/state/core.rs
  crates/node/engine/src/state/mod.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/error.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/error.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/rpc/src/rollup.rs
  crates/node/rpc/src/ws.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/finalizer.rs
  crates/protocol/protocol/src/block.rs
Labels: K-feature, A-node, A-engine

#2399 chore(node/engine): cleanup engine tasks errors. refactors the engine build task to reuse the insert task
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/error.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/finalize/error.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/error.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/error.rs
  crates/node/engine/src/task_queue/tasks/insert/mod.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/error.rs
Labels: K-chore, A-node, A-engine

#2404 feat(node/service): `L1OriginSelector` advancement
  Cargo.lock
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/actors/sequencer/origin_selector.rs
  crates/node/service/src/lib.rs
Labels: K-feature, A-node, W-node, A-services

#2385 feat(supervisor/core): preinterop node support
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/config/rollup_config_set.rs
  crates/supervisor/core/src/logindexer/indexer.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/client.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/storage/src/providers/head_ref_provider.rs
  tests/devnets/simple-supervisor.yaml
Labels: K-feature, W-supervisor

#2415 feat(node/service): Reset engine prior to block building
  crates/node/engine/src/task_queue/core.rs
  crates/node/service/src/actors/sequencer/actor.rs
Labels: K-feature, A-node, W-node

#2416 fix(protocol): Serialization compatibility for `RollupConfig`
  Cargo.lock
  crates/proof/executor/testdata/block-26207960.tar.gz
  crates/proof/executor/testdata/block-26207961.tar.gz
  crates/proof/executor/testdata/block-26207962.tar.gz
  crates/proof/executor/testdata/block-26207963.tar.gz
  crates/proof/executor/testdata/block-26208384.tar.gz
  crates/proof/executor/testdata/block-26208858.tar.gz
  crates/proof/executor/testdata/block-26208927.tar.gz
  crates/proof/executor/testdata/block-26211680.tar.gz
  crates/protocol/genesis/Cargo.toml
  crates/protocol/genesis/src/chain/config.rs
  crates/protocol/genesis/src/params.rs
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/genesis/src/system/config.rs
  crates/protocol/registry/etc/configs.json
Labels: K-fix, A-protocol, W-node

#2417 fix(node/service): Block label metrics
  crates/node/engine/src/state/core.rs
Labels: K-fix, A-node, W-node

#2422 chore(node/service): Clean up engine task logs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
Labels: K-feature, A-node, W-node

#2427 fix(supervisor/rpc): making all head ref as optional in syncStatus method
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/rpc/src/response.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/types/src/head.rs
Labels: K-fix, A-rpc, W-supervisor, A-db

#2440 fix(bin/node): Fix `SUPERVISOR_PORT` envvar typo
  bin/node/src/flags/supervisor.rs
  book/src/node/cli.md
Labels: M-bin, K-fix, A-node, W-node

#2405 feat(node/sequencer): groundwork for op-conductor
  bin/node/src/commands/net.rs
  crates/node/p2p/src/rpc/request.rs
  crates/node/rpc/src/admin.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/net.rs
  crates/node/rpc/src/p2p.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/network/actor.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/conductor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/actors/sequencer/rpc.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/node.rs
Labels: K-feature, A-node, A-sequencer

#2451 chore(workspace): Remove self-referential `dev-dependencies`
  Cargo.lock
  crates/proof/executor/Cargo.toml
  crates/proof/executor/src/lib.rs
  crates/protocol/comp/Cargo.toml
  crates/protocol/comp/src/lib.rs
  crates/protocol/derive/Cargo.toml
  crates/protocol/derive/src/lib.rs
  crates/protocol/protocol/Cargo.toml
  crates/protocol/protocol/src/lib.rs
Labels: K-chore, A-workspace

#2447 feat(node/service): Wire in sequencer configuration
  bin/node/src/commands/node.rs
  bin/node/src/flags/sequencer.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/config.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
Labels: K-feature, A-node, W-node

#2455 chore(docs): Categorize RFCs
  docs/docs/pages/rfc/archived/umbrellas.mdx
  docs/sidebar.ts
Labels: A-book

#2453 chore(docs): Fix Doc Links
  docs/docs/pages/sdk/protocol/genesis/rollup-config.mdx
  docs/docs/pages/sdk/protocol/genesis/system-config.mdx
Labels: A-workspace

#2457 feat(kona/logs): add logging format options
  Cargo.lock
  bin/host/src/bin/host.rs
  crates/utilities/cli/Cargo.toml
  crates/utilities/cli/src/lib.rs
  crates/utilities/cli/src/log.rs
  crates/utilities/cli/src/tracing.rs
  examples/discovery/src/main.rs
  examples/execution-fixture/src/main.rs
  examples/gossip/src/main.rs
Labels: K-feature, K-meta, A-node

#2461 fix(supervisor): error consistency
  crates/supervisor/core/src/error.rs
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
Labels: K-fix, W-supervisor

#2463 test(supervisor): preinterop acceptance test
  tests/supervisor/pre_interop/post_test.go
  tests/supervisor/pre_interop/pre_test.go
Labels: M-tests, W-supervisor

#2472 feat(node/service): Add sequencer admin RPC logs
  crates/node/service/src/actors/sequencer/rpc.rs
Labels: K-feature, A-node, W-node

#2474 fix(docs): Callouts and Doc Links
  docs/docs/pages/sdk/examples/batch-to-frames.mdx
  docs/docs/pages/sdk/examples/frames-to-batch.mdx
Labels: A-book

#2483 chore(node/engine): decouple engine and runtime actor
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/runtime.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/builder.rs
Labels: K-chore, A-node, A-engine

#2487 chore: More Crate Releases
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/supervisor/rpc/Cargo.toml
  crates/utilities/cli/Cargo.toml
Labels: A-workspace

#2493 feat(tests): Leadership transfer test
  tests/devnets/simple-kona-sequencer.yaml
  tests/node/conductor_test.go
  tests/node/mixed_preset_with_conductor.go
Labels: K-feature, A-node, W-node

#2508 feat(node/rpc): log rpc server address
  crates/node/service/src/actors/rpc.rs
Labels: K-feature, A-node, A-rpc

#2507 chore(docs): Update `kona-node` flags
  docs/docs/pages/node/configuration.mdx
Labels: K-chore, K-docs, W-node

#2514 fix(engine): Allow `ForkchoiceTask` to drive EL sync
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
Labels: K-fix, W-node, A-engine

#2515 fix(docker): Prometheus addr
  docker/recipes/kona-node/docker-compose.yaml
Labels: K-fix, A-node, A-docker, W-node

#2517 chore: Few Crate Releases
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/proof/executor/Cargo.toml
  crates/proof/mpt/Cargo.toml
  crates/protocol/comp/Cargo.toml
  crates/protocol/driver/Cargo.toml
Labels: A-workspace

#2525 chore(supervisor/storage): log improvements
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/head_ref_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
Labels: K-chore, W-supervisor, A-db

#2534 feat(docker): add env var to specify cluster name, docker images, grafana port
  docker/recipes/kona-node/cfg.env
  docker/recipes/kona-node/docker-compose.yaml
Labels: K-feature, A-node, A-docker

#2533 feat(node/service): Conductor commitment time metric
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/metrics/mod.rs
Labels: K-feature, M-metrics, A-node, W-node

#2550 release: kona-node v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/peers/Cargo.toml
  crates/node/rpc/Cargo.toml
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/protocol/comp/Cargo.toml
  crates/protocol/derive/Cargo.toml
  crates/protocol/genesis/Cargo.toml
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/interop/Cargo.toml
  crates/protocol/protocol/Cargo.toml
  crates/protocol/registry/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
  crates/supervisor/rpc/Cargo.toml
  crates/supervisor/types/Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/macros/Cargo.toml
  crates/utilities/serde/Cargo.toml
Labels: A-binaries

#2524 fix(node/engine): audit engine for bugs. rename forkchoice task -> synchronize task. move block building logic to build task
  crates/node/engine/src/lib.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/build/error.rs
  crates/node/engine/src/task_queue/tasks/build/mod.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/node/engine/src/task_queue/tasks/consolidate/error.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/finalize/error.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
  crates/node/engine/src/task_queue/tasks/forkchoice/task.rs
  crates/node/engine/src/task_queue/tasks/insert/error.rs
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/synchronize/error.rs
  crates/node/engine/src/task_queue/tasks/synchronize/mod.rs
  crates/node/engine/src/task_queue/tasks/synchronize/task.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  docs/docs/pages/node/design/engine.mdx
Labels: K-fix, A-node, A-engine

#2542 chore(supervisor/storage): Define `EntryNotFoundError`
  crates/supervisor/core/src/error.rs
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/lib.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
Labels: K-debt, W-supervisor

#2567 chore(docs): Remove `RuntimeActor` mention
  docs/docs/pages/node/run/mechanics.mdx
Labels: K-chore, K-docs, W-node

#2564 feat(supervisor/core): handle invalidate blocks
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/event/chain.rs
  crates/supervisor/types/src/types.rs
Labels: W-supervisor

#2570 feat(supervisor/core): [Safety Checker] executing message validation
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/error.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/traits.rs
  crates/supervisor/types/src/access_list.rs
Labels: W-supervisor

#2565 chore(supervisor): Add supervisor path to log targets
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/logindexer/indexer.rs
  crates/supervisor/core/src/rewinder/chain.rs
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/client.rs
  crates/supervisor/core/src/syncnode/resetter.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/core/src/syncnode/utils.rs
  crates/supervisor/service/src/service.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
  crates/supervisor/storage/src/providers/head_ref_provider.rs
  crates/supervisor/storage/src/providers/log_provider.rs
Labels: K-debt, W-supervisor

#2575 [BOT] Update Monorepo Revision
  .config/monorepo
Labels: A-ci, C-bot

#2587 feat(node/sequencer): integrate remote signer in CLI
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/flags/mod.rs
  bin/node/src/flags/p2p.rs
  bin/node/src/flags/signer.rs
  crates/node/service/src/actors/network/builder.rs
  crates/node/service/src/actors/network/config.rs
  examples/gossip/src/main.rs
Labels: K-feature, A-node, A-sequencer

#2598 feat!(bin/node): Remove `--l2.provider` flag
  bin/node/README.md
  bin/node/src/commands/node.rs
  crates/node/engine/README.md
  crates/node/engine/src/client.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/service/standard/builder.rs
  docker/recipes/kona-node/docker-compose.yaml
  docs/docs/pages/node/configuration.mdx
  docs/docs/pages/node/design/sequencer.mdx
  docs/docs/pages/node/run/binary.mdx
Labels: K-feature, A-node, W-node

#2589 patch(node/conductor): patch conductor bootstrap
  .github/workflows/e2e_tests.yaml
  crates/node/engine/src/query.rs
  crates/node/service/src/actors/sequencer/actor.rs
  tests/devnets/first-kona-conductor.yaml
Labels: K-fix, A-node, A-sequencer

#2603 feat(node/service): Expose standalone `healthz` endpoint
  crates/node/service/src/actors/rpc.rs
Labels: K-feature, A-node, A-rpc, W-node

#2608 release(kona-node): 0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  crates/node/engine/Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/peers/Cargo.toml
  crates/node/rpc/Cargo.toml
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/protocol/comp/Cargo.toml
  crates/protocol/derive/Cargo.toml
  crates/protocol/genesis/Cargo.toml
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/interop/Cargo.toml
  crates/protocol/protocol/Cargo.toml
  crates/protocol/registry/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
  crates/utilities/cli/Cargo.toml
  crates/utilities/macros/Cargo.toml
  crates/utilities/serde/Cargo.toml
Labels: A-workspace

#2597 feat(supervisor:core): cyclic dependency checker on block validation
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/error.rs
  crates/supervisor/core/src/safety_checker/task.rs
Labels: K-feature, W-supervisor
