Repository op-rs/kona, pull requests merged in 2025-04, with the labels that each got.

#1360 [BOT] Update Monorepo
  .config/monorepo
Labels: A-ci, C-bot

#1364 chore: Bump op-alloy Patch
  Cargo.lock
  Cargo.toml
  bin/node/src/commands/net.rs
  crates/node/p2p/src/gossip/handler.rs
Labels: K-chore, F-deps

#1358 chore(node/service): Dynamic Node Mode
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/builder.rs
Labels: K-chore, A-node

#1366 fix(node/p2p): Unsafe Payload Sending
  bin/node/src/commands/net.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/tests/common/mod.rs
  crates/node/service/src/actors/network.rs
  examples/gossip/src/main.rs
Labels: K-fix, A-node

#1367 feat(node/p2p): Redial Peers
  Cargo.lock
  bin/node/src/cli.rs
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/config.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
  crates/utilities/cli/src/tracing.rs
Labels: K-feature, A-node

#1370 chore(bin/node): Allow subcommands to customize telemetry
  Cargo.lock
  bin/node/src/cli.rs
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  crates/node/p2p/src/gossip/config.rs
Labels: K-chore, A-binaries

#1369 chore(node/p2p): Small Log Cleanup
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/net/driver.rs
Labels: A-node

#1381 chore(node/service): Remove .expect
  crates/node/service/src/service/standard/node.rs
Labels: K-chore, A-node

#1382 chore(node/service): The RPC Launcher is Used
  crates/node/service/src/service/standard/node.rs
Labels: K-chore, A-node

#1385 chore(ci): Bump monorepo commit
  .config/monorepo
  crates/protocol/genesis/src/rollup.rs
  crates/protocol/protocol/src/info/variant.rs
Labels: K-chore, A-ci, K-action-test

#1386 feat(node/service): Unsafe Block Signer Updates
  Cargo.lock
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
  crates/protocol/genesis/src/lib.rs
  crates/protocol/genesis/src/system/errors.rs
  crates/protocol/genesis/src/system/log.rs
  crates/protocol/genesis/src/system/mod.rs
  crates/protocol/genesis/src/system/update.rs
  crates/protocol/genesis/src/updates/mod.rs
  crates/protocol/genesis/src/updates/signer.rs
Labels: K-feature, A-node

#1389 feat(docker): Reproducible `cannon` prestate
  docker/docker-bake.hcl
  docker/fpvm-prestates/README.md
  docker/fpvm-prestates/cannon-repro.dockerfile
  docker/fpvm-prestates/justfile
Labels: K-feature, A-docker

#1383 feat(node/service): Wire in Engine Arguments
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
Labels: K-feature, A-node

#1387 feat(node/service): Init the Engine Actor
  Cargo.lock
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
Labels: K-feature, A-node

#1390 feat(node/service): Wire in the Engine Actor
  Cargo.lock
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/error.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-chore, A-node

#1379 feat(bin/node): Registry Subcommand
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/cli.rs
  bin/node/src/commands/mod.rs
  bin/node/src/commands/registry.rs
  crates/protocol/registry/Cargo.toml
  crates/protocol/registry/src/chain_list.rs
Labels: K-feature, A-binaries

#1391 feat(node/service): Engine Consolidation Task
  Cargo.lock
  crates/node/engine/Cargo.toml
  crates/node/engine/src/attributes.rs
  crates/node/engine/src/client.rs
  crates/node/engine/src/lib.rs
  crates/node/engine/src/state/core.rs
  crates/node/engine/src/task_queue/core.rs
  crates/node/engine/src/task_queue/tasks/consolidate/error.rs
  crates/node/engine/src/task_queue/tasks/consolidate/mod.rs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/mod.rs
  crates/node/engine/src/task_queue/tasks/task.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1392 feat(node/service): Insert Unsafe Payload Envelope
  crates/node/engine/src/task_queue/tasks/insert/task.rs
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node

#1406 chore(node/service): Engine State Builder Error
  crates/node/service/src/actors/engine.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/error.rs
  crates/node/service/src/service/validator.rs
Labels: K-chore, A-node

#1404 chore(node/service): Touchup EngineActor
  crates/node/service/src/actors/engine.rs
Labels: K-chore, A-node

#1428 chore(ci): Hide action test output
  .github/workflows/action_tests.yaml
  Justfile
Labels: K-chore, A-ci

#1434 chore: Use `OpPayloadAttributes::recovered_transactions`
  Cargo.lock
  Cargo.toml
  crates/proof/executor/Cargo.toml
  crates/proof/executor/src/builder/core.rs
  crates/proof/executor/src/builder/env.rs
Labels: K-chore, A-proof, F-deps

#1439 chore(ci): Add action to free up disk space in action test job
  .github/workflows/action_tests.yaml
Labels: K-chore, A-ci, M-do-not-merge

#1438 feat(executor): Add example + docs for generating new test fixtures
  .github/workflows/rust_ci.yaml
  Cargo.lock
  book/src/SUMMARY.md
  book/src/examples/executor-test-fixtures.md
  book/src/examples/intro.md
  crates/proof/executor/Cargo.toml
  crates/proof/executor/src/builder/core.rs
  crates/proof/executor/src/lib.rs
  crates/proof/executor/src/test_utils.rs
  examples/execution-fixture/Cargo.toml
  examples/execution-fixture/src/main.rs
Labels: K-docs, A-proof

#1445 feat: Discovery Interval Configurability
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
Labels: K-feature, A-node

#1446 fix(node/p2p): Enr Validation
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/peers/enr.rs
  crates/node/p2p/src/peers/mod.rs
Labels: K-fix, A-node

#1442 chore(comp): Enable `test-utils` feature with `cfg(test)`
  Cargo.lock
  crates/protocol/comp/Cargo.toml
  crates/protocol/comp/src/lib.rs
Labels: K-chore, A-protocol

#1451 feat(node/p2p): refactor block validity checks
  Cargo.lock
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/block_validity.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/gossip/mod.rs
Labels: K-feature, A-node

#1448 fix(bin/node): Break after Receiving Peer Count
  bin/node/src/commands/net.rs
Labels: K-fix, A-binaries

#1449 fix(node): Configurable Bootstore Path
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
Labels: K-fix, A-node

#1456 chore(bin/node): Discovery Config Wiring
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
Labels: K-chore, A-binaries

#1452 test(node/p2p): add extensive testing for block decoding validation
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/gossip/mod.rs
Labels: M-tests, A-node

#1450 fix(node): Local Bootstore Conflicts
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/peers/store.rs
Labels: K-fix, A-node

#1458 fix(cli): Missing Env Filter
  crates/utilities/cli/src/tracing.rs
Labels: K-fix, A-utilities

#1453 feat(node/p2p): add manual block hash checks
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/block_validity.rs
Labels: K-feature, A-node

#1465 feat(docker): Use generic dockerfile for all binary apps
  docker/apps/README.md
  docker/apps/entrypoint.sh
  docker/apps/kona_app_generic.dockerfile
  docker/apps/kona_host.dockerfile
  docker/docker-bake.hcl
Labels: K-feature, A-docker

#1469 chore(node/service): P2P Rpc Module Wiring
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-chore, A-node

#1470 feat(ci): Generic Binary
  .github/workflows/docker.yaml
  docker/apps/README.md
  docker/docker-bake.hcl
Labels: K-feature, A-ci, A-docker

#1479 chore(ci): Bump timeout on Rust CI jobs
  .github/workflows/rust_ci.yaml
Labels: K-chore, A-ci

#1476 chore(workspace): Improve proof tracing
  bin/client/src/single.rs
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/builder/core.rs
  crates/proof/proof/src/l1/blob_provider.rs
  crates/protocol/derive/src/stages/attributes_queue.rs
  crates/protocol/driver/src/pipeline.rs
Labels: K-chore, A-workspace

#1484 chore(workspace): Convert all tracing targets to `snake_case` format
  bin/host/src/backend/online.rs
  bin/host/src/server.rs
  crates/node/engine/src/task_queue/tasks/build/task.rs
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/builder/core.rs
  crates/proof/proof-interop/src/boot.rs
  crates/proof/proof/src/boot.rs
  crates/proof/proof/src/l1/blob_provider.rs
  crates/protocol/derive/src/sources/blobs.rs
  crates/protocol/derive/src/stages/attributes_queue.rs
  crates/protocol/derive/src/stages/batch/batch_queue.rs
  crates/protocol/derive/src/stages/batch/batch_stream.rs
  crates/protocol/derive/src/stages/batch/batch_validator.rs
  crates/protocol/derive/src/stages/channel/channel_assembler.rs
  crates/protocol/derive/src/stages/channel/channel_bank.rs
  crates/protocol/derive/src/stages/channel/channel_reader.rs
  crates/protocol/derive/src/stages/frame_queue.rs
  crates/protocol/derive/src/stages/l1_traversal.rs
  crates/protocol/driver/src/pipeline.rs
  crates/protocol/interop/src/graph.rs
Labels: K-chore, A-workspace

#1483 chore(bin/node): Subcommand Aliases
  bin/node/src/cli.rs
Labels: K-chore, A-binaries

#1482 fix(bin/node): Global Argument Positioning
  bin/node/src/flags/globals.rs
  bin/node/src/flags/metrics.rs
Labels: K-fix, A-binaries

#1478 feat(node): Bootstore Debugging Tool
  bin/node/src/cli.rs
  bin/node/src/commands/bootstore.rs
  bin/node/src/commands/mod.rs
  crates/node/p2p/src/peers/store.rs
Labels: K-feature, A-binaries

#1490 fix(bin/node): Sequencer Args Duplicate CLI Flag
  bin/node/src/flags/sequencer.rs
Labels: K-fix, A-binaries

#1477 feat(node): Redial Peers
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/tests/common/mod.rs
Labels: K-feature, A-binaries, A-node

#1491 fix(node/p2p): Metrics Tasks
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/discv5/mod.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/src/rpc/request.rs
  examples/discovery/src/main.rs
Labels: K-fix, A-node

#1493 fix(node/p2p): Peer Score Level Off
  crates/node/p2p/src/peers/score.rs
Labels: K-fix, A-binaries

#1481 feat(node): Discover Command
  Cargo.lock
  Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/cli.rs
  bin/node/src/commands/discover.rs
  bin/node/src/commands/mod.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/peers/store.rs
  examples/discovery/src/main.rs
Labels: K-feature, A-binaries

#1496 feat(bin/node): add custom bootnode list CLI arg
  bin/node/src/commands/bootstore.rs
  bin/node/src/commands/discover.rs
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
  crates/node/p2p/src/peers/store.rs
Labels: K-feature, M-bin, A-node, A-p2p

#1489 chore(node/p2p): Broadcast Wrapper
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/net/broadcast.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/src/net/mod.rs
Labels: K-chore, A-node

#1494 fix(node/p2p): Discovery Test Fixes
  Cargo.lock
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/discv5/driver.rs
Labels: K-fix, A-node

#1498 feat(bin/node): ensure genesis matches the rollup config before fetching to the known network params list.
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  bin/node/src/flags/p2p.rs
Labels: K-feature, M-bin, A-node

#1502 fix(utilities): CLI Verbosity Level
  bin/host/src/bin/host.rs
  bin/node/src/flags/globals.rs
  crates/utilities/cli/src/tracing.rs
  examples/discovery/src/main.rs
  examples/execution-fixture/src/main.rs
  examples/gossip/src/main.rs
Labels: K-fix, A-utilities

#1504 docs(providers-alloy): Doc touchups
  crates/providers/providers-alloy/src/chain_provider.rs
  crates/providers/providers-alloy/src/l2_chain_provider.rs
Labels: A-providers, K-docs, K-debt

#1508 feat(bin/node): Runtime Config Loading
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/commands/net.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  bin/node/src/flags/p2p.rs
  bin/node/src/main.rs
  bin/node/src/runtime/config.rs
  bin/node/src/runtime/error.rs
  bin/node/src/runtime/loader.rs
  bin/node/src/runtime/mod.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/superchain.rs
  crates/providers/providers-alloy/src/chain_provider.rs
Labels: K-feature, A-binaries

#1503 fix(proof-interop): Operate provider off of `local-safe` heads
  bin/client/src/interop/consolidate.rs
  bin/client/src/interop/mod.rs
  crates/proof/proof-interop/src/consolidation.rs
  crates/proof/proof-interop/src/provider.rs
  crates/protocol/interop/src/graph.rs
  crates/protocol/interop/src/test_util.rs
Labels: A-proof, K-fix, H-interop

#1513 fix(bin/node): Magic String
  bin/node/src/flags/p2p.rs
Labels: K-fix, A-binaries

#1506 feat(interop): Add message expiry check
  crates/protocol/interop/src/constants.rs
  crates/protocol/interop/src/errors.rs
  crates/protocol/interop/src/graph.rs
Labels: A-protocol, W-interop

#1518 fix(bin/node): Adds Lints
  bin/node/Cargo.toml
  bin/node/src/commands/discover.rs
  bin/node/src/commands/info.rs
  bin/node/src/commands/mod.rs
  bin/node/src/commands/node.rs
  bin/node/src/flags/globals.rs
  bin/node/src/flags/metrics.rs
  bin/node/src/flags/p2p.rs
  bin/node/src/flags/rpc.rs
  bin/node/src/main.rs
Labels: K-fix, A-binaries, W-node

#1520 fix(node/p2p): Add Lints
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/discv5/handler.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/block_validity.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/config.rs
  crates/node/p2p/src/gossip/event.rs
  crates/node/p2p/src/gossip/handler.rs
  crates/node/p2p/src/gossip/mod.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/net/broadcast.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/peers/any.rs
  crates/node/p2p/src/peers/enr.rs
  crates/node/p2p/src/peers/mod.rs
  crates/node/p2p/src/peers/score.rs
  crates/node/p2p/src/peers/store.rs
  crates/node/p2p/src/peers/utils.rs
  crates/node/p2p/tests/common/mod.rs
Labels: K-fix, A-node, W-node

#1522 fix: Use Unspecified Ipv4Addr
  bin/node/src/commands/discover.rs
  crates/node/p2p/README.md
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/tests/common/mod.rs
  crates/node/service/src/actors/network.rs
  examples/discovery/src/main.rs
  examples/gossip/src/main.rs
Labels: A-workspace, K-fix

#1527 chore(node/p2p): Peer Count Metric
  Cargo.lock
  Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/lib.rs
  crates/node/p2p/src/macros.rs
  crates/node/p2p/src/metrics/mod.rs
Labels: K-feature, A-node, A-p2p

#1532 fix(bin/node): Discovery Config Unset
  bin/node/src/commands/discover.rs
Labels: K-fix, A-binaries

#1544 feat(protocol): Add `OutputRoot` type
  Cargo.lock
  bin/host/src/interop/handler.rs
  bin/host/src/single/handler.rs
  crates/proof/executor/Cargo.toml
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/constants.rs
  crates/proof/proof-interop/Cargo.toml
  crates/proof/proof-interop/src/consolidation.rs
  crates/protocol/protocol/src/lib.rs
  crates/protocol/protocol/src/output_root.rs
Labels: K-feature, A-protocol

#1549 feat(protocol): Complete `Predeploys` definition
  Cargo.lock
  bin/host/src/interop/handler.rs
  bin/host/src/single/handler.rs
  crates/proof/executor/src/builder/assemble.rs
  crates/proof/executor/src/constants.rs
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/hardforks/src/ecotone.rs
  crates/protocol/hardforks/src/fjord.rs
  crates/protocol/hardforks/src/isthmus.rs
  crates/protocol/interop/Cargo.toml
  crates/protocol/interop/src/access_list.rs
  crates/protocol/interop/src/constants.rs
  crates/protocol/interop/src/lib.rs
  crates/protocol/interop/src/message.rs
  crates/protocol/interop/src/test_util.rs
  crates/protocol/protocol/src/info/variant.rs
  crates/protocol/protocol/src/predeploys.rs
Labels: K-feature, A-protocol

#1546 feat(ci): Interop FPP action tests
  .config/monorepo
  .github/workflows/action_tests.yaml
  .github/workflows/rust_ci.yaml
  .github/workflows/sync.yaml
  Justfile
Labels: K-feature, A-ci, K-action-test, W-interop

#1495 chore(node/p2p): Forward Discovery Events
  Cargo.lock
  crates/node/p2p/src/discv5/driver.rs
  deny.toml
Labels: K-chore, A-node

#1552 fix(node/p2p): Use EnrValidation
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/peers/enr.rs
  crates/node/p2p/src/peers/store.rs
Labels: K-feature, A-p2p

#1548 perf(ci): Cache forge artifacts in action tests
  .github/workflows/action_tests.yaml
Labels: K-perf, A-ci, K-action-test

#1554 fix(node/p2p): Wait for Swarm Address Dialing
  bin/node/src/commands/net.rs
  crates/node/p2p/README.md
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/tests/gossip_connect.rs
  crates/node/service/src/actors/network.rs
  examples/gossip/src/main.rs
Labels: K-fix, A-p2p

#1557 [BOT] Update Monorepo
  .config/monorepo
Labels: A-ci, C-bot

#1553 feat(bin/node): Extend P2P Configurability
  bin/node/src/commands/discover.rs
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/discv5/builder.rs
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/net/config.rs
Labels: K-feature, A-binaries

#1555 fix(std-fpvm): Large file IO
  bin/host/src/backend/online.rs
  crates/proof/preimage/src/errors.rs
  crates/proof/std-fpvm/src/channel.rs
  crates/proof/std-fpvm/src/io.rs
Labels: A-proof, K-fix

#1558 feat(node/p2p): disable dynamic ENR updates for static IPs
  bin/node/src/flags/p2p.rs
Labels: K-feature, A-node, A-p2p

#1559 fix(node/p2p): Fix the address list returned by `opp2p_self`
  crates/node/p2p/src/rpc/request.rs
Labels: K-fix, A-node, A-p2p

#1561 fix(node/p2p): Fix multiaddress translation
  Cargo.lock
  Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/peers/utils.rs
Labels: K-fix, A-node, A-p2p

#1567 feat(std-fpvm): Instruct kernel to lazily allocate pages
  bin/client/src/kona.rs
  bin/client/src/kona_interop.rs
  crates/proof/std-fpvm-proc/src/lib.rs
  crates/proof/std-fpvm/src/io.rs
  crates/proof/std-fpvm/src/malloc.rs
  crates/proof/std-fpvm/src/mips64/io.rs
  crates/proof/std-fpvm/src/mips64/syscall.rs
  crates/proof/std-fpvm/src/riscv64/io.rs
  crates/proof/std-fpvm/src/riscv64/syscall.rs
  crates/proof/std-fpvm/src/traits/basic.rs
Labels: K-feature, A-proof, M-bin

#1590 perf(std-fpvm): Switch to `buddy_system_allocator`
  Cargo.lock
  Cargo.toml
  crates/proof/std-fpvm/Cargo.toml
  crates/proof/std-fpvm/src/malloc.rs
  crates/proof/std-fpvm/src/traits/basic.rs
Labels: K-perf, A-proof

#1591 chore(host): Gate experimental `debug_payloadWitness` usage
  bin/host/src/single/cfg.rs
  bin/host/src/single/handler.rs
Labels: K-chore, A-host

#1592 fix(node/p2p): enable identify protocol. Additional small fixes
  Cargo.lock
  bin/node/src/flags/p2p.rs
  crates/node/engine/src/client.rs
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/error.rs
  crates/node/p2p/src/gossip/event.rs
  crates/node/p2p/src/net/builder.rs
  crates/node/p2p/src/peers/nodes.rs
  crates/node/p2p/src/peers/utils.rs
  crates/node/p2p/src/rpc/request.rs
  crates/node/p2p/tests/common/mod.rs
  crates/node/service/src/service/standard/builder.rs
  crates/providers/providers-alloy/src/l2_chain_provider.rs
Labels: M-bin, K-fix, A-node, A-p2p

#1594 feat(workspace): Kurtosis Justfile Targets
  .config/optimism_package.json
  .gitignore
  Justfile
Labels: K-feature, A-workspace

#1597 feat(protocol): Interop upgrade transactions
  Cargo.lock
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/hardforks/Cargo.toml
  crates/protocol/hardforks/src/bytecode/crossl2inbox_interop.hex
  crates/protocol/hardforks/src/bytecode/ecotone_tx_3.hex
  crates/protocol/hardforks/src/bytecode/interop_tx_0.hex
  crates/protocol/hardforks/src/bytecode/interop_tx_1.hex
  crates/protocol/hardforks/src/bytecode/interop_tx_2.hex
  crates/protocol/hardforks/src/bytecode/interop_tx_3.hex
  crates/protocol/hardforks/src/bytecode/l2tol2_xdm_interop.hex
  crates/protocol/hardforks/src/forks.rs
  crates/protocol/hardforks/src/interop.rs
  crates/protocol/hardforks/src/lib.rs
  crates/protocol/hardforks/src/test_utils.rs
  crates/protocol/protocol/src/predeploys.rs
Labels: K-feature, A-protocol, W-interop

#1598 fix(workspace): Build Kona Node
  Justfile
Labels: A-workspace, K-fix

#1599 chore(interop): Update interop fork activation check for initiating messages
  crates/protocol/interop/src/errors.rs
  crates/protocol/interop/src/graph.rs
Labels: K-chore, A-protocol, W-interop

#1602 feat(protocol): Interop transition batch validity rule
  crates/protocol/protocol/src/batch/single.rs
Labels: K-feature, A-protocol, W-interop
