Repository op-rs/kona, pull requests merged in 2025-06, with the labels that each got.

#1931 chore(docker): Small Grafana Doc Update
  docker/recipes/kona-node/README.md
Labels: A-docker

#1916 feat(node/p2p): adding gossipsub event metrics
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/metrics/mod.rs
Labels: K-feature, M-metrics, A-node, A-p2p

#1933 fix(ci): Prefix-key designation in generic setup
  .github/actions/setup/action.yml
Labels: A-ci, K-fix

#1935 fix(docker): Use cache busting for generic app dockerfile
  docker/apps/kona_app_generic.dockerfile
Labels: K-fix, A-docker

#1934 perf(ci): Use `mold` linker for performance
  .github/actions/setup/action.yml
  .github/workflows/proof.yaml
  .github/workflows/rust_ci.yaml
Labels: K-perf, A-ci

#1932 fix(p2p): Labels for Gossip Events
  crates/node/p2p/src/discv5/driver.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/metrics/mod.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/rpc/src/p2p.rs
  crates/utilities/macros/src/metrics.rs
Labels: A-p2p

#1937 perf(engine): Batch safe-head FCUs
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
Labels: K-perf, W-node, A-engine

#1945 chore(workspace): Bump MSRV to `1.86` + `reth` deps
  .github/actions/setup/action.yml
  .github/workflows/book.yaml
  .github/workflows/e2e_tests_supervisor.yaml
  .github/workflows/rust_ci.yaml
  .github/workflows/sync.yaml
  Cargo.lock
  Cargo.toml
  README.md
  clippy.toml
  crates/node/engine/src/client.rs
  crates/node/p2p/src/gossip/block_validity.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/rpc/src/launcher.rs
  crates/proof/mpt/src/list_walker.rs
  crates/proof/proof-interop/src/consolidation.rs
  crates/proof/proof/src/l2/chain_provider.rs
  crates/protocol/comp/src/channel_out.rs
  crates/protocol/derive/src/test_utils/frame_queue.rs
  crates/protocol/genesis/src/system/update.rs
  crates/protocol/genesis/src/updates/batcher.rs
  crates/protocol/genesis/src/updates/eip1559.rs
  crates/protocol/genesis/src/updates/gas_config.rs
  crates/protocol/genesis/src/updates/gas_limit.rs
  crates/protocol/genesis/src/updates/operator_fee.rs
  docker/apps/kona_app_generic.dockerfile
  rust-toolchain.toml
Labels: K-chore, A-workspace, F-deps

#1947 fix(node/p2p): Gossipsub connection metric keys
  crates/node/p2p/src/gossip/driver.rs
Labels: K-fix, M-metrics, A-p2p, W-node

#1948 feat(node/engine): Add `info` log for safe head promotion
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
Labels: K-feature, A-node, W-node, A-engine

#1955 chore: Update Dependencies
  Cargo.lock
  Cargo.toml
Labels: A-workspace, F-deps

#1958 chore(rpc): Rollup Node RPC Endpoint Metrics
  crates/node/rpc/src/rollup.rs
Labels: A-rpc

#1965 chore(node): Additional CLI Option Stats
  bin/node/src/commands/node.rs
  bin/node/src/metrics/cli_opts.rs
Labels: A-binaries

#1969 fix(node): CLI Metrics Init
  bin/node/src/commands/node.rs
  bin/node/src/flags/metrics.rs
  bin/node/src/metrics/cli_opts.rs
Labels: A-binaries

#1970 chore(docker): Update grafana dashboard
  docker/recipes/kona-node/grafana/dashboards/overview.json
Labels: K-chore, A-docker

#1972 chore(rpc): Server Restarts
  bin/node/src/flags/rpc.rs
  crates/node/rpc/src/config.rs
  crates/node/rpc/src/launcher.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/service/validator.rs
Labels: A-rpc

#1974 chore(node): Rollup Config Metrics
  bin/node/src/flags/globals.rs
  bin/node/src/metrics/cli_opts.rs
Labels: A-binaries

#1975 feat(node/p2p): Peer score histogram
  crates/node/p2p/src/metrics/mod.rs
  crates/node/p2p/src/net/driver.rs
Labels: K-feature, M-metrics, A-p2p, W-node

#1995 chore(client/host): Prepare for `v1.0.2` release
  Cargo.lock
  Cargo.toml
  bin/client/Cargo.toml
  bin/host/Cargo.toml
Labels: K-chore, A-proof, M-bin

#1991 chore(docker): Update grafana dashboard
  docker/recipes/kona-node/grafana/dashboards/overview.json
Labels: K-chore, A-docker

#2007 feat(derive): Initial Metrics
  Cargo.lock
  bin/node/Cargo.toml
  bin/node/src/flags/metrics.rs
  crates/protocol/derive/Cargo.toml
  crates/protocol/derive/src/lib.rs
  crates/protocol/derive/src/metrics/mod.rs
  crates/protocol/derive/src/stages/l1_traversal.rs
  crates/utilities/macros/src/lib.rs
Labels: A-derivation

#1963 feat(supervisor/storage): derivation storage initialization
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
Labels: W-supervisor, A-db

#1952 feat(supervisor/rpc): Add RPC method `supervisor_syncStatus`
  Cargo.lock
  Cargo.toml
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/rpc/Cargo.toml
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/rpc/src/lib.rs
  crates/supervisor/rpc/src/response.rs
  crates/supervisor/types/Cargo.toml
  crates/supervisor/types/src/head.rs
  crates/supervisor/types/src/lib.rs
Labels: A-rpc, W-supervisor

#1979 feat(supervisor/storage): log storage initialization
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/providers/log_provider.rs
Labels: W-supervisor, A-db

#2014 fix(node/p2p): fix op-p2p peers rpc call
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/rpc/request.rs
Labels: K-fix, A-node, A-rpc, A-p2p

#2023 fix: managed node initialisation
  crates/supervisor/core/src/supervisor.rs
Labels: K-bug, W-supervisor

#2009 feat(derive): Max Channel Size and Timeout Metrics
  crates/protocol/derive/src/metrics/mod.rs
  crates/protocol/derive/src/stages/channel/channel_assembler.rs
Labels: A-derivation

#2021 feat(derive): Pipeline Metrics
  crates/protocol/derive/src/metrics/mod.rs
  crates/protocol/derive/src/pipeline/core.rs
  crates/protocol/derive/src/sources/blobs.rs
  crates/protocol/derive/src/sources/calldata.rs
  crates/protocol/derive/src/stages/attributes_queue.rs
  crates/protocol/derive/src/stages/batch/batch_stream.rs
  crates/protocol/derive/src/stages/batch/batch_validator.rs
  crates/protocol/derive/src/stages/channel/channel_reader.rs
  crates/protocol/derive/src/stages/frame_queue.rs
  crates/protocol/derive/src/types/signals.rs
  crates/protocol/protocol/src/batch/core.rs
  crates/protocol/protocol/src/batch/validity.rs
  crates/utilities/macros/src/metrics.rs
Labels: A-derivation

#2018 feat(node/p2p): support user agent and protocol version in opp2p_peers rpc call
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/rpc/request.rs
Labels: K-feature, A-node, A-rpc, A-p2p

#2029 feat(derive): System Config Update Metrics
  crates/protocol/derive/src/lib.rs
  crates/protocol/derive/src/metrics/mod.rs
  crates/protocol/derive/src/stages/l1_traversal.rs
  crates/protocol/genesis/src/system/config.rs
Labels: A-derivation

#2035 fix(docker): Correctly set RPC port in node recipe
  docker/recipes/kona-node/docker-compose.yaml
Labels: K-fix, A-docker, W-node

#2031 feat(derive): Decompressed Channel Size Metric
  crates/protocol/derive/src/metrics/mod.rs
  crates/protocol/derive/src/stages/channel/channel_reader.rs
  crates/protocol/protocol/src/batch/mod.rs
  crates/protocol/protocol/src/batch/reader.rs
  crates/protocol/protocol/src/lib.rs
Labels: A-derivation

#2041 fix(node/service): Authenticate unsafe block signer updates
  crates/node/service/src/actors/l1_watcher_rpc.rs
Labels: K-fix, A-node, W-node

#2040 chore(docker): Update Grafana Dashboard
  docker/recipes/kona-node/grafana/dashboards/overview.json
Labels: A-docker

#2030 feat(node/service): Introduce backpressure in DA watcher channels
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/finalizer.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: K-feature, A-node, W-node

#2042 feat(node/p2p): add a shim handler for sync req resp protocol
  Cargo.lock
  Cargo.toml
  crates/node/p2p/Cargo.toml
  crates/node/p2p/src/gossip/behaviour.rs
  crates/node/p2p/src/gossip/builder.rs
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/error.rs
  crates/node/p2p/src/gossip/event.rs
  crates/node/p2p/src/net/driver.rs
  crates/node/p2p/tests/common/mod.rs
  tests/devnets/large-kona.yaml
  tests/devnets/simple-kona.yaml
Labels: K-feature, A-node, A-p2p

#2037 feat(rpc): Connect Peer RPC Method
  Cargo.lock
  crates/node/p2p/src/rpc/request.rs
  crates/node/rpc/Cargo.toml
  crates/node/rpc/src/p2p.rs
Labels: A-rpc

#2053 chore(node/service): Display node mode in startup log
  crates/node/service/src/service/core.rs
Labels: K-chore, A-node, W-node

#2049 feat(supervisor/core): reset event handling
  Cargo.lock
  Cargo.toml
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/lib.rs
  crates/supervisor/storage/src/traits.rs
Labels: W-supervisor

#2058 chore(engine): Log finalized head updates
  crates/node/engine/src/task_queue/tasks/consolidate/task.rs
  crates/node/engine/src/task_queue/tasks/finalize/task.rs
Labels: K-chore, W-node, A-engine

#2070 feat(supervisor/core): `derivationOriginUpdate` event
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/syncnode/event.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/error.rs
  crates/supervisor/storage/src/lib.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-feature, W-supervisor

#2075 feat(node/p2p): add a dial period to dial protections
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/gossip/gater.rs
  crates/node/p2p/src/gossip/mod.rs
  crates/node/p2p/src/lib.rs
Labels: K-feature, A-node, A-p2p

#2081 feat(p2p): Peers Rpc Endpoint Progress
  crates/node/p2p/src/rpc/request.rs
  crates/node/p2p/src/rpc/types.rs
Labels: A-p2p

#2080 feat(ci): improve caching of e2e jobs
  .github/workflows/e2e_tests.yaml
  tests/justfile
Labels: A-ci, A-docker

#2083 chore(p2p): Banned Peer Count
  crates/node/p2p/src/rpc/request.rs
Labels: A-p2p

#2098 chore(ci): Don't fail fast on E2E matrix
  .github/workflows/e2e_tests.yaml
Labels: K-chore, A-ci

#2101 chore(docker): Update grafana dashboard
  docker/recipes/kona-node/grafana/dashboards/overview.json
Labels: K-chore, A-docker

#2102 chore(node/p2p): Enable peer monitoring if configured
  bin/node/src/flags/p2p.rs
  crates/node/p2p/src/net/builder.rs
Labels: K-chore, A-node, W-node

#2105 feat(node/e2e-tests): bootstrap devstack testing suite
  .github/workflows/e2e_tests.yaml
  tests/devnets/large-kona.yaml
  tests/devnets/simple-kona-geth.yaml
  tests/devnets/simple-kona.yaml
  tests/justfile
  tests/node-devstack/init_test.go
  tests/node-devstack/simple_preset.go
  tests/node-devstack/sync_test.go
Labels: K-feature, M-tests, A-node

#2112 feat(p2p): Track and Return Peer Ping Latencies
  crates/node/p2p/src/gossip/driver.rs
  crates/node/p2p/src/rpc/request.rs
Labels: A-p2p

#2113 chore(node): Add L2 chain ID environment variable
  bin/node/src/flags/globals.rs
Labels: K-chore, A-node, W-node

#2114 chore(node): Standardize envvars
  bin/node/src/commands/node.rs
  bin/node/src/flags/sequencer.rs
  crates/utilities/cli/src/metrics_args.rs
Labels: K-chore, A-node, W-node, A-cli

#2120 chore(rpc): Cleanup IpNet TODOs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/p2p.rs
Labels: A-rpc

#2121 fix(node/p2p): fix opp2p_peers rpc handler. Only return total peer score
  crates/node/p2p/README.md
  crates/node/p2p/src/rpc/request.rs
Labels: K-fix, A-node, A-rpc, A-p2p

#2122 feat(supervisor/rpc); Implement `supervisor_syncStatus` DB read
  crates/supervisor/core/src/supervisor.rs
Labels: A-rpc, W-supervisor

#2130 Add rustc bug reports to gitignore
  .gitignore
Labels: K-meta

#2129 feat(supervisor/rpc): Implement `supervisor_localUnsafe`
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/rpc/src/jsonrpsee.rs
Labels: A-rpc, W-supervisor

#2132 chore(supervisor): state e2e
  tests/devnets/simple-supervisor.yaml
  tests/supervisor/init_test.go
  tests/supervisor/state_test.go
  tests/supervisor/sync_test.go
Labels: M-tests, W-supervisor

#2147 feat(supervisor/core): finalized l1 process handling
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/event/chain.rs
  crates/supervisor/core/src/event/mod.rs
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/core/src/syncnode/traits.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/lib.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-feature, W-supervisor, A-db

#2146 [BOT] Update Monorepo Revision
  .config/monorepo
Labels: A-ci, C-bot

#2159 test(node/e2e-devstack): deprecate p2p tests in devnet-sdk
  tests/node-devstack/p2p_test.go
  tests/node-devstack/sync_test.go
  tests/node/node_test.go
  tests/node/p2p.go
Labels: M-tests, A-node, A-p2p, A-sync

#2167 feat(supervisor/core): finalized l1 watcher with head ref updates
  Cargo.lock
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/l1_watcher/mod.rs
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/service/Cargo.toml
  crates/supervisor/service/src/actors/l1_watcher_rpc.rs
  crates/supervisor/service/src/actors/mod.rs
  crates/supervisor/service/src/lib.rs
  crates/supervisor/service/src/service.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/providers/derivation_provider.rs
Labels: W-supervisor, A-db

#2150 fix(supervisor): expose get_superhead using trait
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-fix, W-supervisor, A-db

#2145 fix(supervisor/rpc): localUnsafe always points to genesis
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/logindexer/indexer.rs
  crates/supervisor/storage/src/chaindb.rs
Labels: A-rpc, W-supervisor, A-db

#2043 chore(supervisor): passing l1_provider instead of l1_rpc_url
  bin/supervisor/src/flags/supervisor.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/error.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
Labels: K-debt, W-supervisor

#2172 feat(supervisor/core): remove hardcoded finalized head from reset event
  crates/supervisor/core/src/syncnode/task.rs
Labels: K-fix, W-supervisor

#2173 feat(supervisor/interop): added a `chain_id` field to ExecutingDescriptor
  Cargo.lock
  crates/protocol/interop/Cargo.toml
  crates/protocol/interop/src/message.rs
Labels: K-bug, W-supervisor

#2162 feat(rpc): Supervisor RPC Server
  Cargo.lock
  bin/node/src/flags/supervisor.rs
  crates/node/rpc/src/jsonrpsee.rs
  crates/node/rpc/src/lib.rs
  crates/node/rpc/src/supervisor/config.rs
  crates/node/rpc/src/supervisor/mod.rs
  crates/node/rpc/src/supervisor/server.rs
  crates/node/service/Cargo.toml
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/supervisor/actor.rs
  crates/node/service/src/actors/supervisor/ext.rs
  crates/node/service/src/actors/supervisor/mod.rs
  crates/node/service/src/actors/supervisor/traits.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
  crates/node/service/src/service/validator.rs
Labels: A-protocol

#2188 fix(supervisor): use raw config l2 url
  crates/supervisor/core/src/syncnode/node.rs
Labels: K-fix, W-supervisor

#2187 fix(interop): remove timestamps from the depset
  bin/supervisor/src/flags/supervisor.rs
  crates/protocol/interop/src/depset.rs
  crates/supervisor/core/src/rpc/server.rs
Labels: K-fix, W-supervisor

#2195 Add chainsafe as codeowners of `kona-interop`
  .github/CODEOWNERS
Labels: K-meta, W-supervisor

#2196 test(protocol/interop): Add log parsing test
  crates/protocol/interop/src/message.rs
Labels: M-tests, A-protocol, W-supervisor

#2208 fix(protocol/interop): made `override_message_expiry_window` as optional
  bin/supervisor/src/flags/supervisor.rs
  crates/protocol/interop/src/depset.rs
  crates/supervisor/core/src/rpc/server.rs
Labels: K-fix, W-supervisor

#2180 feat(supervisor/rpc): Implement `supervisor_superRootAtTimestamp`
  crates/protocol/interop/src/lib.rs
  crates/protocol/interop/src/root.rs
  crates/supervisor/core/Cargo.toml
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/rpc/server.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/traits.rs
  crates/supervisor/rpc/src/jsonrpsee.rs
  crates/supervisor/types/src/lib.rs
  crates/supervisor/types/src/types.rs
Labels: A-rpc, W-supervisor

#2200 feat(supervisor): implemented cross chain safety checker
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/error.rs
  crates/supervisor/core/src/safety_checker/mod.rs
Labels: W-supervisor

#2230 feat(protocol/derive): Provide Block Signal
  crates/protocol/derive/src/errors/pipeline.rs
  crates/protocol/derive/src/pipeline/core.rs
  crates/protocol/derive/src/stages/attributes_queue.rs
  crates/protocol/derive/src/stages/batch/batch_queue.rs
  crates/protocol/derive/src/stages/batch/batch_validator.rs
  crates/protocol/derive/src/stages/l1_traversal.rs
  crates/protocol/derive/src/types/signals.rs
Labels: A-derivation

#2225 chore(bin/node): Increase error verbosity on port binding failure
  bin/node/src/flags/p2p.rs
Labels: K-chore, M-bin, A-node, W-node

#2233 chore(node/service): Cleanup `RollupNodeService::start`
  bin/node/src/commands/node.rs
  bin/node/src/flags/p2p.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
Labels: K-chore, A-node, W-node

#2234 chore(bin/node): Move conductor flags to sequencer args
  bin/node/src/flags/sequencer.rs
  bin/node/src/flags/supervisor.rs
Labels: K-chore, A-node, W-node

#2224 chore(node/test): update dependencies
  tests/devnets/large-kona.yaml
  tests/devnets/simple-kona-geth.yaml
  tests/devnets/simple-kona.yaml
  tests/devnets/simple-supervisor.yaml
  tests/go.mod
  tests/go.sum
  tests/justfile
  tests/node-devstack/mixed_preset.go
  tests/node/node_test.go
  tests/node/rpc_test.go
Labels: K-chore, M-tests, A-node

#2222 fix(node/service): Enable TLS in alloy providers / transports
  crates/node/engine/Cargo.toml
  crates/node/service/Cargo.toml
  crates/node/sources/Cargo.toml
  crates/providers/providers-alloy/Cargo.toml
Labels: F-deps, K-fix, A-node

#2212 feat(supervisor): implemented safety checker job
  crates/supervisor/core/src/lib.rs
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/error.rs
  crates/supervisor/core/src/safety_checker/mod.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/traits.rs
Labels: W-supervisor

#2249 chore(derive): Code Doc Comments
  crates/protocol/derive/src/attributes/stateful.rs
  crates/protocol/derive/src/errors/attributes.rs
  crates/protocol/derive/src/errors/pipeline.rs
  crates/protocol/derive/src/errors/sources.rs
  crates/protocol/derive/src/errors/stages.rs
  crates/protocol/derive/src/pipeline/builder.rs
  crates/protocol/derive/src/pipeline/core.rs
  crates/protocol/derive/src/sources/blob_data.rs
  crates/protocol/derive/src/sources/ethereum.rs
  crates/protocol/derive/src/stages/attributes_queue.rs
  crates/protocol/derive/src/stages/batch/batch_provider.rs
  crates/protocol/derive/src/stages/batch/batch_queue.rs
  crates/protocol/derive/src/stages/batch/batch_stream.rs
  crates/protocol/derive/src/stages/batch/batch_validator.rs
  crates/protocol/derive/src/stages/batch/mod.rs
  crates/protocol/derive/src/stages/channel/channel_assembler.rs
  crates/protocol/derive/src/stages/channel/channel_bank.rs
  crates/protocol/derive/src/stages/channel/channel_provider.rs
  crates/protocol/derive/src/stages/channel/channel_reader.rs
  crates/protocol/derive/src/stages/channel/mod.rs
  crates/protocol/derive/src/stages/frame_queue.rs
  crates/protocol/derive/src/stages/l1_retrieval.rs
  crates/protocol/derive/src/stages/l1_traversal.rs
  crates/protocol/derive/src/test_utils/attributes_queue.rs
  crates/protocol/derive/src/test_utils/batch_provider.rs
  crates/protocol/derive/src/test_utils/batch_stream.rs
  crates/protocol/derive/src/test_utils/chain_providers.rs
  crates/protocol/derive/src/test_utils/channel_provider.rs
  crates/protocol/derive/src/test_utils/channel_reader.rs
  crates/protocol/derive/src/test_utils/frame_queue.rs
  crates/protocol/derive/src/test_utils/frames.rs
  crates/protocol/derive/src/test_utils/pipeline.rs
  crates/protocol/derive/src/test_utils/sys_config_fetcher.rs
  crates/protocol/derive/src/traits/attributes.rs
  crates/protocol/derive/src/traits/data_sources.rs
  crates/protocol/derive/src/traits/pipeline.rs
  crates/protocol/derive/src/traits/providers.rs
  crates/protocol/derive/src/traits/reset.rs
  crates/protocol/derive/src/traits/stages.rs
  crates/protocol/derive/src/types/signals.rs
Labels: A-protocol

#2250 fix(supervisor/core): consistency check
  Cargo.lock
  bin/supervisor/Cargo.toml
  bin/supervisor/src/flags/supervisor.rs
  crates/supervisor/core/src/config/rollup_config_set.rs
  crates/supervisor/core/src/syncnode/task.rs
Labels: K-fix, W-supervisor

#2260 fix(docker): Include `ca-certificates` in final executable image
  docker/apps/kona_app_generic.dockerfile
Labels: K-fix, A-docker

#2265 chore(hardforks): Code Comment References
  crates/protocol/hardforks/src/ecotone.rs
  crates/protocol/hardforks/src/fjord.rs
  crates/protocol/hardforks/src/forks.rs
  crates/protocol/hardforks/src/interop.rs
  crates/protocol/hardforks/src/isthmus.rs
  crates/protocol/hardforks/src/traits.rs
Labels: A-protocol

#2253 feat(supervisor/core): l2 finalized head update
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/event/chain.rs
  crates/supervisor/core/src/l1_watcher/watcher.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/traits.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/traits.rs
Labels: K-feature, W-supervisor

#2290 chore(node): Indexed Mode Rename
  crates/node/service/src/service/mode.rs
  crates/node/service/src/service/standard/builder.rs
  crates/node/service/src/service/standard/node.rs
  crates/protocol/derive/src/lib.rs
  crates/protocol/derive/src/pipeline/builder.rs
  crates/protocol/derive/src/pipeline/mod.rs
  crates/protocol/derive/src/pipeline/types.rs
  crates/protocol/derive/src/stages/mod.rs
  crates/protocol/derive/src/stages/traversal/indexed.rs
  crates/protocol/derive/src/stages/traversal/mod.rs
  crates/providers/providers-alloy/src/pipeline.rs
Labels: A-node

#2292 feat(node/test): monitor cpu usage inside test
  tests/devnets/large-kona.yaml
  tests/devnets/simple-kona-geth.yaml
  tests/devnets/simple-kona.yaml
  tests/devnets/simple-supervisor.yaml
  tests/go.mod
  tests/node-devstack/cpu_monitor_test.go
  tests/node-devstack/mixed_preset.go
  tests/node-devstack/p2p_test.go
Labels: K-feature, K-perf, M-tests, A-node

#2297 fix(supervisor/storage): chaindb metric initialization
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/metrics.rs
Labels: K-fix, M-metrics, W-supervisor

#2289 feat(supervisor): broadcast cross head update events to managed node
  crates/supervisor/core/src/chain_processor/chain.rs
  crates/supervisor/core/src/chain_processor/task.rs
  crates/supervisor/core/src/event/chain.rs
  crates/supervisor/core/src/safety_checker/cross.rs
  crates/supervisor/core/src/safety_checker/task.rs
  crates/supervisor/core/src/supervisor.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/traits.rs
  crates/supervisor/storage/src/chaindb.rs
  crates/supervisor/storage/src/chaindb_factory.rs
  crates/supervisor/storage/src/metrics.rs
  crates/supervisor/storage/src/traits.rs
Labels: W-supervisor

#2279 feat(supervisor/syncnode): Observe `ManagedModeApiClient` RPC calls
  crates/supervisor/core/src/syncnode/metrics.rs
  crates/supervisor/core/src/syncnode/mod.rs
  crates/supervisor/core/src/syncnode/node.rs
  crates/supervisor/core/src/syncnode/task.rs
Labels: A-rpc, W-supervisor, A-sync

#2291 chore(book): Indexed + Polling Traversal Stage Docs
  book/src/protocol/derive/intro.md
  book/src/protocol/derive/signaling.md
  book/src/protocol/derive/stages.md
  crates/protocol/derive/src/test_utils/mod.rs
  crates/protocol/derive/src/test_utils/pipeline.rs
Labels: A-book

#2302 chore(node/engine): refactor process method
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/mod.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/lib.rs
Labels: K-chore, A-node, A-engine

#2310 chore(node/sequencer): refactor the sequencer module using the builder pattern
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
  crates/node/service/src/service/standard/node.rs
Labels: K-chore, A-node, A-sequencer

#2315 fix(node/service): invert the channel arrows in the rollup node service
  crates/node/service/src/actors/derivation.rs
  crates/node/service/src/actors/engine/actor.rs
  crates/node/service/src/actors/engine/mod.rs
  crates/node/service/src/actors/l1_watcher_rpc.rs
  crates/node/service/src/actors/mod.rs
  crates/node/service/src/actors/network.rs
  crates/node/service/src/actors/rpc.rs
  crates/node/service/src/actors/runtime.rs
  crates/node/service/src/actors/sequencer/actor.rs
  crates/node/service/src/actors/sequencer/mod.rs
  crates/node/service/src/actors/supervisor/actor.rs
  crates/node/service/src/actors/supervisor/mod.rs
  crates/node/service/src/actors/traits.rs
  crates/node/service/src/lib.rs
  crates/node/service/src/service/core.rs
Labels: K-fix, A-node, A-services

#2171 chore(protocol/docs): Update spec for gov token address constant
  crates/protocol/protocol/src/predeploys.rs
Labels: K-docs, A-protocol, K-debt

#2326 chore(supervisor): grafana dashboard
  docker/recipes/kona-supervisor/grafana/dashboard/dashboard.yml
  docker/recipes/kona-supervisor/grafana/dashboard/kona-supervisor.json
Labels: M-metrics, W-supervisor
